.leagueButtonWrapper {
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1.4rem;
  justify-content: space-between;

  button {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #cbcbcb;
    background-color: transparent;
    border-color: transparent;

    &.active {
      font-weight: 700;
      color: #ffffff;
      border: 2px solid #9e00ff;
      border-radius: 0.6rem;
    }
  }
}
