@import 'styles/common.scss';

.pageWrap {
  @include pageWrap;

  p {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
}

.title {
  @include pageTitle;
  display: flex;
  justify-content: center;
}

.winnerImageContainer {
  height: 10rem;
  margin-top: 1.8rem;
  background-color: rgb(88, 88, 88);
}
