.winnerInfoContainer {
  p {
    margin: 0.4rem 0 0;
  }

  .userId {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
  }

  .gameInfo {
    font-size: 1rem;

    .highlighted {
      font-weight: 700;
      color: #ffc700;
    }
  }

  .date {
    font-size: 0.8rem;
    color: rgb(206, 206, 206);
  }
}
