@mixin modeWrapBasic {
  display: flex;
  justify-content: space-between;
  margin: 0 0.6rem 2rem 0.6rem;
}

.rankModeWrap {
  @include modeWrapBasic;
}

.gameModeWrap {
  @include modeWrapBasic;
  position: relative;
}

.profileModeWrap {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
}

.matchModeWrap {
  margin-left: 0.6rem;
  margin-bottom: -1.6rem;
}
