@import '../common.scss';

.modeButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  margin: 0.5rem 0.6rem 0 0.6rem;
  color: white;
  input[type='radio'] {
    position: absolute;
    opacity: 0;
  }
  :checked + .modeButton {
    background: rgba(223, 223, 223, 0.5);
  }
  .modeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0 0.1rem;
    padding-block: 0.3rem;
    border: solid 1px white;
    border-radius: $small-radius;
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // background: $gray;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }
}
