@import '../common.scss';

.modeButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  margin: 0 1.25rem;
  color: #ffffff;
  &.zIndexListButton {
    margin: 0 1.916rem;
  }
  input[type='radio'] {
    position: absolute;
    opacity: 0;
  }
  :checked + .modeButton {
    &.both {
      background: #f82f9a;
    }
    &.normal {
      background: #3270cd;
    }
    &.rank {
      background: #a06cbf;
    }
  }
  .modeButton {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 2.063rem;
    margin: 0 0.125rem;
    background: #0e0518;
    border-radius: 0.625rem 0.625rem 0 0;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
  }
}
