@import '../common.scss';

.checkBox {
  display: flex;
  align-items: center;
}

.box {
  position: relative;
  width: 19px;
  height: 19px;
  border: 2px solid #707070;
}
.checking {
  margin-left: 0.4rem;
  .checkBoxText {
    color: white;
    font-size: 1rem;
  }
}
