@mixin modeWrapBasic {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 0 0.6rem 2rem;
}

.rankModeWrap {
  @include modeWrapBasic;
}

.gameModeWrap {
  @include modeWrapBasic;
  position: relative;
  margin: 1rem 0.6rem 1.5rem;
}

.profileModeWrap {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
}

.matchModeWrap {
  margin-bottom: -1.6rem;
  margin-left: 0.6rem;
}
