@import 'styles/common.scss';

.topMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  * {
    margin-right: 0.5rem;
  }
}

.coins {
  cursor: pointer;
}

.manual {
  @include match-noti-button;
  width: 4.2rem;
  height: 1.6rem;
  padding: 0;
  margin: 0 0.8rem 0 0;
  font-size: $small-font;
  font-weight: 500;
  border-radius: $small-radius;
}
