.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

// @media (max-width: 768px) {
//   .backdrop {
//     display: block;
//     align-items: flex-end;
//   }
// }
