.dropdown {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 240px;
  flex-direction: row;
  padding: 12px;
  margin-top: 80px;
  margin-left: -50px;
  background-color: #f3f3ff;
  border: 1px solid #c1c8f0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.dropdown::before {
  position: absolute;
  bottom: 100%;
  left: 24%;
  z-index: 6;
  content: '';
  border-color: transparent transparent #f3f3ff;
  border-style: solid;
  border-width: 10px;
  transform: translateX(-50%);
}

.dropdown::after {
  position: absolute;
  bottom: 100%;
  left: 24%;
  content: '';
  border-color: transparent transparent #c1c8f0;
  border-style: solid;
  border-width: 11px;
  transform: translateX(-50%);
}

.color {
  width: 24px;
  height: 24px;
}

.color + .color {
  margin-left: 10px;
}
