@import 'styles/common.scss';
@import 'styles/ProfileBackgroundTheme.scss';

// ANCHOR : page

.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
  width: fit-content;
  cursor: pointer;
}

.gameResultWrapper {
  position: relative;
  z-index: 0;
}

// ANCHOR : item container mixin

@mixin itemContainer($type) {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  @if ($type == 'SMALL') {
    min-width: 18.4rem;
    min-height: 2.8rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  } @else if ($type == 'BIG') {
    min-width: 20.5rem;
    min-height: 6rem;
    padding: 0.5rem 0;
    border-radius: 1.5rem;
  }
}

$gameItemTheme1: map-get(
  $map: $bg-pink-orange,
  $key: 'profile-game-result',
);
$gameItemTheme2: map-get(
  $map: $bg-blue-green,
  $key: 'profile-game-result',
);
$gameItemTheme3: map-get(
  $map: $bg-midnight,
  $key: 'profile-game-result',
);
$gameItemTheme4: map-get(
  $map: $bg-orange,
  $key: 'profile-game-result',
);
$gameItemTheme5: map-get(
  $map: $bg-grass-green,
  $key: 'profile-game-result',
);
$gameItemTheme6: map-get(
  $map: $bg-lemon-blue,
  $key: 'profile-game-result',
);
$gameItemTheme7: map-get(
  $map: $bg-dracula,
  $key: 'profile-game-result',
);
$gameItemTheme8: map-get(
  $map: $bg-mint-green,
  $key: 'profile-game-result',
);
$gameItemTheme9: map-get(
  $map: $bg-steel-gray,
  $key: 'profile-game-result',
);
$gameItemTheme10: map-get(
  $map: $bg-blood-red,
  $key: 'profile-game-result',
);
$gameItemTheme11: map-get(
  $map: $bg-blue-sky,
  $key: 'profile-game-result',
);
$gameItemTheme12: map-get(
  $map: $bg-ocean-blue,
  $key: 'profile-game-result',
);
$gameItemTheme13: map-get(
  $map: $bg-pink-blue,
  $key: 'profile-game-result',
);
$gameItemTheme14: map-get(
  $map: $bg-sunset-pink,
  $key: 'profile-game-result',
);
$gameItemTheme15: map-get(
  $map: $bg-dark-navy,
  $key: 'profile-game-result',
);
$gameItemTheme16: map-get(
  $map: $bg-orange-green,
  $key: 'profile-game-result',
);

@mixin itemBackgroud($type) {
  @if ($type == 'SMALL') {
    &.light {
      &.main {
        background: linear-gradient(0deg, #9134f7, #9134f7);
      }
      &.game {
        &.both {
          background: #ff7fb8;
        }
        &.normal {
          background: #5fa5ef;
        }
        &.rank {
          background: linear-gradient(180deg, #8f2fea 0%, #8c29da 100%);
        }
      }
      &.color1 {
        background: map-get($map: $gameItemTheme1, $key: 'light');
      }
      &.color2 {
        background: map-get($map: $gameItemTheme2, $key: 'light');
      }
      &.color3 {
        background: map-get($map: $gameItemTheme3, $key: 'light');
      }
      &.color4 {
        background: map-get($map: $gameItemTheme4, $key: 'light');
      }
      &.color5 {
        background: map-get($map: $gameItemTheme5, $key: 'light');
      }
      &.color6 {
        background: map-get($map: $gameItemTheme6, $key: 'light');
      }
      &.color7 {
        background: map-get($map: $gameItemTheme7, $key: 'light');
      }
      &.color8 {
        background: map-get($map: $gameItemTheme8, $key: 'light');
      }
      &.color9 {
        background: map-get($map: $gameItemTheme9, $key: 'light');
      }
      &.color10 {
        background: map-get($map: $gameItemTheme10, $key: 'light');
      }
      &.color11 {
        background: map-get($map: $gameItemTheme11, $key: 'light');
      }
      &.color12 {
        background: map-get($map: $gameItemTheme12, $key: 'light');
      }
      &.color13 {
        background: map-get($map: $gameItemTheme13, $key: 'light');
      }
      &.color14 {
        background: map-get($map: $gameItemTheme14, $key: 'light');
      }
      &.color15 {
        background: map-get($map: $gameItemTheme15, $key: 'light');
      }
      &.color16 {
        background: map-get($map: $gameItemTheme16, $key: 'light');
      }
    }
    &.dark {
      &.main {
        background: linear-gradient(180deg, #631db2 0%, #6a0db3 100%);
      }
      &.both {
        background: linear-gradient(180deg, #dd3b89 0%, #c71b82 100%);
      }
      &.normal {
        background: linear-gradient(180deg, #3d61bc 0%, #4f45c4 92.19%);
      }
      &.rank {
        background: linear-gradient(180deg, #631db2 0%, #6a0db2 92.19%);
      }
      &.color1 {
        background: map-get($map: $gameItemTheme1, $key: 'dark');
      }
      &.color2 {
        background: map-get($map: $gameItemTheme2, $key: 'dark');
      }
      &.color3 {
        background: map-get($map: $gameItemTheme3, $key: 'dark');
      }
      &.color4 {
        background: map-get($map: $gameItemTheme4, $key: 'dark');
      }
      &.color5 {
        background: map-get($map: $gameItemTheme5, $key: 'dark');
      }
      &.color6 {
        background: map-get($map: $gameItemTheme6, $key: 'dark');
      }
      &.color7 {
        background: map-get($map: $gameItemTheme7, $key: 'dark');
      }
      &.color8 {
        background: map-get($map: $gameItemTheme8, $key: 'dark');
      }
      &.color9 {
        background: map-get($map: $gameItemTheme9, $key: 'dark');
      }
      &.color10 {
        background: map-get($map: $gameItemTheme10, $key: 'dark');
      }
      &.color11 {
        background: map-get($map: $gameItemTheme11, $key: 'dark');
      }
      &.color12 {
        background: map-get($map: $gameItemTheme12, $key: 'dark');
      }
      &.color13 {
        background: map-get($map: $gameItemTheme13, $key: 'dark');
      }
      &.color14 {
        background: map-get($map: $gameItemTheme14, $key: 'dark');
      }
      &.color15 {
        background: map-get($map: $gameItemTheme15, $key: 'dark');
      }
      &.color16 {
        background: map-get($map: $gameItemTheme16, $key: 'dark');
      }
    }
  } @else {
    // BIG
    &.main {
      background: linear-gradient(89.97deg, #8034f7 11.73%, #8120c3 99.97%);
    }
    &.game {
      &.both {
        background: linear-gradient(90.88deg, #ff86dd 10.44%, #ff7272 99.52%);
      }
      &.normal {
        background: linear-gradient(90.88deg, #8fc7fb 10.44%, #4e8fdb 99.52%);
      }
      &.rank {
        background: linear-gradient(90.88deg, #9134f7 10.44%, #8921c5 99.52%);
      }
    }
    &.color1 {
      background: map-get($map: $gameItemTheme1, $key: 'big');
    }
    &.color2 {
      background: map-get($map: $gameItemTheme2, $key: 'big');
    }
    &.color3 {
      background: map-get($map: $gameItemTheme3, $key: 'big');
    }
    &.color4 {
      background: map-get($map: $gameItemTheme4, $key: 'big');
    }
    &.color5 {
      background: map-get($map: $gameItemTheme5, $key: 'big');
    }
    &.color6 {
      background: map-get($map: $gameItemTheme6, $key: 'big');
    }
    &.color7 {
      background: map-get($map: $gameItemTheme7, $key: 'big');
    }
    &.color8 {
      background: map-get($map: $gameItemTheme8, $key: 'big');
    }
    &.color9 {
      background: map-get($map: $gameItemTheme9, $key: 'big');
    }
    &.color10 {
      background: map-get($map: $gameItemTheme10, $key: 'big');
    }
    &.color11 {
      background: map-get($map: $gameItemTheme11, $key: 'big');
    }
    &.color12 {
      background: map-get($map: $gameItemTheme12, $key: 'big');
    }
    &.color13 {
      background: map-get($map: $gameItemTheme13, $key: 'big');
    }
    &.color14 {
      background: map-get($map: $gameItemTheme14, $key: 'big');
    }
    &.color15 {
      background: map-get($map: $gameItemTheme15, $key: 'big');
    }
    &.color16 {
      background: map-get($map: $gameItemTheme16, $key: 'big');
    }
  }
}

@mixin zIndexItem($type) {
  @if ($type == 'SMALL') {
    margin: 0 1rem;
  } @else if ($type == 'BIG') {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

// ANCHOR : small item

.smallItemContainer {
  @include itemContainer('SMALL');
  @include itemBackgroud('SMALL');
  &.zIndexList {
    @include zIndexItem('SMALL');
  }
  // player
  .smallTeam {
    display: flex;
    align-items: center;
    color: #ffffff;
    &.Left {
      flex-direction: row;
    }
    &.Right {
      flex-direction: row-reverse;
    }
    span {
      margin: 0 0.5rem;
      font-family: 'Roboto', sans-serif;
      font-size: 0.7rem;
      font-weight: 500;
      text-align: center;
    }
  }
  // score
  .smallScoreBoard {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }
}

// ANCHOR : big item

.bigItemContainer {
  @include itemContainer('BIG');
  @include itemBackgroud('BIG');
  &.zIndexList {
    @include zIndexItem('BIG');
  }
  // player
  .bigTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userId {
      margin: 0.1rem 0;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
    }
    .winRate {
      box-sizing: border-box;
      min-width: 3.8rem;
      padding: 0.15rem 0.5rem;
      font-family: 'Roboto', sans-serif;
      font-size: 0.6rem;
      font-style: normal;
      font-weight: 350;
      color: #000000;
      text-align: center;
      background: #ffffff;
      border-radius: 0.2rem;
      &.zIndexWinRate {
        color: #ffffff;
        background: rgba(0, 0, 0, 0.33);
      }
    }
  }

  // score
  @mixin gameStatus() {
    min-width: 2rem;
    padding: 0.2rem 0.3rem;
    margin-bottom: 0.4rem;
    font-size: 0.6rem;
    color: white;
    text-align: center;
    border-radius: 0.2rem;
  }

  @mixin waitAnimation($delay) {
    @include spanUpDownAnimation(0.2rem, 0.2rem);
    position: relative;
    display: inline-block;
    animation-delay: $delay;
  }

  .bigScoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .gameStatusLive {
      @include gameStatus;
      background: #ff007a;
      &.profile {
        background: #ffffff9b;
      }
    }
    .gameStatusWait {
      @include gameStatus;
      .span1 {
        @include waitAnimation(0.3s);
      }
      .span2 {
        @include waitAnimation(0.5s);
      }
      .span3 {
        @include waitAnimation(0.7s);
      }
    }
    .gameStatusEnd {
      @include gameStatus();
      font-weight: 700;
      color: #8c28d9;
      background-color: #d4a3fb;
      &.profile {
        color: #0000004f;
        background: #ffffff9b;
      }
      &.both {
        color: #b94b80;
        background-color: #ffb1d9;
      }
      &.normal {
        color: #5695df;
        background-color: #b4dbff;
      }
      &.rank {
        color: #8c28d9;
        background-color: #d4a3fb;
      }
    }

    .gameScore {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      text-align: center;
    }
  }
}

.getButton {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.8rem auto 0;
  color: #ffffff;
  cursor: pointer;
  background: none;
  border: none;
  svg {
    height: 1.2rem;
  }
}

@keyframes upDown {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.2rem);
  }
}
