@import 'styles/common.scss';

// ANCHOR : page

.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
  width: fit-content;
  cursor: pointer;
}

.gameResultWrapper {
  position: relative;
  z-index: 0;
}

// ANCHOR : item container mixin

@mixin itemContainer($type) {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  @if ($type == 'SMALL') {
    min-width: 18.36rem;
    border-radius: 0.938rem;
    height: 2.688rem;
    padding: 0.505rem 0.954rem;
  } @else if ($type == 'BIG') {
    min-width: 20.438rem;
    border-radius: 1.5rem;
    height: 6.091rem;
    padding: 0.5rem 0;
  }
}

@mixin itemBackgroud($type) {
  @if ($type == 'SMALL') {
    &.light {
      background: linear-gradient(0deg, #9134f7, #9134f7);
      &.both {
        background: #ff7fb8;
      }
      &.normal {
        background: #5fa5ef;
      }
      &.rank {
        background: linear-gradient(180deg, #8f2fea 0%, #8c29da 100%);
      }
    }
    &.dark {
      background: linear-gradient(180deg, #631db2 0%, #6a0db3 100%);
      &.both {
        background: linear-gradient(180deg, #dd3b89 0%, #c71b82 100%);
      }
      &.normal {
        background: linear-gradient(180deg, #3d61bc 0%, #4f45c4 92.19%);
      }
      &.rank {
        background: linear-gradient(180deg, #631db2 0%, #6a0db2 92.19%);
      }
    }
  } @else {
    // BIG
    background: linear-gradient(89.97deg, #8034f7 11.73%, #8120c3 99.97%);
    &.both {
      background: linear-gradient(90.88deg, #ff86dd 10.44%, #ff7272 99.52%);
    }
    &.normal {
      background: linear-gradient(90.88deg, #8fc7fb 10.44%, #4e8fdb 99.52%);
    }
    &.rank {
      background: linear-gradient(90.88deg, #9134f7 10.44%, #8921c5 99.52%);
    }
  }
}

@mixin zIndexItem($type) {
  @if ($type == 'SMALL') {
    margin: 0 0.978rem;
  } @else if ($type == 'BIG') {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

// ANCHOR : small item

.smallItemContainer {
  @include itemContainer('SMALL');
  @include itemBackgroud('SMALL');
  &.zIndexList {
    @include zIndexItem('SMALL');
  }
  // player
  .smallTeam {
    display: flex;
    align-items: center;
    color: #ffffff;
    &.Left {
      flex-direction: row;
    }
    &.Right {
      flex-direction: row-reverse;
    }
    span {
      margin: 0 0.5rem;
      font-family: Roboto;
      font-size: 0.688rem;
      font-weight: 500;
      line-height: 0.813rem;
      letter-spacing: 0.04em;
      text-align: center;
    }
  }
  // score
  .smallScoreBoard {
    color: #ffffff;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.853rem;
    letter-spacing: 0.04em;
    text-align: center;
  }
}

// ANCHOR : big item

.bigItemContainer {
  @include itemContainer('BIG');
  @include itemBackgroud('BIG');
  &.zIndexList {
    @include zIndexItem('BIG');
  }
  // player
  .bigTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userId {
      margin: 0.1rem 0;
      font-family: Roboto;
      font-size: 0.688rem;
      font-weight: 500;
      letter-spacing: 0.04em;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }
    .winRate {
      min-width: 3.729rem;
      padding: 0.15rem 0.5rem;
      box-sizing: border-box;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 350;
      font-size: 0.56rem;
      text-align: center;
      letter-spacing: 0.04em;
      color: #000000;
      background: #ffffff;
      border-radius: 0.188rem;
      &.zIndexWinRate {
        background: rgba(0, 0, 0, 0.33);
        color: #ffffff;
      }
    }
  }

  // score
  @mixin gameStatus() {
    min-width: 2rem;
    border-radius: 0.188rem;
    color: white;
    font-size: 0.35rem;
    text-align: center;
    padding: 0.2rem 0.3rem;
    margin-bottom: 0.4rem;
  }

  @mixin waitAnimation($delay) {
    @include spanUpDownAnimation(0.2rem, 0.2rem);
    display: inline-block;
    position: relative;
    animation-delay: $delay;
  }

  .bigScoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .gameStatusLive {
      @include gameStatus;
      background: #ff007a;
    }
    .gameStatusWait {
      @include gameStatus;
      .span1 {
        @include waitAnimation(0.3s);
      }
      .span2 {
        @include waitAnimation(0.5s);
      }
      .span3 {
        @include waitAnimation(0.7s);
      }
    }
    .gameStatusEnd {
      @include gameStatus();
      background-color: #d4a3fb;
      font-weight: 700;
      color: #8c28d9;
      &.both {
        background-color: #ffb1d9;
        color: #b94b80;
      }
      &.normal {
        background-color: #b4dbff;
        color: #5695df;
      }
      &.rank {
        background-color: #d4a3fb;
        color: #8c28d9;
      }
    }

    .gameScore {
      font-family: Roboto;
      color: white;
      font-size: 1.25rem;
      font-weight: 700;
      text-align: center;
      // letter-spacing: 0.3rem;
    }
  }
}

.getButton {
  display: block;
  width: 2.125rem;
  height: 2.125rem;
  margin: 0.688rem auto 0 auto;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  svg {
    height: 1.183rem;
  }
}

@keyframes upDown {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.2rem);
  }
}
