@import 'styles/common.scss';

.pageWrap {
  @include pageWrap;
}

@mixin imageCircle($background-color, $width, $height) {
  background: $background-color;
  border-radius: 50%;
  text-align: center;
  width: $width;
  height: $height;
}

@mixin spanUpDownAnimation {
  font-size: 0.2rem;
  padding: 0.2rem;
  animation: upDown 0.75s infinite;
}

.title {
  @include pageTitle;
}

.smallContainer {
  border-radius: $midium-radius;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  background: $gray;
  margin-bottom: 0.2rem;
  padding: 0.5rem 1.2rem;
}

.smallTeam {
  .smallLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    .userImage {
      @include imageCircle(white, 2rem, 2rem);
      margin-right: 0.7rem;
    }
  }
  .smallRight {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .userImage {
      @include imageCircle($dark-gray, 2rem, 2rem);
      margin-left: 0.7rem;
    }
  }
}

.smallScoreBoard {
  font-weight: 500;
  color: black;
  text-align: center;
}

.bigContainer {
  border-radius: $midium-radius;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  background: linear-gradient(135deg, $pp-red, $pp-blue);
  margin-bottom: 0.2rem;
  padding: 0.8rem 0;
}

.bigTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  .userImage {
    @include imageCircle(white, 4.5rem, 4.5rem);
  }
  .userId {
    margin: 0.5rem 0;
    text-align: center;
    text-shadow: $text-shadow;
    color: white;
    font-size: $big-font;
    font-weight: 600;
  }
  .winRate {
    border: 0.1rem white solid;
    border-radius: $small-radius;
    text-align: center;
    font-size: $small-font;
    color: white;
    padding: 0.1rem 0.8rem;
  }
}

.bigScoreBoard {
  .gameStatusLive {
    position: relative;
    top: -0.8rem;
    border: black solid 0.1rem;
    background: $pp-red;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
    padding: 0.2rem;
    animation: upDown 1.3s infinite;
  }
  .gameStatusWait {
    position: relative;
    top: -0.8rem;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
    padding: 0.2rem;
    span {
      position: relative;
      display: inline-block;
    }
  }
  .gameStatusEnd {
    font-size: 0.8rem;
    position: relative;
    font-weight: 400;
    color: white;
    padding: 0.2rem;
    text-shadow: $text-shadow;
    text-align: center;
  }

  .span1 {
    @include spanUpDownAnimation;
    animation-delay: 0.3s;
  }
  .span2 {
    @include spanUpDownAnimation;
    animation-delay: 0.5s;
  }
  .span3 {
    @include spanUpDownAnimation;
    animation-delay: 0.7s;
  }

  .gameScore {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
  }
}

@keyframes upDown {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.2rem);
  }
}

.getButton {
  width: 100%;
  color: black;
  background: linear-gradient(to bottom, white, $gray);
  border-radius: $small-radius;
  font-size: $small-font;
  input {
    all: unset;
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
  }
}

.cursorOn {
  cursor: pointer;
}
