@import 'styles/common.scss';

.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
  width: fit-content;
  margin-inline: auto;
  cursor: pointer;
  &.normal {
    text-shadow: $text-border-black, 0.3rem 0.3rem 0 $norm-lightblue2;
  }
}

.smallContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  height: 3.3rem;
  align-items: center;
  padding: 0.5rem 0.9rem;
  margin-bottom: 0.2rem;
  border-radius: $medium-radius;
  background: $gray;
  cursor: pointer;
}

.bigContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding: 0.8rem 0;
  margin-bottom: 0.2rem;
  border-radius: $medium-radius;
  &.rank {
    background: linear-gradient(135deg, $rank-red, $rank-blue);
  }
  &.normal {
    background: linear-gradient(135deg, $norm-lightblue, $norm-hotpink);
  }
}

.smallTeam {
  font-size: 0.9rem;
  font-weight: 500;
  word-break: keep-all;
  .Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
  }
  .Right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: end;
  }
}

.smallScoreBoard {
  color: black;
  font-weight: 500;
  text-align: center;
}

.bigTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0.5rem;
  .userId {
    margin: 0.5rem 0;
    color: white;
    font-size: $medium-font;
    font-weight: 600;
    text-align: center;
    text-shadow: $text-border-black;
    word-break: keep-all;
    cursor: pointer;
  }
  .winRate {
    min-width: 5rem;
    padding: 0.1rem 0.8rem;
    border-radius: $small-radius;
    border: 0.1rem white solid;
    color: white;
    font-size: $small-font;
    text-align: center;
  }
}

.bigScoreBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  .gameStatusLive {
    position: relative;
    top: -0.8rem;
    width: 4rem;
    padding: 0.2rem;
    border: 0.1rem solid black;
    background: $pp-red;
    color: white;
    text-align: center;
    text-shadow: $text-border-black;
    animation: upDown 1.3s infinite;
  }
  .gameStatusWait {
    position: relative;
    top: -0.8rem;
    padding: 0.2rem;
    color: white;
    text-align: center;
    text-shadow: $text-border-black;
    span {
      display: inline-block;
      position: relative;
    }
  }
  .gameStatusEnd {
    position: relative;
    padding: 0.2rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    text-shadow: $text-border-black;
    text-align: center;
  }

  .span1 {
    @include spanUpDownAnimation(0.2rem, 0.2rem);
    animation-delay: 0.3s;
  }
  .span2 {
    @include spanUpDownAnimation(0.2rem, 0.2rem);
    animation-delay: 0.5s;
  }
  .span3 {
    @include spanUpDownAnimation(0.2rem, 0.2rem);
    animation-delay: 0.7s;
  }

  .gameScore {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: $text-border-black;
  }
}

.getButton {
  width: 100%;
  border-radius: $small-radius;
  background: linear-gradient(to bottom, white, $gray);
  color: black;
  font-size: $small-font;
  input {
    all: unset;
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
    cursor: pointer;
  }
}

@keyframes upDown {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.2rem);
  }
}
