@import 'styles/common.scss';

.container {
  @include modalContainer('SKYPINK');
  width: 100%;
  max-width: 22rem;
}

.title {
  @include modalTitle;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(18, 23, 37, 1);
}

.startTime {
  font-size: 0.7rem;
  color: rgba(18, 23, 37, 1);
}

.quillViewer {
  @include quillViewer($color: black);
  min-width: 10rem;
  max-width: 15rem;
  max-height: 19rem;
  padding-bottom: 1rem;
}

.checkBox {
  margin-bottom: 0.5rem;
  input {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
  }
  label {
    display: inline-block;
    color: white;
    cursor: pointer;
  }
}

.closeButtonContainer {
  display: flex;
  margin-left: auto;
}

.tournamentInfo {
  justify-content: center;
  align-items: center;
}

.participants {
  display: flex;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem qw;
  justify-content: center;
  .player {
    padding-left: 0.2rem;
  }
}

.modalButtonContainer {
  @include modalButton;
}
