@import 'styles/common.scss';

.container {
  display: flex;
  width: 100%;
  min-width: 50rem;
  height: 100%;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.tableContainer {
  .table {
    .tableBody {
      .tableBodyItem {
        padding: 0.5rem;
        font-size: $small-font;
        line-height: 100%;
        text-align: center;
      }
    }
  }
}

.editBtn {
  all: unset;
  width: 3rem;
  height: 1.6rem;
  margin: 0 0.2rem;
  font-size: $small-font;
  color: white;
  text-align: center;
  cursor: pointer;
  background: $dark-gray;
  border-radius: 0.5rem;
}
