@import 'styles/common.scss';

.container {
  display: flex;
  width: 100%;
  min-width: 50rem;
  height: 100%;
  flex-direction: column;
  padding: 1.5rem;
}

.tableContainer {
  .table {
    .tableBody {
      .tableBodyItem {
        padding: 0.5rem;
        font-size: $small-font;
        text-align: center;
        // line-height: 100%;
      }
    }
  }
}

.BtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    all: unset;
    width: 4rem;
    height: 1.5rem;
    font-size: $small-font;
    color: white;
    text-align: center;
    cursor: pointer;
    background: $btn-blue;
    border-radius: 0.5rem;
  }
}
