@import 'styles/takgu/common.scss';

.content {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: $medium-font;
}

.previewContainer {
  display: flex;
  width: 40%;
  height: 700px;
  flex-direction: column;
  background-color: #e5e7eb;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.previewWrap {
  width: 80%;
  height: 500px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 6px;
}

.initBtn {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  background-color: #ced4da;
  border-radius: 6px;
}

.inputContainer {
  display: flex;
  width: 55%;
  height: 700px;
  flex-direction: column;
  padding: 3rem 4rem 2rem 8rem;
  border: 1px solid #afadad;
  border-radius: 16px;
  justify-content: center;
}

.gameTime {
  display: flex;
  justify-content: space-between;
  height: 5%;
}

.gameTime select {
  width: 100px;
  height: 30px;
}

.timeContainer {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.timeContainer input {
  width: 150px;
  height: 30px;
}

.viewTime {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.currentHour {
  display: flex;
  margin-top: 2rem;
  margin-right: 10px;
  color: #2678f3;
  justify-content: center;
}

.pinIcon {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.futurePreview {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nTime {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.nTime input {
  width: 30%;
}

.timeLine {
  display: flex;
  height: 40%;
}

.hourLine {
  width: 10%;
  height: 20px;
  border-left: 1px solid #555;
}

.minLine {
  width: 10%;
  height: 10px;
  border-left: 1px solid #555;
}

.viewTimeBottom {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.btn button {
  width: 5rem;
  height: 2rem;
}
