@import 'styles/takgu/common.scss';

.hourContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0;
}

.time {
  margin-left: 0.3rem;
  font-size: $medium-font;
  color: black;
}

.currentTime {
  margin-left: 0.3rem;
  font-size: $medium-font;
  font-weight: 700;
  color: blue;
}

.hourSlot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.6rem;
}

.minuteSlot {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.3rem;
  padding: 0 0.6rem;
  margin: 0.1rem;
  border-radius: $mini-radius;
}

.open {
  background-color: lightgreen;
}

.close {
  background-color: lightcoral;
}

.preview {
  background-color: lightblue;
}

.none {
  display: none;
}
