@import 'styles/takgu/common.scss';

.tournamentPartyWrapper {
  display: flex;
  height: 45%;
  padding: 0.5rem;
  color: white;
  background-color: rgb(55, 0, 101);
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  justify-content: space-between;
  align-items: center;

  .playerImage {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
  }

  .partyName {
    margin-left: 1rem;
  }

  .score {
    margin-left: auto;
  }

  .scoreInput {
    width: 2rem;
  }
  .scoreInput:active {
    background: rgba(255, 255, 255, 0.7);
  }
}

.tournamentMatchContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #000000;
  justify-content: space-around;
}

.tournamentEditMatchContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem;
  border: 0.1rem solid;
  border-color: #0000ff;

  &:hover .tournamentEditMatchButton {
    opacity: 1;
  }

  .tournamentEditMatchButton {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: 1rem;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.5);
    border: 0;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);
  }
}

.buttonsContainer {
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: space-around;
}
