@import 'styles/agenda/common.scss';

.container {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 1rem;
}

.submit_btn {
  @include textButton('submit', 'highlight');
}

.cancel_btn {
  // @include tesbutton('cancel', 'default');
}

.title {
  @include text('title');
}

.description {
  @include text('description');
}

%item-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.5rem;
}

.topContainer {
  @extend %item-container;
}

.bottomContainer {
  // 아래쪽에는 룰이 다르게 들어가서 갭을 더 줘야 합니다
  @extend %item-container;
  margin-top: 1.5rem;
}

.sliderContainer {
  @extend %item-container;
  display: flex;
  padding: 0 1rem;
}

.dateContainer {
  display: flex;
  // margin-bottom: 1rem;
  align-items: flex-end;
}

.inputContainer {
  display: flex;
  // margin: 1rem 1rem;
  // align-items: space-between;
  gap: 2rem;
  @media (max-width: 500px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.label_container {
  display: flex;
  // margin: 0 0 0 0.5rem;
  gap: 0.5rem;
}
.label {
  @include text('label');
  margin: 2rem 0 0.5rem 0.5rem;
}
.highlight {
  color: var(--highlight-violet);
}

.buttonContainer {
  display: flex;
  margin: 2rem 4rem;
  margin-top: 1rem;
  justify-content: space-between;
}
