@import 'styles/common.scss';

.mainContainer {
  position: relative;
  left: 2.5%;
  display: flex;
  width: 95%;
  height: 100%;
  flex-direction: column;
}

.subContainer {
  width: 100%;
  padding-top: 15px;
}

.sectionTitle {
  width: fit-content;
  padding-left: 15px;
  margin-bottom: 0.5rem;
  font-size: $medium-font;
  font-weight: 500;
  line-height: 150%;
}
