@import 'styles/agenda/common.scss';

.container {
  @include container(1);
}

.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  > h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.description {
  @include container(2);
  border-top-left-radius: 0;
  > p {
    @include description;
    // font-size: 1rem;
    // font-weight: 500;
  }
}

.teamMateInfo {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  margin: 0;
  gap: 0;
}

.mateContainer {
  display: flex;
  height: 50px;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.coalitionColor {
  width: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: var(--default-box-shadow);
}

.connectedUp {
  padding-top: 5px;
  margin-top: 0px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.connectedDown {
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
