@import 'styles/agenda/common.scss';

.container {
  @include container(1);
}

.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  > h1 {
    @include text('title');
  }
}

.description {
  @include container(2);
  border-top-left-radius: 0;
  > p {
    @include text('default');
  }
}

.teamMateInfo {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  margin: 0;
  gap: 0;
}

.mateContainer {
  display: flex;
  height: 50px;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.coalitionColor {
  width: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: var(--default-box-shadow);
}

.connectedUp {
  padding-top: 5px;
  margin-top: 0px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.connectedDown {
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mateName {
  @include text('default');
  display: flex;
  align-items: center;
}

.mateCount {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
  width: 10rem;
  height: 2rem;
  @include text('default');

  .countBox {
    padding: 0.3rem;
    background: var(--box-bg-3);
    border: none;
    border-radius: $radius-extra-small;
  }
}
