@import 'styles/common.scss';

.mainContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.questionContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.questionWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.8rem;
  justify-content: flex-start;
}
.focused {
  border-left: 0.5rem solid blue;
  transition: border-left 10s ease;
  // border: 1px solid blue; /* 파란색 border 추가 */
}

.editConsole {
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 9999;
  display: flex;
  width: 3rem;
  height: auto;
  padding: 0.3rem;
  color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  transform: translate(0, -50%);
}
