@import 'styles/takgu/common.scss';
@import 'styles/takgu/admin/common/Pagination.module.scss';

.container {
  display: flex;
  width: 95%;
  max-width: 61.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.header {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
}

.title {
  font-size: $big-font;
  font-weight: 700;
  line-height: 150%;
}

.tableContainer {
  .table {
    .tableBody {
      .tableRow {
        &:nth-child(odd) {
          background-color: #f9fafb;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
      .selectedTableRow {
        background-color: #6b7280;
      }
      .tableBodyItem {
        padding: 0.5rem;
        font-size: $small-font;
        line-height: 100%;
        text-align: center;
      }
    }
  }
}

.listBtnContainer {
  z-index: 0;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;

  %button {
    padding: 4px 12px;
    font-size: $small-font;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    border-radius: $medium-radius;
  }

  .edit {
    @extend %button;
    color: #6b7280;
    background-color: #e5e7eb;
    &:hover {
      background-color: darken(#e5e7eb, 10%);
      transition: 0.3s;
    }
  }
  .editParticipants {
    @extend %button;
    color: white;
    background-color: #10b981;
    &:hover {
      background-color: darken(#10b981, 10%);
      transition: 0.3s;
    }
  }

  .delete {
    @extend %button;
    color: white;
    background-color: $pp-red;
    &:hover {
      background-color: darken($pp-red, 10%);
      transition: 0.3s;
    }
  }

  .editBracket {
    @extend %button;
    color: white;
    background-color: $rank-purple;
    &:hover {
      background-color: darken($rank-purple, 10%);
      transition: 0.3s;
    }
  }
}

@include pagination;
