@import 'styles/admin/common/Pagination.module.scss';
@import 'styles/common.scss';

.penaltyWrap {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-width: 700px;
    margin: 10px auto;
    .title {
      display: flex;
      font-size: $big-font;
      font-weight: 600;
      line-height: 150%;
      .currentBtn {
        margin-left: 20px;
        border: none;
        border-radius: $small-radius;
      }
    }
  }
  .tableContainer {
    width: 90%;
    min-width: 700px;
    margin: auto;
    .table {
      .tableBody {
        .tableRow {
          &:nth-child(odd) {
            background-color: #f9fafb;
          }
          &:nth-child(even) {
            background-color: #fff;
          }
          .tableBodyItem {
            padding: 10px;
            font-size: $small-font;
            line-height: 150%;
            text-align: center;
            .button {
              padding: 4px 12px;
              font-size: $small-font;
              color: white;
              cursor: pointer;
              background-color: #2678f3;
              border: none;
              border-radius: $medium-radius;
              &:hover {
                background-color: #1e64d2;
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

@include pagination;
