@import 'styles/common.scss';

$bannerBackground: rgba(255, 255, 255, 0.4);
$cancelButton: rgba(0, 0, 0, 0.34);

$message: rgba(39, 10, 70, 1);

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: $small-radius;
  padding: 0;
  border: 0;
  background: $bannerBackground;
}

.openCurrentMatch {
  padding: $small-font;
  height: 100%;
  flex-shrink: 0;
}

.openCurrentMatchBtn {
  height: 100%;
  border-radius: $small-radius;
  border: 0;
  background: $cancelButton;
  color: white;
  font-size: $small-font;
  padding: 0.5rem;
}

.currentMatchMainDropDown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.currentMatchMainOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stringWrapper {
  height: 100%;
  width: 100%;
  border-radius: $small-radius;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: $medium-font;
}

.waitUpDown {
  span {
    display: inline-block;
    position: relative;
    border-radius: $small-radius;
  }
}

.span1 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.3s;
  border-radius: $small-radius;
}

.span2 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.5s;
  border-radius: $small-radius;
}

.span3 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.7s;
  border-radius: $small-radius;
  margin-right: 0.3rem;
}

.messageWrapper {
  border-radius: $small-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: fles;
  justify-content: center;
  align-items: center;
  border-radius: $small-radius;
  color: $message;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: $medium-font;
  border-radius: $small-radius;
  color: $message;
}

.cancelButton {
  height: 100%;
  border-radius: $small-radius;
  border: 0;
  background: $cancelButton;
  color: white;
  font-size: $small-font;
  padding: 0.5rem;
}

.blockCancelButton {
  height: 100%;
  border-radius: $small-radius;
  border: 0;
  background: $cancelButton;
  color: red;
  font-size: $small-font;
  padding: 0.5rem;
}

.enemyTeam {
  font-size: 0.85rem;
  border-radius: $small-radius;
}

#enemyUsers {
  font-weight: 600;
  cursor: pointer;
  border-radius: $small-radius;
}
