@import 'styles/common.scss';

.banner {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 'more bannerMain';
  width: 90%;
  height: 100%;
  border-radius: $small-radius;
  padding: 0;
  border: solid;
}

.openCurrentMatch {
  grid-area: more;
  padding: $small-font;
}

.openCurrentMatchBtn {
  border-radius: $small-radius;
}

.currentMatchMain {
  grid-area: bannerMain;
  width: 70%;
}

.stringWrapper {
  border-radius: $small-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $small-font;
}

.waitUpDown {
  span {
    display: inline-block;
    position: relative;
    border-radius: $small-radius;
  }
}

.span1 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.3s;
  border-radius: $small-radius;
}

.span2 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.5s;
  border-radius: $small-radius;
}

.span3 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.7s;
  border-radius: $small-radius;
  margin-right: 0.3rem;
}

.messageWrapper {
  font-weight: bold;
  border-radius: $small-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: fles;
  justify-content: center;
  align-items: center;
  border-radius: $small-radius;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: $medium-font;
  border-radius: $small-radius;
}

// .cancelButton {
// }

// .blockCancelButton {
// }

.enemyTeam {
  font-size: 0.85rem;
  border-radius: $small-radius;
}

#enemyUsers {
  font-weight: 600;
  cursor: pointer;
  border-radius: $small-radius;
}
