@import 'styles/common.scss';

.banner {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $small-radius;
  height: 70%;
  padding: 0;
  border: solid;
}

.openCurrentMatch {
  padding: $small-font;
}

.openCurrentMatchBtn {
  border-radius: $small-radius;
}

.currentMatchContainer {
  width: 70%;
}

.stringWrapper {
  border-radius: $small-radius;
  display: flex;
  align-items: center;
  font-size: $small-font;
}

.waitUpDown {
  span {
    display: inline-block;
    position: relative;
    border-radius: $small-radius;
  }
}

.span1 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.3s;
  border-radius: $small-radius;
}

.span2 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.5s;
  border-radius: $small-radius;
}

.span3 {
  @include spanUpDownAnimation($small-font, 0.1rem);
  animation-delay: 0.7s;
  border-radius: $small-radius;
  margin-right: 0.3rem;
}

.messageWrapper {
  font-weight: bold;
  border-radius: $small-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: fles;
  justify-content: center;
  align-items: center;
  border-radius: $small-radius;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: $medium-font;
  border-radius: $small-radius;
}

// .cancelButton {
// }

// .blockCancelButton {
// }

.enemyTeam {
  font-size: 0.85rem;
  border-radius: $small-radius;
}

#enemyUsers {
  font-weight: 600;
  cursor: pointer;
  border-radius: $small-radius;
}
