@import '../common.scss';

.container {
  background: rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.8rem;
}

.stringWrapper {
  display: flex;
  flex-direction: row;
}

.messageWrapper {
  color: white;
  text-shadow: 2px 2px 2px rgb(70, 70, 70);
}

.icon {
  font-size: 1.3rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelButton {
  @include button($btn-blue, white, 4rem, 2rem);
  box-shadow: none;
  font-size: $small-font;
  :hover {
    background: $dark-blue;
  }
}

.messageString {
  margin-bottom: 0.1rem;
}

.enemyTeamString {
  font-size: 0.85rem;
}
