@import 'styles/common.scss';

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-size: $small-font;
  color: white;
  div:nth-child(1) {
    margin-bottom: 0.2rem;
  }
}
