@import 'styles/common.scss';

@import url('https://fonts.cdnfonts.com/css/overgrow');

.headerWrap {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 0.7rem;
  color: white;
  font-size: $giant-font;
}

.headerLeft {
  height: 100%;
  flex: 2;
  display: flex;
  align-items: center;
}

.menuIcon {
  cursor: pointer;
  font-size: 1.1rem;
}

.logoWrap {
  height: 100%;
  font-family: 'Overgrow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.headerRight {
  height: 100%;
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.announceIcon {
  margin-right: 0.7rem;
  transform: scaleX(-1);
  font-size: 1.25rem;
  cursor: pointer;
}

.notiIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.notiBellWrapper {
  position: relative;
  text-align: center;
}

.notiCount {
  width: 1.125rem;
  height: 1.125rem;
  position: absolute;
  z-index: 1;
  font-size: 0.375rem;
  border-radius: 50%;
  background-color: red;
  left: 45%;
  top: -20%;
}

.bellWhole {
  transform-origin: 9.5px 2.4781px;
  animation: ring 3s infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  3.5% {
    transform: rotate(20deg);
  }

  6.5% {
    transform: rotate(-15deg);
  }

  9.75% {
    transform: rotate(15deg);
  }

  15.15% {
    transform: rotate(-10deg);
  }

  18.65% {
    transform: rotate(5deg);
  }

  24.0% {
    transform: rotate(-2deg);
  }

  30.0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
