@import 'styles/common.scss';

.headerWrap {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 0.7rem;
  color: white;
  font-size: $giant-font;
  .headerLeft {
    flex: 2;
    display: flex;
    align-items: center;
    #menuIcon {
      cursor: pointer;
    }
  }
  #logo {
    div {
      @include logoTitle(0.25rem);
      cursor: pointer;
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .headerRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    #announceIcon {
      cursor: pointer;
      transform: scaleX(-1);
      margin-right: 0.7rem;
    }
    #notiIcon {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 0.7rem;
      font-size: 1.7rem;
    }
    .userImage {
      @include userImage(2.2rem);
      cursor: pointer;
    }
  }
}

.bellWhole {
  animation: ring 3s infinite;
  transform-origin: 9.5px 2.4781px;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  3.5% {
    transform: rotate(20deg);
  }

  6.5% {
    transform: rotate(-15deg);
  }

  9.75% {
    transform: rotate(15deg);
  }

  15.15% {
    transform: rotate(-10deg);
  }

  18.65% {
    transform: rotate(5deg);
  }

  24.0% {
    transform: rotate(-2deg);
  }

  30.0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
