@import 'styles/common.scss';

.headerWrap {
  z-index: 2;
  display: flex;
  height: 4rem;
  margin: 0 0.7rem;
  font-size: $giant-font;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  height: 100%;
  flex: 2;
  align-items: center;
  .menuIcon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}

.logoWrap {
  @include logoText(2rem, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex: 2;
  .announceIcon {
    margin-right: 0.7rem;
    cursor: pointer;
    transform: scaleX(-1);
    .storeIcon {
      width: 1.5rem;
      height: 1.5rem;
    }
    .megaphoneIcon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.notiIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  cursor: pointer;
}

.notiBellWrapper {
  position: relative;
  text-align: center;
}

.notiCountCircle {
  position: absolute;
  top: -30%;
  left: 40%;
  z-index: 1;
  display: flex;
  width: 1.1rem;
  height: 1.1rem;
  background-color: red;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.notiCount {
  font-family: $common-en-font;
  font-size: 0.7rem;
  font-weight: 400;
}

.bellWhole {
  transform-origin: 9.5px 2.4781px;
  animation: ring 3s infinite;
}

.bellIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  3.5% {
    transform: rotate(20deg);
  }

  6.5% {
    transform: rotate(-15deg);
  }

  9.75% {
    transform: rotate(15deg);
  }

  15.15% {
    transform: rotate(-10deg);
  }

  18.65% {
    transform: rotate(5deg);
  }

  24.0% {
    transform: rotate(-2deg);
  }

  30.0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
