@import 'styles/common.scss';

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $dark-blue;
  width: 100vw;
}

.background {
  background-image: url('../../public/image/background_img.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  max-width: 100vh;
  min-height: 100vh;
}

.matchingButton {
  z-index: 1;
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2.3rem;
  background: white;
  box-shadow: 3px 3px 10px black;
}
