@import 'styles/common.scss';

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-height: -webkit-fill-available;
  background: black;
}

.background {
  position: relative;
  width: 100vw;
  max-width: 100vh;
  min-height: 100%;
  background-image: url('../../public/image/background_img.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.buttonContainer {
  z-index: 1;
  position: sticky;
  top: 83%;
  margin-left: 75%;
  .matchingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: white;
    font-size: 2.3rem;
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
  }
}
