@import 'styles/common.scss';

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: 380px;
  background: black;
}

.background {
  position: relative;
  width: 100vw;
  min-width: 380px;
  max-width: 100vh;
  min-height: 100vh;
  background: $main-background;
  &.both {
    background: $match-background;
  }
  &.normal {
    background: $vip-background;
  }
  &.basic {
    background: $bg-basic;
  }
  &.background1 {
    background: $bg-pink-orange;
  }
  &.background2 {
    background: $bg-blue-green;
  }
  &.background3 {
    background: $bg-midnight;
  }
  &.background4 {
    background: $bg-orange;
  }
  &.background5 {
    background: $bg-grass-green;
  }
  &.background6 {
    background: $bg-lemon-blue;
  }
  &.background7 {
    background: $bg-dracula;
  }
  &.background8 {
    background: $bg-mint-green;
  }
  &.background9 {
    background: $bg-steel-gray;
  }
  &.background10 {
    background: $bg-blood-red;
  }
  &.background11 {
    background: $bg-blue-sky;
  }
  &.background12 {
    background: $bg-ocean-blue;
  }
  &.background13 {
    background: $bg-pink-blue;
  }
  &.background14 {
    background: $bg-sunset-pink;
  }
  &.background15 {
    background: $bg-dark-navy;
  }
  &.background16 {
    background: $bg-orange-green;
  }
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.topInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonContainer {
  z-index: 3;
  position: sticky;
  top: 83%;
  margin-left: 75%;
  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5.7rem;
    box-shadow: 0 0 2rem 0.5rem rgba(245, 0, 165, 1);
    border-radius: 3rem;
  }
}
