@import 'styles/common.scss';

.mainPageProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'image greetings'
    'image intraId';
  color: white;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  flex-shrink: 0;
  width: 90%;
}

.myImage {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings {
  grid-area: greetings;
  display: flex;
  justify-content: left;
  align-items: end;
  font-size: $medium-font;
}

.intraId {
  grid-area: intraId;
  display: flex;
  justify-content: left;
  align-items: center;
}

.intraIdLink {
  font-size: $giant-font;
  font-weight: 600;
}

.currentMatch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
