.rollingBanner {
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper {
    width: 90%;
    height: 100%;
    background-color: black;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.megaphoneContents {
    animation: text-scroll 10s linear infinite;

    &.pause {
        animation-play-state: paused;
    }
    &.running {
        animation-play-state: running;
    }
}

@keyframes text-scroll {
    from {
        transform: translateX(120%);
        -moz-transform: translateX(120%);
        -webkit-transform: translateX(120%);
        -o-transform: translateX(120%);
        -ms-transform: translateX(120%);
    }
    to {
        transform: translateX(-120%);
        -moz-transform: translateX(-120%);
        -webkit-transform: translateX(-120%);
        -o-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
    }
}


.megaphoneContents li {
    display: inline-block;
    color: yellow;
}
