@import 'styles/common.scss';

.backdrop {
  @include backdrop;
  z-index: 4;
}

.container {
  @include menu-noti-Bar;
  width: 20rem;
  padding-top: 2.8rem;
  padding-left: 1.8rem;
  background: rgba(244, 221, 247, 1);
  .menuTopWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.8rem;
    .menuLogo {
      @include logoText(1.8rem, black);
    }
    button {
      all: unset;
      width: 1.2rem;
      font-size: 1.5rem;
      color: rgba(101, 97, 102, 1);
      text-align: center;
      text-shadow: none;
      cursor: pointer;
    }
  }
  .menuProfileWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: $common-en-font;
    .userInfoWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 0.8rem;
      .userId {
        padding-bottom: 0.1rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: rgba(43, 43, 43, 1);
        .tierContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          .tierId {
            @include tierNumber();
            font-size: 1rem;
          }
        }
      }
      .userLevel {
        font-size: 0.8rem;
        font-weight: 500;
        color: rgba(69, 69, 69, 1);
      }
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mainMenu {
    padding-bottom: 3rem;
    .imageWrapper {
      background-color: rgba(244, 221, 247, 1);
    }
  }
  .adminMenu {
    padding-bottom: 2.5rem;
    .imageWrapper {
      background-color: rgba(252, 235, 255, 1);
    }
  }
  .menuItem {
    display: flex;
    padding: 0.375rem;
    margin-bottom: 1.125rem;
    cursor: pointer;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    justify-content: flex-start;
    align-items: center;
    &:hover {
      background-color: rgba(212, 191, 215, 1);
    }
    .imageWrapper {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.75rem;
      border-radius: 0.625rem;
      box-shadow: 0px 4px 16px 0px rgba(69, 69, 69, 0.15);
      justify-content: center;
      align-items: center;
    }
    .menuText {
      // font-family: 'Fira Sans', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: rgba(26, 30, 37, 1);
    }
  }
  .logoutWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.3rem;
    padding-right: 1.8rem;
    &.admin {
      padding-bottom: 10rem;
    }
    &.normal {
      padding-bottom: 2rem;
    }
    .logout {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    div {
      padding-right: 0.375rem;
      // font-family: 'Fira Sans', sans-serif;
      font-size: 1rem;
      font-weight: 600;
      color: rgba(26, 30, 37, 1);
    }
  }
}
