@import '../common.scss';

.backdrop {
  @include backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: $small-radius;
  padding: 1rem;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
  color: white;
  font-size: $midium-font;
}
