@import 'styles/common.scss';

.backdrop {
  @include backdrop;
  z-index: 2;
}

.container {
  @include menu-noti-Bar;
  background: linear-gradient(to right bottom, $g2-top, $g2-bottom);
  margin-left: auto;
  padding: 1.15rem 0.7rem 2rem;
  button {
    all: unset;
    cursor: pointer;
    color: $dark-gray;
    font-size: 1.5rem;
    text-shadow: none;
    text-align: center;
    width: 1.5rem;
  }
  .btnWrap {
    display: flex;
    justify-content: space-between;
    .refreshBtn {
      @include match-noti-button;
      border-radius: $big-radius;
    }
    .refreshBtnAnimation {
      @include match-noti-button;
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.7;
      border-radius: $big-radius;
      animation: spin 1s infinite;
    }
    .deleteBtn {
      @include match-noti-button;
      border-radius: $small-radius;
    }
  }
}

.emptyContent {
  text-align: right;
  .refreshBtn {
    @include match-noti-button;
    border-radius: $big-radius;
  }
  .refreshBtnAnimation {
    @include match-noti-button;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
    border-radius: $big-radius;
    animation: spin 1s infinite;
  }
  div {
    padding: 1rem;
    border-radius: $small-radius;
    font-size: $midium-font;
    text-align: center;
    color: #000;
    background: #fff;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
