@import 'styles/common.scss';

.backdrop {
  @include backdrop;
  z-index: 2;
}

.container {
  @include menu-noti-Bar;
  background: linear-gradient(to right bottom, $g2-top, $g2-bottom);
  margin-left: auto;
  padding: 1.15rem 0.7rem 2rem;
  button {
    all: unset;
    cursor: pointer;
    color: $dark-gray;
    font-size: 1.5rem;
    width: 1.5rem;
  }
  .btnWrap {
    display: flex;
    justify-content: space-between;
    .refreshBtn {
      @include match-noti-button;
      border-radius: $big-radius;
    }
    .deleteBtn {
      @include match-noti-button;
      border-radius: $small-radius;
    }
  }
}

.emtyContent {
  text-align: right;
  .refreshBtn {
    @include match-noti-button;
    border-radius: $big-radius;
  }
  div {
    padding: 1rem;
    margin-top: 1.3rem;
    border-radius: $small-radius;
    font-size: $midium-font;
    text-align: center;
    color: #000;
    background: #fff;
  }
}
