@import 'styles/common.scss';

@mixin notiWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.notiWrapper {
  @include notiWrap;
  word-break: keep-all;
  .readWrap,
  .unreadWrap {
    width: 15.75rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0;
  }

  .readWrap {
    color: white;
    background: linear-gradient(0deg, #ae8db3, #ae8db3),
      linear-gradient(0deg, #c5a7c9, #c5a7c9);
    border: 0.5px solid rgba(174, 141, 178, 1);
  }
  .unreadWrap {
    &.imminent {
      color: rgba(255, 255, 255, 1);
      background: rgba(166, 100, 176, 1);
      border: 0.5px solid rgba(237, 116, 167, 1);
      span {
        color: #ff7272;
      }
    }
    &.matched {
      color: rgba(255, 255, 255, 1);
      background: rgba(235, 152, 187, 1);
      border: 0.5px solid rgba(166, 100, 176, 1);
    }
    &.announcement {
      color: rgba(26, 30, 37, 1);
      background: rgba(253, 253, 253, 1);
      border: 0.5px solid rgba(227, 227, 231, 1);
    }
    &.canceledByMan {
      color: rgba(255, 255, 255, 1);
      background: rgba(204, 173, 218, 1);
      border: 0.5px solid rgba(237, 116, 167, 1);
    }
    &.gift {
      color: rgba(255, 255, 255, 1);
      background: rgba(234, 185, 185, 1);
      border: 0.5px solid rgba(239, 138, 138, 1);
    }
  }

  .date {
    display: flex;
    // font-family: 'Heebo', sans-serif;
    font-size: 0.8rem;
    color: rgba(125, 127, 136, 1);
    justify-content: flex-end;
    align-items: center;
  }
}
