@import '../common.scss';

@mixin notiWrap {
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  border-radius: $small-radius;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unreadWrap {
  @include notiWrap;
  background: white;
  .title {
    background: $pp-blue;
  }
}

.readWrap {
  @include notiWrap;
  background: $light-gray;
  .title {
    background: $dark-gray;
  }
}

.title {
  color: #fff;
  border-radius: $small-radius;
  width: 4.6rem;
  margin: 0.2rem 0;
  padding: 0.3rem 0;
  text-align: center;
  font-size: $small-font;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.content {
  margin: 0 0.4rem;
  font-size: $midium-font;
  span {
    color: $pp-blue;
    font-weight: 600;
  }
}

.date {
  margin-right: 0.4rem;
  text-align: right;
  color: $dark-gray;
  font-size: $small-font;
}
