@import 'styles/common.scss';

.backdrop {
  @include backdrop;
  z-index: 3;
}

.container {
  @include menu-noti-Bar;
  padding: 1.15rem 0.7rem 2rem;
  margin-left: auto;
  background: linear-gradient(to right bottom, $g2-top, $g2-bottom);
  button {
    all: unset;
    width: 1.5rem;
    color: $dark-gray;
    font-size: 1.5rem;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
  }
  .buttonWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .reloadButton {
      @include reload-button;
    }
    .spinReloadButton {
      @include reload-button;
      opacity: 0.7;
      animation: spin 1s infinite;
      pointer-events: none;
      cursor: not-allowed;
    }
    .deleteButton {
      @include match-noti-button;
      border-radius: $small-radius;
    }
  }
}

.emptyContent {
  text-align: right;
  .reloadButton {
    @include match-noti-button;
    border-radius: $big-radius;
  }
  .spinReloadButton {
    @include match-noti-button;
    border-radius: $big-radius;
    opacity: 0.7;
    pointer-events: none;
    animation: spin 1s infinite;
    cursor: not-allowed;
  }
  div {
    padding: 1rem;
    border-radius: $small-radius;
    background: white;
    color: black;
    font-size: $medium-font;
    text-align: center;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
