@import 'styles/common.scss';

.tableContainer {
  .table {
    .tableBody {
      .tableBodyItem {
        padding: 0.5rem;
        font-size: $small-font;
        line-height: 100%;
        text-align: center;
      }
    }
  }
}
