@import 'styles/agenda/common.scss';

.agendaTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  @include text(main-menu);

  .agendaCreateBtn {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    align-items: center;
    @include text(description);

    .imageWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;

      .imageBox {
        width: 100%;
        height: 100%;
      }
    }
  }
}
