@import '../common.scss';

.myagendaContainer {
  display: flex;
  width: 12.5rem;
  height: 3rem;
  flex-direction: column;
  padding: 0.55rem 1rem;
  overflow: hidden;
  background-color: #e3e3e3;
  border: 0.1rem solid black;
  border-left-style: none;
  border-top-right-radius: $big-radius;
  border-bottom-right-radius: $big-radius;
  box-shadow: 0 0.2rem 0 0 #000;
  transition: width 0.15s ease, height 0.15s ease;
  gap: 1rem;
  @include subTitleFont;
}

.myagendaContainer.expandedHeight {
  height: 28rem;
}

.myagendaContainer.expandedWidth {
  width: 23rem;
}

.myagendaBtnToggle {
  display: flex;
  width: fit-content;
  max-height: 3rem;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;

  .myagendaText {
    width: 9rem;
    height: fit-content;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.7rem;

    .imageBox {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
    }

    .rotateDown {
      transform: rotate(90deg);
    }
  }
}

.myagendaListContainer {
  display: flex;
  width: 100%;
  height: 23rem;
  flex-direction: column;
  overflow-y: scroll;
  align-items: flex-start;
  gap: 1rem;
}
