@import 'styles/agenda/common.scss';

.Container {
  display: flex;
  width: 16rem;
  padding: 0.5rem 1rem;
  background-color: var(--box-bg-1);
  border: var(--default-border);
  border-radius: $radius-medium;
  box-shadow: var(--default-box-shadow);
  gap: 1rem;
  align-items: center;
}

.infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.4rem;
  justify-content: flex-start;
}

.teamInfoContainer,
.agendaInfoContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.teamTitle {
  @include text(tab);
  margin: 0;
}

.agendaTitle {
  @include text(description-s);
  margin: 0;
}
