.emptyWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.threeDots {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgb(169, 128, 175);
  border-radius: 50%;
}
