@import 'styles/agenda/common.scss';

.profilePage {
  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 961px) {
    display: flex;
    width: 85%;
    flex-direction: row;
    gap: 1rem;
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

.agendaUserSearchBarWrap {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 960px) {
    min-width: 22rem;
    max-width: 22rem;
    margin: 1rem;
  }
  @media screen and (min-width: 961px) {
    width: 85%;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  background-color: var(--box-bg-2);
  border: var(--default-border);
  border-radius: $radius-big;
  box-shadow: var(--default-box-shadow);
  gap: 1.5rem;
  @media screen and (max-width: 960px) {
    min-width: 22rem;
    max-width: 22rem;
    margin: 1rem;
  }
  @media screen and (min-width: 961px) {
    width: 100%;
    min-height: 43rem;
    max-height: 43rem;
    margin-top: 1rem;
  }
}

.listTitle {
  @include text(main-menu);
}

.listButtonsWrapper {
  display: flex;
  @media screen and (max-width: 960px) {
    margin-left: -0.5rem;
    gap: 0.5rem;
  }
  @media screen and (min-width: 961px) {
    gap: 0.9rem;
  }
}

.divider {
  width: 100%;
}

.listItemContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
