@import 'styles/agenda/common.scss';

.agendaHistory {
  display: flex;
  width: 22rem;
  height: auto;
  max-height: 32rem;
  flex-direction: column;
  padding: 1rem 1.5rem;
  background-color: var(--box-bg-2);
  border: var(--default-border);
  border-radius: $radius-big;
  box-shadow: var(--default-box-shadow);
  gap: 1rem;

  .historyTitleText {
    @include text(sub-title);
  }

  .historyItems {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .historyEmpty {
    @include text(description-s);
  }
}
