@import 'styles/agenda/common.scss';

.warp {
  position: relative;
  width: 12rem;
}

.agendaUserSearchBar {
  position: relative;
  z-index: 4;
  display: flex;
  height: 2.5rem;
  padding: 0.2rem 1rem;
  font-size: $font-size-m;
  color: var(black);
  background-color: var(--box-bg-1);
  border-radius: $radius-big;
  justify-content: space-between;
  align-items: center;

  input {
    all: unset;
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    width: calc(100% - 4rem);
    color: var(--color-text-reverse);
    @include text(default);
  }

  .icons {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    .reset {
      cursor: pointer;
    }
  }
}

.dropdown {
  position: absolute;
  top: 1.1rem;
  left: 0;
  z-index: 2;

  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1.4rem 0 0 1rem;
  color: var(--box-bg-1-dark);
  background: var(--box-bg-1);
  border-radius: 0 0 $radius-small $radius-small;
  @include text(default);

  div {
    padding: 0.4rem 0;
    cursor: pointer;
  }
}
