@import 'styles/agenda/common.scss';

.currentListItems {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.currentTeamEmpty {
  @include text(description-s);
}

.currentItemWrapper {
  width: 100%;
  @media screen and (min-width: 961px) {
    max-width: 21rem;
  }
}
