@import 'styles/agenda/common.scss';

.currentTeamItem {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--box-bg-1);
  border-radius: $radius-small;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;

  .teamName {
    @include text(sub-title);
  }

  .title {
    @include text(default);
  }
}
