@import 'styles/agenda/common.scss';

.profileContent {
  display: flex;
  width: 22rem;
  height: auto;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--box-bg-1);
  border-radius: $radius-big;

  .description {
    width: 100%;
    height: 3rem;
    @include text(description);
  }

  .divider {
    width: 100%;
  }

  .acheivementContainer {
    width: 100%;
    height: auto;

    .acheivementText {
      @include text(sub-menu);
    }

    .acheivementImageContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      margin-top: 0.5rem;
      gap: 0.3rem;

      .imageWrapper {
        min-width: 3rem;
        max-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;

        .imageBox {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
