@import 'styles/agenda/common.scss';

.container {
  @include container(1);
  padding: 0.5rem;
  font-family: $font-default;
  text-align: left;
}

.cancelBtn {
  @include button('cancel', 'default');
}

.title {
  @include title;
}

.description {
  @include description;
}
