@import 'styles/common.scss';

.container {
  @include modal-container;
  background: rgba(237, 214, 240, 1);
}

.phrase {
  @include modal-phrase;

  .titleNormal,
  .titleRank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
  .titleNormal {
    color: rgba(122, 110, 123, 1);
    font-family: 'Overgrow', sans-serif;
    font-weight: 500;
  }
  .titleRank {
    color: rgba(165, 95, 195, 1);
  }
  .message {
    font-size: 1.25rem;
    font-family: 'NanumSquare_acR', sans-serif;
    font-weight: 800;
    padding-bottom: 2rem;
  }

  .rules {
    font-size: 0.9rem;
    font-family: 'NanumSquare_acR', sans-serif;
    font-weight: 600;
    text-align: center;
    white-space: pre-wrap;
    padding-bottom: 1.8rem;
    line-height: 1.5;
  }
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  width: 18rem;
  height: 16rem;
  padding: 0.8rem 0;
  margin-bottom: 2rem;
  border: 3px solid white;
  border-radius: $small-radius;
}

.players {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 600;
  .user {
    .intraId {
      text-align: center;
    }
  }
}

.finalScore {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  font-size: $giant-font;
  font-weight: 600;
  text-align: center;
  input {
    font-size: $big-font;
    text-align: center;
    width: 5rem;
    height: 2.5rem;
  }
}

.buttons {
  @include modalButton;
  .single {
    margin-right: 0;
  }
}
