@import '../common.scss';

.agendaItemTagBox {
  display: flex;
  gap: 0.3rem;
}

$tags: (
  공식: $color-tag-official,
  비공식: $color-tag-common,
  팀: $color-tag-team,
  대회: $color-tag-assignment,
  default: $color-tag-deafult,
  종료: $color-tag-end,
);

@each $name, $color in $tags {
  .#{$name} {
    background-color: $color;
  }
}

.agendaTag {
  display: flex;
  width: max-content;
  min-width: 3.3rem;
  height: 1.2rem;
  padding: 0.2rem 0.5rem;
  color: var(--color-text-reverse);
  border-radius: $radius-medium;
  justify-content: center;
  align-items: center;
  @include text(description-regular);
}

.defaultTag {
  display: flex;
  width: max-content;
  min-width: 3.3rem;
  height: 1.2rem;
  padding: 0.2rem 0.5rem;

  background-color: var(--box-bg-2-light);
  border-radius: $radius-medium;
  justify-content: center;
  align-items: center;
  @include text(description-regular);
}
