@import '../common.scss';

.agendaTag {
  display: flex;
  width: 3.3rem;
  height: 1.2rem;
  color: var(--color-text-reverse);
  border-radius: $radius-medium;
  justify-content: center;
  align-items: center;
  @include text(description);
}
