@import '../common.scss';

.agendaTag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 1.2rem;
  color: #ffffff;
  border-radius: $medium-radius;
  @include regularTextFont(small);
}
