@import '../common.scss';

.myagendaItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 5.5rem;
  padding: 0 1.2rem;
  background-color: var(--box-bg-1);
  border: var(--default-border);
  border-radius: $radius-big;
  box-shadow: var(--default-box-shadow);
}
