@import 'styles/agenda/common.scss';

.colorGun {
  background-color: $color-coalition-gun;
}

.colorGon {
  background-color: $color-coalition-gon;
}

.colorGam {
  background-color: $color-coalition-gam;
}

.colorLee {
  background-color: $color-coalition-lee;
}

.colorSpring {
  background-color: $color-coalition-spring;
}
.colorSummer {
  background-color: $color-coalition-summer;
}
.colorAutumn {
  background-color: $color-coalition-autumn;
}
.colorWinter {
  background-color: $color-coalition-winter;
}
