.dragging {
  background-color: rgba(167, 255, 34, 0.42);
}

.dropzone {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.dropzoneColor {
  box-shadow: 0 20px 5px 0 rgba(134, 201, 255, 0.841);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.dragover {
  background-color: rgb(1, 42, 43);
  animation-duration: 1s;
}

.hovered {
  margin-bottom: 4rem;
  background-color: rgba(255, 237, 72, 0.841);
  animation-name: getIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    background-color: rgba(145, 251, 255, 0);
  }
  to {
    box-shadow: 0 20px 5px 0 rgba(255, 237, 72, 0.841);
  }
}

@keyframes getIn {
  from {
    margin-bottom: 0;
    background-color: rgba(145, 251, 255, 0);
  }
  to {
    margin-bottom: 4rem;
    background-color: rgba(255, 237, 72, 0.841);
  }
}
