@import 'styles/takgu/common.scss';

.container {
  display: flex;
  height: 12rem;
  flex-direction: column;
  padding: 1.3rem;
  color: white;
  background: rgba(80, 85, 92, 0.8);
  border-radius: $small-radius;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-family: $title-font;
  font-size: 1.5rem;
  text-shadow: $text-border-black;
  letter-spacing: 0.1rem;
}

.emoji {
  font-size: 2rem;
}
