@import 'styles/common.scss';

.headerWrap {
  background: #141a46;
  #logo {
    div {
      @include logoText(2rem, white);
      display: flex;
      flex: 5;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
  }
}
