@import 'styles/common.scss';

.container {
  display: grid;
  grid-template-columns: 3fr 10fr;
  height: 100vh;
  background: rgba(white, 0.95);
}

.chartSelectContainer {
  height: 100vh;
  background: rgba(white, 1);
  font-size: $small-font;
  text-align: center;
  .listText {
    padding: 1rem;
    margin: 0.1rem;
    border: 0.1rem solid $gray;
    border-radius: $small-radius;
    text-align: center;
  }
}

.chart {
  padding: 1rem;
  text-align: center;
}

.date {
  padding: 0.2rem;
  margin: 0 1rem;
}

.submitButton {
  padding: 0.2rem;
}
