.itemWrapper {
  width: 100%;
  height: 5rem;
  padding: 1rem;

  .titleStatusWrapper {
    display: flex;
    align-items: center;

    h4 {
      margin: 0;
    }

    .statusWrapper {
      display: flex;
      padding: 0.3rem;
      margin-left: 0.5rem;
      font-size: 0.7rem;
      border-radius: 0.5rem;
      align-items: center;

      &.live {
        background-color: red;
      }
      &.scheduled {
        background-color: green;
      }
    }
  }

  time {
    font-size: 0.8rem;
    color: yellow;
  }
}
