@import 'styles/takgu/common.scss';

.backdrop {
  @include backdrop;
  z-index: 5 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: $medium-font;
  color: white;
  background: rgba(244, 221, 247, 0.93);
  border-radius: $small-radius;
  justify-content: space-between;
  align-items: center;
}

.modalButtonContainer {
  @include modalButton;
}
