.container {
  @mixin button {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #6b7280;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
  }
  .createAllButton {
    @include button;
    margin: 0 8px 0 0;
    background: #c3ddfd;
    &:hover {
      background-color: #b3ccfd;
    }
  }
  .createSomeoneButton {
    @include button;
    background: #e5e7eb;
    &:hover {
      background-color: #d5d7eb;
    }
  }
}
