.pingpongAnimation {
  margin: 1rem 0;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(246, 246, 246, 0.9);
  backdrop-filter: blur(5px);
  .stickyContainer {
    height: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
  }
}
