@import 'styles/takgu/common.scss';

@mixin backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  @include backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  @include pageTitle;
  height: 0;
  padding: 1.3rem 0 3rem;
  font-family: $logo-font;
}

.loadBottom {
  text-align: right;
  transform: scaleY(-1);
}

.display {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.loadTextRed {
  height: 0;
  font-size: 3rem;
  color: $pp-red;
}

.loadTextWhite {
  height: 0;
  margin-bottom: 10rem;
  font-size: 3rem;
  color: white;
}

.loadTextRedBottom {
  height: 0;
  font-size: 3rem;
  color: $pp-red;
}

.loadTextWhiteBottom {
  height: 0;
  font-size: 3rem;
  color: white;
}

.loadTextBlack {
  height: 0;
  padding-bottom: 2rem;
  font-size: 3rem;
  color: black;
}

.spinner {
  position: relative;
  left: 50%;
  height: 20rem;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(19, 27, 97),
    rgba(207, 21, 21, 0.6)
  );
  border-radius: $small-radius;
  transform: translateX(-50%);
  .ball_container {
    width: 40px;
    transform: translate(130px, -140px);
  }
  .ball {
    width: 40px;
    transform-origin: bottom;
    animation: bounce 300ms infinite alternate
      cubic-bezier(0.35, 0.5, 0.65, 0.5);
    circle {
      fill: white;
    }
  }
  .raquet {
    width: 85px;
    height: 142px;
    transform-origin: bottom;
    #sor-1 {
      fill: rgba(0, 0, 0, 0.2);
      animation: shadow 300ms infinite 300ms alternate
        cubic-bezier(0.35, 0.5, 0.65, 0.5);
    }
    #sor-2 {
      fill: rgba(0, 0, 0, 0.2);
      animation: shadow 300ms infinite alternate
        cubic-bezier(0.35, 0.5, 0.65, 0.5);
    }

    .front {
      fill: #d00;
    }
    .middle {
      fill: #070;
    }
    .back {
      fill: #222;
    }
    .handle {
      &.outer {
        fill: #a8712a;
      }
      &.inner {
        fill: #e0973e;
      }
    }
  }

  .r1 {
    transform: translateX(70px) rotateZ(45deg);
    animation: hit-1 600ms infinite 180ms ease-in-out;
  }
  .r2 {
    transform: translateX(-70px) rotateZ(-45deg);
    animation: hit-2 600ms infinite -120ms ease-in-out;
  }

  .shadow {
    height: 4rem;
    transform: translateY(-150px);
    ellipse {
      fill: rgba(0, 0, 0, 0.1);
    }
    #sr-1,
    #sr-2,
    #sb {
      transform-origin: center;
    }
    .sr_1 {
      animation: grow 600ms infinite -120ms ease-in-out;
    }
    .sr_2 {
      animation: grow 600ms infinite 180ms ease-in-out;
    }
    .sb {
      animation: swing 300ms infinite alternate
        cubic-bezier(0.35, 0.5, 0.65, 0.5);
    }
  }
}

@keyframes bounce {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes swing {
  0% {
    opacity: 0;
    transform: translateX(70px) scale(1.2);
  }
  25%,
  75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translateX(-70px) scale(1.2);
  }
}

@keyframes hit-1 {
  0%,
  50%,
  100% {
    transform: translate(70px, 3px) rotateZ(45deg);
  }
  75% {
    transform: translate(69px, -2px) rotateZ(42deg);
  }
}

@keyframes hit-2 {
  0%,
  50%,
  100% {
    transform: translate(-70px, 3px) rotateZ(-45deg);
  }
  75% {
    transform: translate(-69px, -2px) rotateZ(-42deg);
  }
}

@keyframes grow {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
}

@keyframes shadow {
  0%,
  40% {
    transform: translate(25px, 200px) scale(0.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
