.content {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.previewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 700px;
  background-color: #afadad;
  border-radius: 16px;
}

.previewWrap {
  width: 80%;
  height: 500px;
  background-color: white;
  border-radius: 6px;
  overflow-y: scroll;
}

.inputContainer {
  flex-direction: column;
  background-color: lightcyan;
  border-radius: 16px;
  padding: 2rem 3rem;
  width: 55%;
  height: 700px;
}

.gameTime {
  height: 20%;
}

.viewTime {
  height: 50%;
}
