.current {
  width: auto;
  height: 500px;
  overflow-y: scroll;
}

.hourContainer {
  display: flex;
  margin-top: 5px;
}

.time {
  width: 50px;
}

.hourSlot3 {
  display: flex;
  flex-wrap: wrap;
  width: 202px;
  height: 52px;
  border: 1px solid black;
}

.hourSlot4 {
  display: flex;
  flex-wrap: wrap;
  width: 202px;
  height: 52px;
  border: 1px solid black;
}

.minuteSlot3 {
  width: 100px;
  height: 25px;
  border: 1px solid black;
}

.minuteSlot4 {
  width: 100px;
  height: 25px;
  border: 1px solid black;
}

.open {
  background-color: lightgreen;
}

.close {
  background-color: lightcoral;
}

.preview {
  background-color: lightblue;
}
