.hourContainer {
  display: flex;
  margin-top: 5px;
}

.time {
  width: 50px;
}

.currentTime {
  width: 50px;
  color: blue;
  font-weight: 700;
}

.hourSlot {
  display: flex;
  flex-wrap: wrap;
  width: 202px;
  height: 52px;
  border: 1px solid black;
  text-align: center;
}

.minuteSlot1 {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  line-height: 40px;
}

.minuteSlot2 {
  width: 200px;
  height: 25px;
  border: 1px solid black;
}

.minuteSlot3 {
  width: 100px;
  height: 25px;
  border: 1px solid black;
}

.minuteSlot4 {
  width: 100px;
  height: 25px;
  border: 1px solid black;
}

.open {
  background-color: lightgreen;
}

.close {
  background-color: lightcoral;
}

.preview {
  background-color: lightblue;
}

.none {
  display: none;
}
