@import './Input.module.scss';

.container {
  margin: 1rem 0;
  overflow-y: scroll;
}

.description_input {
  // ν™•μΈν•„μ”
  @include inner-container;
  height: max-content;
  padding: 1rem;
  overflow-y: scroll;
}

.description_input::-webkit-scrollbar {
  width: 10px;
}
.description_input::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.description_input::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
