@import 'styles/agenda/common.scss';

.container {
  // @include container(1);
  padding: 1rem 0.5rem;
  font-family: $font-default;
}
.input {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: none;
  // border-radius: $small-radius;
  border: none;
  border-bottom: var(--default-border);
  -webkit-appearance: none;
  appearance: none;
}

.input::placeholder {
  color: $color-placeholder;
}
