@import 'styles/agenda/common.scss';

.container {
  // @include container(1);
  padding: 0.5rem;
  font-family: $font-default;
}
.input {
  width: 100%;
  padding: 0.5rem;
  background: none;
  // border-radius: $small-radius;
  border: none;
  border-bottom: 1px solid black;
  -webkit-appearance: none;
  appearance: none;
}

.checkBoxInput {
  display: none;
}

.input::placeholder {
  color: $color-placeholder;
}
.label {
  padding: 0 0 0 0.5rem;
  // margin-bottom: 10px;
  font-size: $small-font;
  font-weight: bold;
}
