@import 'styles/takgu/common.scss';

.searchBar {
  position: relative;
  z-index: 2;
  display: flex;
  height: 2.5rem;
  padding: 0.8rem 1rem;
  margin: 1rem 0.8rem 0;
  font-size: $medium-font;
  color: #1f0b36;
  background: rgba(255, 255, 255, 0.3);
  border-radius: $small-radius;
  justify-content: space-between;
  align-items: center;
  input {
    all: unset;
    box-sizing: border-box;
    width: calc(100% - 4rem);
    padding: 0.7rem 0.5rem;
    color: #ffffff;
    &::placeholder {
      color: #1f0b36;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    .reset {
      cursor: pointer;
    }
  }
  .dropdown {
    position: absolute;
    top: 2.1rem;
    left: 0;
    z-index: 3;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 0.8rem 0.5rem;
    color: #1f0b36;
    background: #ffffff;
    border-radius: 0 0 $small-radius $small-radius;
    div {
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }
}

#game {
  z-index: 1;
  height: 1.6rem;
  padding: 0 0.5rem;
  margin: 0;
  font-size: $small-font;
  border-radius: $mini-radius;
  input {
    width: calc(100% - 1.5rem);
  }
  .icons {
    span {
      font-size: 0.9rem;
    }
  }
  .dropdown {
    top: 1.33rem;
    padding: 0 0.5rem 0.2rem;
    border-radius: 0 0 $mini-radius $mini-radius;
  }
}

#gift {
  input {
    width: calc(100% - 1.5rem);
  }
  .icons {
    span {
      font-size: 0.9rem;
    }
  }
}
