@import 'styles/agenda/Form/Form.module.scss';

.container {
  @include container(1);
  padding: 0.5rem;
  @include text('default');
  text-align: left;
}

.cancelBtn {
  @include textButton('cancel', 'default');
}

.title {
  @include text('title');
}

.descriptionInput {
  @include text('description');
  padding: 0.5rem;
}
