@import 'styles/agenda/common.scss';

.headerContainer {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  background-color: var(--color-header);
  border-bottom: var(--default-border);
  box-shadow: var(--default-box-shadow);
}

.headerWrap {
  z-index: 2;
  display: flex;
  height: 4rem;
  // margin: 0 0.7rem;
  padding: 1rem;
  font-size: $font-size-l;

  gap: 1rem;
  align-items: center;
  @media screen and (min-width: 481px) {
    gap: 1.5rem;
  }
}

.logo {
  width: 7rem;
  height: min-content;
  max-height: 3.5rem;
  padding: 0;
  margin: 0;
  fill: var(--color-text);
}

.headerLeft {
  display: flex;
  height: 100%;
  flex: 2;
  gap: 2rem;
  // justify-content: center;
  justify-content: flex-start;
  align-items: center;
}

.menuIcon {
  // position: absolute;
  // left: 2;
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.logoWrap {
  @include logoText(2rem, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
