@import 'styles/agenda/common.scss';
.background {
  position: relative;
  display: flex;
  width: 100vw;
  min-width: 380px;
  min-height: 100vh;
  flex-direction: column;
  background: var(--color-bg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
