.appContainer {
  display: flex;
  width: 100vw;
  min-width: 380px;
  flex-direction: column;
  background: black;
  align-items: center;
}

.background {
  position: relative;
  width: 100vw;
  min-width: 380px;
  max-width: 100vh;
  min-height: 100vh;
  background: var(--color-bg);
  background-attachment: fixed;
  background-position: center;
}
