@import 'styles/agenda/common.scss';

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1001;
  display: flex;
  width: 150vw;
  min-width: 380px;
  height: 100%;
  flex-direction: column;
  background: var(--color-bg);
  background-attachment: fixed;
  background-position: center;
}
.app {
  @include app;
}

.floatingButton {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--font-size-xl);
  color: white;
  cursor: pointer;

  background-color: var(--highlight-violet);
  border: none;
  border-radius: $radius-circle;
  box-shadow: var(--box-shadow-light);
  transition: background-color 0.3s;

  &:hover {
    width: 3rem;
    height: 3rem;
    transform: translate(10%, 10%);
    animation: all 1s;
  }
}
