@import 'styles/takgu/common.scss';

.pageWrap {
  @include pageWrap;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  .title {
    @include pageTitle;
    width: fit-content;
    padding-bottom: 1rem;
    cursor: pointer;
  }
}

.tournamentCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.tournamentText {
  display: flex;
  flex: 1;
  margin: 1.5rem 0 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  > div {
    margin-bottom: 0rem;
  }
}

.noTournamentText {
  display: flex;
  padding: 2rem;
  font-size: 0.9rem;
  color: rgb(174, 174, 174);
  justify-content: center;
  align-content: center;
}
.buttonWrap {
  display: flex;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  align-items: center;

  .manual {
    @include match-noti-button;
    width: 4.2rem;
    height: 1.6rem;
    padding: 0;
    margin: 0 0.8rem 0 0;
    font-size: $small-font;
    border-radius: $small-radius;
  }
}
