@import 'styles/takgu/common.scss';

.tournamentPartyWrapper {
  display: flex;
  height: 45%;
  padding: 0.5rem;
  color: white;
  background-color: rgb(55, 0, 101);
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  justify-content: space-between;
  align-items: center;

  .playerImage {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
  }

  .partyName {
    margin-left: 1rem;
  }
  .score {
    margin-right: 1rem;
    margin-left: auto;
  }
}

.highlight {
  box-shadow: 0 0 10px 5px #ff8c00 inset;
  transition: box-shadow 0.3s;
}

.tournamentMatchContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #000000;
  justify-content: space-around;
}

.imageWrap {
  width: 2.6rem;
  height: 2.6rem;
  overflow: hidden;
  border-radius: 50%;
  .playerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
