@import 'styles/takgu/common.scss';

.container {
  @include pageWrap;
  position: relative; // match refresh 버튼을 위해 필요함
}

.buttonWrap {
  display: flex;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
  align-items: center;
  .notice {
    margin-right: 1.8rem;
    color: white;
  }
  .manual {
    @include match-noti-button;
    width: 4.2rem;
    height: 1.6rem;
    padding: 0;
    margin: 0 0.8rem 0 0;
    font-size: $small-font;
    border-radius: $small-radius;
  }
  .reload {
    @include reload-button;
    cursor: pointer;
  }
  .spin {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
    animation: spin 1s infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.title {
  @include pageTitle;
  &.NORMAL {
    text-shadow: $text-border-black, 0.3rem 0.3rem 0 $norm-lightblue2;
  }
}

.toggle {
  margin-bottom: -2rem;
}
