@import 'styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: $g2-bottom;
  color: black;
  border-radius: $small-radius;
  padding: 1rem;
  margin-bottom: 0.6rem;
}

.topContainer {
  display: flex;
}

.bottomContainer {
  margin-top: 1rem;
}

.userImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: $mini-radius;
  padding: 0.3rem;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
  div {
    @include userImage(4.7rem);
  }
}

.levelRacketWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  .level {
    color: $pp-blue;
    font-size: $giant-font;
    font-weight: 700;
    margin: 0 0 0.2rem 0.2rem;
  }
  .exp {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    .expRate {
      font-size: $small-font;
      margin: 0 0 0.2rem 0.2rem;
    }
    .bar {
      display: flex;
      height: 0.5rem;
      width: 7rem;
      border-radius: $mini-radius;
      overflow: hidden;
      .right {
        background-color: $g2-top;
      }
      .left {
        background-color: $dark-gray;
      }
    }
  }
  .racket {
    font-size: $small-font;
    border-radius: $mini-radius;
    text-align: center;
    padding: 0.2rem 0.5rem;
    background: white;
    margin-right: auto;
  }
}

.rankInfo {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  margin: -1.5rem 0 0.7rem 0;
}

.rank {
  display: flex;
  align-items: flex-end;
  color: $pp-red;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0.3rem;
  span:nth-child(1) {
    font-size: 1.5rem;
    margin-right: 0.2rem;
  }
  span:nth-child(2) {
    padding-bottom: 0.15rem;
  }
}

.pppWinRateWrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.2rem;
  .ppp {
    font-size: $big-font;
  }
  .winRate {
    font-size: $small-font;
    font-weight: 400;
    margin-left: auto;
  }
}

.bar {
  display: flex;
  width: 100%;
  height: 0.8rem;
  border-radius: $mini-radius;
  overflow: hidden;
  .wins {
    background-color: $winner-blue;
  }
  .losses {
    background-color: $loser-red;
  }
}

.statusMessage {
  flex: 2;
  background: white;
  border-radius: $mini-radius;
  min-height: 5rem;
  font-size: $midium-font;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .buttons {
    @include select-buttons(4.5rem, 1.5rem);
    margin-left: auto;
    margin-top: 0.2rem;
  }
}

.editContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.editModalTitle {
  color: $pp-blue;
}

.phrase {
  @include modal-phrase;
}

.editType {
  margin: 0 0 0.3rem 0.5rem;
  color: $pp-blue;
  font-size: $midium-font;
}

.racketTypeWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2rem;
  .racketRadioButtons {
    display: flex;
    justify-content: space-between;
    input[type='radio'] {
      position: absolute;
      opacity: 0;
    }
    :checked + .radioButton {
      color: $pp-blue;
      border-color: $pp-blue;
    }
    .radioButton {
      cursor: pointer;
      border: solid 1px white;
      border-radius: $mini-radius;
      text-align: center;
      font-size: $small-font;
      width: 6rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.statusMessageWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .textareaWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border-radius: $small-radius;
    overflow: hidden;
    border: solid $pp-blue 1px;
    textarea {
      border: none;
      padding: 0.8rem;
      font-size: $big-font;
      height: 5rem;
      resize: none;
    }
    :focus {
      outline: none;
    }
    div {
      display: flex;
      justify-content: flex-end;
      color: $dark-gray;
      padding: 0.7rem;
      font-size: $small-font;
    }
  }
}

.buttons {
  @include select-buttons(9rem);
}
