@import 'styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
  font-family: 'Roboto', sans-serif;
  color: $white1;
  border-radius: $small-radius;
  justify-content: space-between;
  align-items: center;
}

.level {
  display: flex;
  margin-top: -2rem;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  color: white;
}

.bar {
  display: flex;
  width: 10rem;
  height: 0.7rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: $mini-radius;
  .expCurrent {
    background: linear-gradient(
      89.81deg,
      #ff53a5 10.18%,
      #ff017b 55.14%,
      #ff409c 90.43%
    );
    background: linear-gradient(89.81deg, #8fc7fb, #4e8fdb);
  }
  .expLeft {
    background: $white2;
  }
}

.idContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3rem;
  align-items: center;
  margin-top: 0.5rem;
}

.ranktier {
  justify-self: end;
  margin-right: 0.3rem;
}

.intraId {
  font-size: $giant-font;
  font-weight: 700;
  color: $white1;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
  .kakao {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: black;
    background: linear-gradient(180deg, #f2d210 0%, #f2b210 100%);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
  }
}
// NOTE : select-buttons 믹스인 삭제 여부 판단하기 위해 남겨둠.
// .modalbuttons {
//   @include select-buttons(9rem);
// }

.exp {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  .expRate {
    margin: 0 0 0.2rem 0.2rem;
    font-size: $small-font;
  }
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  width: 21rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.expbox {
  width: 6.5rem;
  padding: 0.5rem 0;
  font-size: $small-font;
  color: #ff80bd;
  text-align: center;
  background: #9e426e;
  border-radius: $mini-radius;
}

.racket {
  width: 6.5rem;
  padding: 0.5rem 0;
  font-size: $small-font;
  color: #008234;
  text-align: center;
  background: #cbffb9;
  border-radius: $mini-radius;
}

.tierContainer {
  width: 6.5rem;
  padding: 0.5rem;
  font-size: $small-font;
  text-align: center;
  background-color: #8fc7fb9a;
  border-radius: $mini-radius;
  align-items: center;
  .tierId {
    @include tierNumber;
    font-size: 0.9rem;
    text-align: center;
  }
}

.statusMessage {
  padding: 1rem;
  font-size: $medium-font;
  text-align: center;
  align-items: center;
}

.editContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 2rem 1.5rem;
  @include modalContainer('LIGHTPINK');
}

.editModalTitle {
  color: $pp-gray;
}

.phrase {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: $big-font;
  text-align: left;
}

.editType {
  margin: 0 0 0.3rem 0.5rem;
  font-size: $medium-font;
  color: $pp-gray;
}

.snsWrap {
  display: flex;
  justify-content: space-between;
}

.snsButton {
  display: flex;
  width: 9rem;
  height: 2rem;
  margin-bottom: 2rem;
  color: $pp-gray;
  cursor: pointer;
  border-radius: $mini-radius;
  justify-content: center;
  align-items: center;
}

.snsClicked {
  color: #c66bf2;
  border: solid 1px #c66bf2;
}

.racketTypeWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;
  .racketRadioButtons {
    display: flex;
    justify-content: space-between;
    input[type='radio'] {
      position: absolute;
      opacity: 0;
    }
    :checked + .radioButton {
      color: #c66bf2;
      border: solid 1px #c66bf2;
    }
    .radioButton {
      display: flex;
      width: 6rem;
      height: 2rem;
      font-size: $small-font;
      color: $pp-gray;
      text-align: center;
      cursor: pointer;
      border-radius: $mini-radius;
      justify-content: center;
      align-items: center;
    }
  }
}

.statusMessageWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .textareaWrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    border-radius: $small-radius;
    align-items: stretch;
    textarea {
      height: 5rem;
      padding: 0.8rem;
      font-size: $big-font;
      resize: none;
      border: none;
    }
    :focus {
      outline: none;
    }
    div {
      display: flex;
      padding: 0.7rem;
      font-size: $small-font;
      color: $dark-gray;
      justify-content: flex-end;
    }
  }
}
