@import 'styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: $g2-bottom;
  color: black;
  border-radius: $small-radius;
  padding: 1rem;
}

.top {
  display: flex;
  margin-bottom: 0.5rem;
}

.bottom {
  display: flex;
}

.gameInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 1rem;
  .rank {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: $pp-red;
    font-size: 3rem;
    font-weight: 700;
    span:nth-child(1) {
      font-size: $big-font;
      margin: 0 0.5rem 0.3rem 0;
    }
    margin-bottom: 0.3rem;
  }
  .pppRacketWrap {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    .ppp {
      font-size: $big-font;
      margin-right: 0.5rem;
    }
    .racketType {
      font-size: $small-font;
      border: 1px solid;
      border-radius: $mini-radius;
      text-align: center;
      padding: 0.1rem 0.5rem;
    }
  }
  .winRate {
    display: flex;
    align-items: center;
    font-size: $midium-font;
    width: 100%;
    .winRateStr {
      margin-right: 0.5rem;
      font-weight: 300;
      span:nth-child(1) {
        font-size: $small-font;
      }
    }
    .winRateBar {
      display: flex;
      width: 70%;
      height: 1rem;
      border-radius: $mini-radius;
      overflow: hidden;
      .wins {
        background-color: $winner-blue;
      }
      .loses {
        background-color: $loser-red;
      }
    }
  }
}

.playerInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  .userImage {
    @include userImage(4.7rem);
  }
  .intraId {
    font-size: $big-font;
    font-weight: 600;
    margin-top: 0.2rem;
  }
}

.statusMessage {
  flex: 2;
  background: white;
  border-radius: $mini-radius;
  min-height: 5rem;
  font-size: $big-font;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .buttons {
    @include select-buttons(4rem, 1.5rem);
    margin-left: auto;
    margin-top: 0.2rem;
  }
}

.editContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.phrase {
  @include modal-phrase;
}

.editType {
  margin: 0 0 0.3rem 0.5rem;
  color: $pp-blue;
  font-size: $midium-font;
}

.racketTypeWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 3rem;
  .racketRadioButtons {
    display: flex;
    justify-content: space-between;
    input[type='radio'] {
      position: absolute;
      opacity: 0;
    }
    :checked + .radioButton {
      color: $pp-blue;
      border-color: $pp-blue;
    }
    .radioButton {
      cursor: pointer;
      border: solid 1px white;
      border-radius: $mini-radius;
      text-align: center;
      font-size: $midium-font;
      width: 8rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.statusMessageWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .textareaWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border-radius: $small-radius;
    overflow: hidden;
    border: solid $pp-blue 1px;
    textarea {
      border: none;
      padding: 0.7rem;
      font-size: $big-font;
      height: 5rem;
      resize: none;
    }
    :focus {
      outline: none;
    }
    div {
      display: flex;
      justify-content: flex-end;
      color: $dark-gray;
      padding: 0.7rem;
      font-size: $small-font;
    }
  }
}

.buttons {
  @include select-buttons;
}
