@import '../common.scss';

.container {
  @include pageWrap;
}

.title {
  @include pageTitle;
}

.subtitle {
  margin: 1rem 0 0.5rem 0;
  color: white;
  font-family: $title-font;
  font-size: $giant-font;
  text-align: center;
  letter-spacing: 0.1rem;
}
