@import 'styles/common.scss';

.matchBoardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.btnWrap {
  display: flex;
  justify-content: flex-end;
  .mamualBtn {
    @include match-noti-button;
    border-radius: $small-radius;
    margin: 0 0.8rem 0 0;
    width: 4rem;
  }
  .refreshBtn {
    @include match-noti-button;
    margin: 0;
    border-radius: $big-radius;
  }
}
