@import 'styles/common.scss';

@mixin matchItemButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.3rem;
  border-radius: $mini-radius;
  margin: 0.1rem;
  padding: 0.2rem 0.6rem;
  color: black;
  font-size: $midium-font;
  cursor: pointer;
}

.myButton {
  @include matchItemButton;
  background: linear-gradient(to bottom, white, rgba(45, 128, 237));
}

.enableButton {
  @include matchItemButton;
  background: linear-gradient(to bottom, white, $g1-bottom);
}

.disableButton {
  @include matchItemButton;
  background: linear-gradient(to bottom, $gray, rgba(217, 217, 217, 0.6));
  cursor: default;
}

.headCountString {
  font-size: $midium-font;
  font-weight: 600;
  text-shadow: 1px 1px 7px #a6a6a6;
  color: $pp-blue;
}

.plusString {
  font-size: $big-font;
  font-weight: 600;
  text-shadow: 1px 1px 7px #a6a6a6;
  color: $pp-blue;
}
