@import 'styles/common.scss';

.matchBoard {
  height: 60vh;
  padding: 1rem;
  margin-block: 1rem;
  border-radius: $small-radius;
  background: rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
}

.notice {
  margin: 0.2rem 1rem 0 0;
  color: white;
  text-align: center;
}

.buttonWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.7rem;
  margin-right: 0.6rem;
  .manual {
    @include match-noti-button;
    margin: 0 0.8rem 0 0;
    padding: 0;
    width: 4.2rem;
    height: 1.6rem;
    font-size: $small-font;
    border-radius: $small-radius;
  }
  .reload {
    @include reload-button;
    cursor: pointer;
  }
  .spin {
    opacity: 0.7;
    pointer-events: none;
    animation: spin 1s infinite;
    cursor: not-allowed;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.slotButton {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.3rem;
  padding: 0 0.6rem;
  margin: 0.1rem;
  border-radius: $mini-radius;
  cursor: pointer;

  &.mytable {
    background: linear-gradient(to bottom, white, #68ff77);
  }

  &.rank {
    background: linear-gradient(to bottom, white, $g1-bottom);
  }

  &.normal {
    background: linear-gradient(to bottom, white, $norm-lightblue);
  }

  &.disabled {
    background: linear-gradient(to bottom, $gray, rgba(217, 217, 217, 0.6));
    cursor: default;
  }
}

.time {
  color: black;
  font-size: 0.9rem;
}

.headCount {
  color: $rank-blue;
  font-size: $small-font;
  font-weight: 600;
  text-shadow: 1px 1px 7px #a6a6a6;
}

.plus {
  color: $rank-blue;
  font-size: $big-font;
  font-weight: 600;
  text-shadow: 1px 1px 7px #a6a6a6;
}

.slotHour {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
  color: white;
  font-size: $big-font;
}

.slotGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
