@import 'styles/common.scss';

.matchAllClosed {
  margin: 3rem 0;
  text-align: center;
  color: #fff;
}

.matchBoardList {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-block: 1rem;

  height: 60vh;
  overflow-y: scroll;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: $small-radius;
}

.btnWrap {
  display: flex;
  justify-content: flex-end;
  .mamualBtn {
    @include match-noti-button;
    border-radius: $small-radius;
    margin: 0 0.8rem 0 0;
    width: 4rem;
  }
  .refreshBtn {
    @include match-noti-button;
    margin: 0;
    border-radius: $big-radius;
  }
  .refreshBtnAnimation {
    @include match-noti-button;
    cursor: not-allowed;
    opacity: 0.7;
    margin: 0;
    border-radius: $big-radius;
    animation: spin 1s infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.matchBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0 1rem 0;
}
