@import 'styles/common.scss';

.container {
  @include pageWrap;
  position: relative; // match refresh 버튼을 위해 필요함
}

.rankTitle {
  @include pageTitle;
}

.normTitle {
  @include pageTitle;
  text-shadow: $text-shadow, 0.3rem 0.3rem 0 $norm-lightblue2;
}

.toggle {
  margin-bottom: -2rem;
}
