@import 'styles/common.scss';

.matchBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0 1rem 0;
}

.slotHourString {
  font-size: $big-font;
  color: white;
  margin-left: 0.3rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.6rem;
}
