@import '../common.scss';

.matchBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 20rem;
}

.slotHourString {
  width: 90%;
  font-size: $big-font;
  color: white;
  margin: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
