@import 'styles/common.scss';

.slotHour {
  margin-left: 0.3rem;
  color: white;
  font-size: $big-font;
}

.slotGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0.6rem;
}
