@import 'styles/common.scss';
@import 'styles/ProfileBackgroundTheme.scss';

.container {
  display: flex;
  width: 12rem;
  height: 16rem;
  flex-direction: column;
  background: #edeff0;
  box-shadow: 0rem 0rem 5rem #ffffffa1;
  opacity: 0%;
  animation: appear 0.5s 3s ease-in-out forwards;
  justify-content: center;
  .colorName {
    margin-top: 5%;
    font-family: 'NanumSquare_acR', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  .player {
    width: 90%;
    height: 75%;
    margin-left: 5%;
    &.color1 {
      background: map-get($map: $bg-pink-orange, $key: 'background');
    }
    &.color2 {
      background: map-get($map: $bg-blue-green, $key: 'background');
    }
    &.color3 {
      background: map-get($map: $bg-midnight, $key: 'background');
    }
    &.color4 {
      background: map-get($map: $bg-orange, $key: 'background');
    }
    &.color5 {
      background: map-get($map: $bg-grass-green, $key: 'background');
    }
    &.color6 {
      background: map-get($map: $bg-lemon-blue, $key: 'background');
    }
    &.color7 {
      background: map-get($map: $bg-dracula, $key: 'background');
    }
    &.color8 {
      background: map-get($map: $bg-mint-green, $key: 'background');
    }
    &.color9 {
      background: map-get($map: $bg-steel-gray, $key: 'background');
    }
    &.color10 {
      background: map-get($map: $bg-blood-red, $key: 'background');
    }
    &.color11 {
      background: map-get($map: $bg-blue-sky, $key: 'background');
    }
    &.color12 {
      background: map-get($map: $bg-ocean-blue, $key: 'background');
    }
    &.color13 {
      background: map-get($map: $bg-pink-blue, $key: 'background');
    }
    &.color14 {
      background: map-get($map: $bg-sunset-pink, $key: 'background');
    }
    &.color15 {
      background: map-get($map: $bg-dark-navy, $key: 'background');
    }
    &.color16 {
      background: map-get($map: $bg-orange-green, $key: 'background');
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(5rem) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
