@import 'styles/common.scss';

.container {
  display: flex;
  width: 85%;
  height: 30vh;
  flex-direction: column;
  padding-top: 1rem;
  overflow-y: scroll;
  .empty {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: $gray;
    div {
      margin: 1rem auto;
      text-align: center;
      word-break: keep-all;
    }
    svg {
      margin: 1rem auto;
    }
  }
}
