@import 'styles/common.scss';

.data {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  background-color: #ffffff41;
  justify-content: space-between;
  .plus {
    color: #a9ff99;
  }
  .minus {
    color: #fe3942;
  }
  .section1 {
    display: flex;
    align-items: center;
    width: 85%;
    .icon {
      display: flex;
      width: 10%;
      margin-right: 0.5rem;
      align-items: center;
    }
    .content {
      width: 90%;
      .history {
        color: black;
        word-break: keep-all;
        word-wrap: break-word;
      }
      .date {
        font-size: 0.8rem;
        color: #3b363b;
      }
    }
  }
  .section2 {
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
  }
}
