@import 'styles/common.scss';

.container {
  display: flex;
  width: 85%;
  height: 30vh;
  flex-direction: column;
  padding-top: 1rem;
  overflow-y: scroll;
  .empty {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: $gray;
  }
}
