@import 'styles/common.scss';

.container {
  @include modalContainer('SKYPINK');
}

.phrase {
  @include modal-phrase;
  margin-bottom: 0.875rem;
  color: rgba(49, 47, 49, 1);

  .message {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.04rem;
  }

  .recipient {
    margin-top: 0.875rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.04rem;
    span {
      font-weight: 1000;
      color: $norm-purple;
    }
  }

  .itemInfo {
    width: 80%;
    margin-top: 0.875rem;
    margin-left: 10%;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 150%;
    color: #666666;
    letter-spacing: 0.04rem;
    .itemName {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .itemPrice {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .warning {
    font-size: 0.875rem;
    font-weight: 700;
    color: #ff0000;
    letter-spacing: 0.04rem;
  }
}

.buttons {
  @include modalButton;
}
