@import 'styles/common.scss';

.container {
  @include modalContainer('PINKWHITE');
}

.title {
  @include modalTitle;
}

.phrase {
  @include modal-phrase;
  text-align: left;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.sectionTitle {
  margin: 0 0 0.3rem 0.5rem;
  font-size: $medium-font;
  color: $dark-gray;
}

.textArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
  background: white;
  border-radius: $small-radius;
  align-items: stretch;
  textarea {
    height: 4rem;
    padding: 0.8rem;
    font-size: $big-font;
    resize: none;
    border: none;
  }
  :focus {
    outline: none;
  }
  div {
    display: flex;
    padding: 0.7rem;
    font-size: $small-font;
    color: $dark-gray;
    justify-content: flex-end;
  }
}

.itemCautionContainer {
  .title {
    margin: 0 0 0.3rem 0.5rem;
    font-size: $medium-font;
    color: $dark-gray;
  }
  .list {
    padding: 0 0 0.5rem 0.5rem;
    list-style-position: inside;
    list-style-type: '- ';
  }
}
