@import 'styles/common.scss';

.container {
  @include modalContainer('PINKWHITE');
  padding-bottom: 0;
}

.title {
  @include modalTitle;
}

.phrase {
  @include modal-phrase;
  text-align: left;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.sectionTitle {
  margin: 0 0 0.3rem 0.5rem;
  font-size: $medium-font;
  color: $dark-gray;
}

.colorPickerWrapper {
  position: relative;
  height: 2rem;
}

.textArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
  background: white;
  border-radius: $small-radius;
  align-items: stretch;
  textarea {
    height: 4rem;
    padding: 0.8rem;
    font-size: $big-font;
    resize: none;
    border: none;
  }
  :focus {
    outline: none;
  }
  div {
    display: flex;
    padding: 0.7rem;
    font-size: $small-font;
    color: $dark-gray;
    justify-content: flex-end;
  }
}

.itemCautionContainer {
  .title {
    margin: 0 0 0.3rem 0.5rem;
    font-size: $medium-font;
    color: $dark-gray;
  }
  .list {
    padding: 0 0 0.5rem 0.5rem;
    margin-left: 0.8rem;
    word-break: keep-all;
    list-style: '- ';
  }
}

.idPreviewContainer {
  .title {
    margin: 0 0 0.3rem 0.5rem;
    font-size: $small-font;
    color: $dark-gray;
  }
}

.profilePreviewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  img {
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
  }
  svg {
    margin: 0 1.5rem;
  }
  .profilePreview {
    display: flex;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    background-color: #c7b1ee;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    svg {
      width: 2.5rem;
      height: 2.5rem;
      color: #603b88;
    }
  }
}
