@import 'styles/common.scss';

.container {
  @include modalContainer('DARKPURPLE');
  width: 80vw;
  max-width: 20rem;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  @include modalTitle; // font-family, font-size, font-weight, letter-spacing
  margin-bottom: 2rem;
  font-size: 2.25rem;
  color: #f8f8ff;
  text-shadow: 0px 0px 12px #ffffff;
}

.storeRadioBoxWrap {
  box-sizing: border-box;
  width: 100%;
}

.ruleList {
  width: 100%;
  height: 45vh;
  padding: 1rem;
  margin: 0 0.6rem 1.75rem;
  overflow-y: scroll;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  list-style: none;
  background: #fdebf8;
  border-radius: 10px;

  > li {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }
}

.ruleTitle {
  display: flex;
  word-break: keep-all;
  vertical-align: middle;
  align-items: center;
  &.withIcon {
    :first-child {
      min-width: 1.5rem;
      max-width: 1.5rem;
      min-height: 1.5rem;
      max-height: 1.5rem;
    }
    :last-child {
      margin-left: 0.5rem;
    }
  }
  &.withoutIcon {
    margin-left: 0.5rem;
  }
}

.ruleDetail {
  padding: 0.5rem 0.5em 0.5rem 1.5rem;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  font-weight: 400;
  word-break: keep-all;

  > li {
    margin: 0.4rem 0;
    line-height: 130%;
    white-space: pre-wrap;
    list-style: square;
  }
  .ruleContent {
    padding-left: 0.5rem;
    line-height: 170%;
    list-style-type: '- ';
  }
  a {
    color: #c66bf2;
  }
}

.ruleList::-webkit-scrollbar {
  display: inherit;
  width: 6px;
  height: 1rem;
}

.ruleList::-webkit-scrollbar-thumb {
  background: #c6c4c4;
  border-radius: 6px;
}

@mixin modalButton($color) {
  padding: 0.75rem 2.25rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  @if ($color == 'DARKPURPLE') {
    background: linear-gradient(
      180deg,
      #c66bf2 0%,
      rgba(96, 6, 138, 0.52) 100%
    );
  }
}

.modalButton {
  @include modalButton('DARKPURPLE');
  margin: 0 0.5rem;
}
