@import 'styles/common.scss';

.container {
  @include modalContainer('SKYVIOLET');
  width: 80vw;
  max-width: 25rem;
  font-family: 'NanumSquare_acR', sans-serif;
  .title {
    margin: 2rem 0;
    font-family: 'Lexend';
    font-size: 1.8rem;
    color: #f8f8ff;
    text-shadow: 0px 0px 12px #ffffff;
  }

  .balance {
    display: flex;
    width: 80%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    justify-content: space-between;
  }
}
