@import 'styles/admin/common/Pagination.module.scss';
@import 'styles/common.scss';
@import 'styles/admin/common.scss';

.tableContainer {
  width: 100%;
  min-width: 700px;
  margin: auto;
  .table {
    .tableBody {
      .tableRow {
        &:nth-child(odd) {
          background-color: #f9fafb;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
        .tableBodyItem {
          padding: 10px;
          font-size: $small-font;
          line-height: 150%;
          text-align: center;
        }
      }
    }
  }
}

.searchWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.3rem;
  :nth-child(2) {
    margin: 0 0 0 20px;
  }
}

.deleteBtn {
  width: 5rem;
  height: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  background: #2678f3;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  &:disabled {
    cursor: not-allowed;
    background-color: #929fb3;
  }
}

.interview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  @include admin-button('PALE-BLUE');
  padding: 0.5rem 1.3rem;
  margin-top: 1rem;
}

@include pagination;
