@import 'styles/common.scss';
@import 'styles/admin/common.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  .templateContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      margin-bottom: 0.5rem;
    }
    .button {
      @include admin-button('BLUE');
      padding: 0.6rem;
      margin-top: 0.5rem;
    }
  }
}
