@import '../../styles/agenda/common.scss';
@import url('../../styles/globals.css');

#container {
  background-color: var(--bg-light);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fuck {
  color: red;
  border: var(--default-border);
  box-shadow: var(--default-box-shadow);
  border-radius: $small-radius;
}

.test_box {
  border-radius: $medium-radius;
  border: var(--default-border);
  box-shadow: var(--default-box-shadow);
  background: var(--box-bg-1);
  padding: 1rem;
  width: 200px;
  height: 200px;
}

.test_box:hover {
  background: var(--highlight-yellow);
}

h1 {
  font-family: $font-family-menu;
}
