@import 'styles/takgu/common.scss';

// ANCHOR : page

.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
  width: fit-content;
  cursor: pointer;
}

.storeContainer {
  height: 60vh;
  padding: 1rem;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.2);
  border-radius: $small-radius;
  margin-block: 0 1rem;
}
