@import '../common.scss';

.searchBar {
  font-size: $midium-font;
  background: white;
  border-radius: $small-radius;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0.8rem 0;
  input {
    all: unset;
    width: 15rem;
  }
  .buttons {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    span {
      display: flex;
      align-items: center;
      margin: 0 0.2rem;
      text-align: center;
    }
  }
}

.dropdown {
  position: absolute;
  width: calc(100vw - 4.6rem);
  background: #fff;
  border-radius: $small-radius;
  margin: -0.7rem 0.8rem 0;
  padding: 0.7rem 1rem 1rem;
  div {
    padding: 0.5rem 0;
  }
}
