@import 'styles/common.scss';

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 2.7rem;
  padding: 0 0.8rem;
  margin: 1rem 0.8rem 0;
  border-radius: $small-radius;
  background: white;
  font-size: $medium-font;
  input {
    all: unset;
    width: calc(100% - 4rem);
  }
  .icons {
    span {
      display: flex;
      align-items: csenter;
      font-size: 1.2rem;
    }
    .reset {
      color: gray;
      cursor: pointer;
    }
  }
}

.dropdown {
  display: block;
  position: absolute;
  top: 2.3rem;
  left: 0;
  width: 100%;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0 0 $small-radius $small-radius;
  background: white;
  div {
    padding: 0.5rem 0;
    cursor: pointer;
  }
}
