@import '../common.scss';

.sectionWrap {
  margin: 2.5rem 0;
  text-align: right;
  a {
    display: block;
    margin: 0.5rem;
    font-size: $small-font;
    color: #fff;
  }
  section {
    #title {
      font-size: $big-font;
    }
  }
}
