@import 'styles/common.scss';

.sectionWrap {
  margin-top: 2.5rem;
  text-align: right;
  a {
    display: block;
    width: 4rem;
    margin: 0.5rem 0.5rem 0.5rem auto;
    color: white;
    font-size: $small-font;
  }
  section {
    #title {
      font-size: $big-font;
    }
  }
}
