@import 'styles/common.scss';

.container {
  width: 100%;
}

.ullist {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.lilist {
  padding: 8px 16px;
  cursor: pointer;
  border: 2px solid #5b5a5a;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #eaeaea;
  }
}
