@import 'styles/takgu/common.scss';
@import './common.scss';

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
  background-color: $white2;
  align-items: center;
}

.form {
  background-color: $white2;

  .titleContainer {
    display: flex;
    width: 22rem;
    height: 6.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $giant-big-font;
    font-weight: 600;
    background-color: $medium-gray;
    border-color: #8ebcf9;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
  }

  .bodyContainer {
    display: flex;
    flex-direction: column;
  }

  .questionContainer {
    z-index: 0;
    display: flex;
    width: 22rem;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: $medium-gray;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
  }

  .questionText {
    margin-bottom: 1rem;
    font-size: 1rem;
    word-break: break-all;
  }

  .submitBtn {
    width: 22rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }
  .questionText,
  .textField,
  .checkBoxGroup,
  .radioBoxGroup {
    width: 18rem;
  }

  .radioBox,
  .checkBox {
    word-break: break-all;
  }

  .backTitle,
  .backBtn {
    margin: 2rem;
    font-size: $giant-font;
  }
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(246, 246, 246, 0.4);
  backdrop-filter: blur(5px);

  .stickyContainer {
    display: flex;
    height: 5rem;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-around;
    .pageTitle {
      font-size: 2rem;
    }
    .btnContainer {
      display: flex;
      width: 15rem;
      height: 2.5rem;
      justify-content: space-around;
      .cancelBtn,
      .editBtn {
        border-radius: 1rem;
      }
    }
  }
}
