@import 'styles/takgu/common.scss';

.recruitLayout {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: $white2;
  align-items: center;
}

.recruitContainer {
  display: flex;
  width: 100vw;
  min-width: 320px;
  max-width: 797px;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 1.5rem 2rem;
  align-items: center;
  gap: 1rem;
}

.noRecruit {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
