@import 'styles/common.scss';

.tableHeader {
  background-color: lightgray;

  .tableHeaderItem {
    padding: 0.5rem;
    font-size: $small-font;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
  }
}

.tableRow {
  &:nth-child(odd) {
    background-color: #f9fafb;
  }

  &:nth-child(even) {
    background-color: #fff;
  }

  .tableBodyItem {
    padding: 10px;
    font-size: 0.7rem;
    line-height: 150%;
    text-align: center;
  }
}

.tableBodyItemHover {
  position: relative;
}

.hoverInfo {
  position: absolute;
  bottom: 0.5rem;
  box-sizing: border-box;
  display: block;
  width: 200%;
  padding: 16px;
  cursor: pointer;
  visibility: hidden;
  border-radius: 1rem;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transform: translate3d(0, 105%, 0);
}

.tableBodyItemHover:hover .hoverInfo {
  z-index: 1;
  visibility: visible;
  background-color: #cbced1;
  opacity: 1;
}
