@mixin pagination {
  .pageNationContainer {
    ul {
      padding: 0;
      list-style: none;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        margin: 0 0.3rem;
        font-size: 1.2rem; /* $big-font */
        font-weight: 600;
        cursor: pointer;
        a {
          font-size: 0.9rem;
          color: gray; /* $g1-bottom */
          text-decoration: none;
        }
        :hover,
        :active {
          font-weight: 700;
          color: black; /* $pp-red */
        }
      }
    }
  }
}
