@mixin pagination {
  .pageNationContainer {
    ul {
      list-style: none;
      padding: 0;

      li {
        cursor: pointer;
        width: 27px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem; /* $big-font */
        font-weight: 600;
        a {
          text-decoration: none;
          color: gray; /* $g1-bottom */
          font-size: 1rem;
        }
        :hover,
        :active {
          font-weight: 700;
          color: black; /* $pp-red */
        }
      }
    }
  }
}
