@import 'styles/agenda/common.scss';

.descriptionContainer {
  @include container(1);

  width: 100%;
  flex: 1 0 0;

  flex-direction: column;
  padding: 1.5rem;
  margin: 0;
  gap: 1rem;
  align-items: flex-start;
}

.descriptionTitle {
  @include boldTextFont(big);
}

.descriptionWarp {
  @include regularTextFont(medium);
}
