@import 'styles/agenda/common.scss';

.notificationContianer {
  display: flex;

  width: 100%;
  flex: 1 0 0;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  background: var(--white);

  border: var(--border-light);
  border-radius: $medium-radius;
  box-shadow: var(--box-shadow-light);
  align-items: flex-start;
}

.toggleWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleWarp {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.toggleIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.notificationTitle {
  @include boldTextFont(big);
}
.notificationDate {
  @include regularTextFont(medium);
}

.notifiacationContent {
  @include regularTextFont(medium);
}
