@import 'styles/agenda/common.scss';

.notificationContianer {
  @include container(1);

  width: 100%;
  flex: 1 0 0;

  flex-direction: column;
  padding: 1.5rem;
  margin: 0;
  gap: 1rem;
  align-items: flex-start;
}

.toggleWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleWarp {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.toggleIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.notificationTitle {
  @include boldTextFont(big);
}
.notificationDate {
  @include regularTextFont(medium);
}

.notifiacationContent {
  @include regularTextFont(medium);
}
