@import 'styles/agenda/common.scss';

.participantsContainer {
  display: flex;

  height: 0.5rem;

  flex: 1 0 0;
  padding: 1rem 0.6rem 1rem 1rem;

  background: var(--box-bg-1-light);

  border-radius: $medium-radius;
  box-shadow: var(--box-shadow-bottom);
  align-items: center;
}

.participantWarp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  cursor: pointer;
}

.participantcontent {
  font-family: $common-font;
  font-size: $medium-font;
  font-weight: 700;
}

.bgGam {
  background-color: $color-coalition-gam;
}

.bgGon {
  background-color: $color-coalition-gon;
}

.bgGun {
  background-color: $color-coalition-gun;
}

.bgLee {
  background-color: $color-coalition-lee;
}

.bgSpring {
  background-color: $color-coalition-spring;
}

.bgSummer {
  background-color: $color-coalition-summer;
}

.bgAutumn {
  background-color: $color-coalition-autumn;
}

.bgWinter {
  background-color: $color-coalition-winter;
}

.bgDefault {
  background-color: var(--box-bg-1-light);
}
