@import 'styles/agenda/common.scss';

.participantsContainer {
  display: flex;

  height: 2rem;

  flex: 1 0 0;
  padding: 1rem 0.6rem 1rem 1rem;

  border-radius: $medium-radius;
  box-shadow: var(--box-shadow-bottom);
  align-items: center;
}

.participantWarp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  cursor: pointer;
}

.participantcontent {
  @include boldTextFont(medium);
}
