@import 'styles/agenda/common.scss';

.ListContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  width: 100%;
}

.participantsTitle {
  @include boldTextFont(big);
}
