@import 'styles/agenda/common.scss';

.participantsWarp {
  display: flex;
  width: 100%;

  flex: 1 0 0;
  flex-direction: column;
  gap: 1rem;
}

.participantsTitle {
  @include boldTextFont(big);
}
