@import 'styles/agenda/common.scss';

.contentWarp {
  display: flex;
  width: 100%;
}

.tabButtonList {
  display: inline-flex;
  width: 100%;
  padding: 1rem 0.5rem;
  align-items: center;
  gap: 0.5rem;
}
