@import 'styles/agenda/common.scss';

$info-gradient: linear-gradient(
  180deg,
  #fff 0%,
  rgba(255, 255, 255, 0) 23%,
  rgba(0, 0, 0, 0) 44%,
  #fff 78.5%
);

.infoContainer {
  @include container(1);
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 100%;
  padding: 1.2rem;
  margin: 0rem;
  background: $info-gradient;

  &.largeHeight {
    height: 20rem;
  }

  &.smallHeight {
    height: 10rem;
  }

  @media screen and (min-width: 481px) and (max-width: 960px) {
    width: 450px;
    max-width: 800px;
  }

  @media screen and (min-width: 961px) {
    height: 5rem !important;
    border-radius: 10rem;
  }
}

.infoWarp {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  @media screen and (min-width: 961px) {
    bottom: 0.3rem;
  }
}

.contentWarp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;

  @media screen and (min-width: 961px) {
    flex-direction: row; // 가로 배치
    justify-content: space-between; // 간격 조절
    align-items: center;
    gap: 1rem;
  }
}

.titleWarp {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  @media screen and (max-width: 961px) {
    justify-content: space-between;
  }
  h2 {
    @include text('agenda-title');
  }
}

.shareBtn {
  cursor: pointer;
}

.organizerWrap {
  @include text('default'); // medium
  margin-right: auto; // UploadBtn과의 간격 확보
}

.shareWarp {
  position: absolute;
  right: 0;
  @media screen and (max-width: 960px) {
    right: 0;
    bottom: 135%;
  }
  @media screen and (min-width: 961px) {
    right: 13.5%;
    bottom: 27%;
  }
}

.enrollWarp {
  position: absolute;
  right: 0;
  @media screen and (max-width: 960px) {
    bottom: 100%;
  }
  @media screen and (min-width: 961px) {
    bottom: 26%;
  }
}
