@import 'styles/agenda/common.scss';

$info-gradient: linear-gradient(
  180deg,
  #fff 0%,
  rgba(255, 255, 255, 0) 23%,
  rgba(0, 0, 0, 0) 44%,
  #fff 78.5%
);

.infoContainer {
  @include container(1);

  position: relative;
  width: 100%;
  height: 20rem;
  padding: 1.5rem;
  margin: 0rem;
  background: $info-gradient;
}

.infoWarp {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
}

.contentWarp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.titleWarp {
  display: flex;
  width: 100%;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  h2 {
    @include text('agenda-title');
  }
}

.shareBtn {
  cursor: pointer;
}

.enrollWarp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}

.organizerWrap {
  @include text('default'); // medium
  // @include regularTextFont(big); //
}
