@import 'styles/agenda/common.scss';

.layout {
  @include layout;
  grid-template:
    'top top top top' 450px
    'content content match match' auto / 1fr 1fr 1fr 1fr;
  max-width: 100%;
  padding-top: 1px;
}

.agendaDetailWrap {
  @include pageContainer;
  height: 100%;
}
