.whole {
  text-align: center;
  display: flex;
  justify-content: center;
  display: inline-block;
  align-items: center;
  display: inline-block;
  background-color: aliceblue;
}

.title {
  color: cornflowerblue;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  margin: auto;
  margin-bottom: 20px;
  margin: auto;
}

.body {
  display: flex;
  font-size: 1.5rem;
  margin: auto;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: cadetblue;
}

.btns {
  color: aliceblue;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  // justify-items: center;
}

.btn {
  background-color: aliceblue;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 400px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.btntext {
  color: cadetblue;
  margin: auto;
}

.hide {
  display: none;
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}
