@mixin admin-modal {
  padding: 34px 54px;
  color: #6b7280;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}

@mixin admin-button($color, $disabled: '') {
  cursor: pointer;
  border: none;
  @if ($color == 'BLUE') {
    color: #ffffff;
    background-color: #2678f3;
  } @else if ($color == 'GRAY') {
    color: #ffffff;
    background: #6c757d;
  } @else if ($color == 'PALE-BLUE') {
    color: #2678f3;
    background: #c3ddfd;
  } @else if ($color == 'PALE-GRAY') {
    color: #6b7280;
    background: #e5e7eb;
  } @else {
    // 기본 : 'BLUE'
    color: #ffffff;
    background-color: #2678f3;
  }
  @if ($disabled == 'disabled') {
    opacity: 0.3;
  }
}
