@import 'styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  margin-top: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  height: 2rem;
  border-radius: 0.75rem;
}

.img {
  width: 18px;
  height: 18px;
  margin-left: 3px;
}

.contentText {
  font-family: $admin-font;
  margin-left: 0.75rem;
}

.selected {
  background: #f3f4f6;
}
