@import 'styles/common.scss';

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.7rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.content:hover {
  border: 1px solid $medium-gray;
}

.contentText {
  font-family: $admin-font;
  font-size: $small-font;
  margin-left: 0.75rem;
}

.selected {
  background: #f3f4f6;
}
