@import 'styles/common.scss';

.container {
  display: flex;
  width: 10rem;
  min-width: 10rem;
  height: 100%;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 1rem;
  height: 1rem;
  margin-left: 0.125rem;
}
.menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.menuName {
  padding: 0 0.5rem;
}

.subMenu {
  margin-left: 20px;
}
