.container {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
  justify-content: flex-start;
  align-items: center;
  background-color: #ebecee;
}

.container > * {
  margin-top: 0.5rem;
}
