@import 'styles/common.scss';

.tournamentPartyWrapper {
  display: flex;
  height: 45%;
  padding: 0.5rem;
  color: white;
  background-color: $rank-purple;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  justify-content: space-between;
  align-items: center;
  .partyName {
    margin-left: 1rem;
  }

  .score {
    margin-left: auto;
  }
}

.highlight {
  /* 바깥 테두리에 반짝이는 효과를 주는 스타일 */
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5) inset; /* 노란색 그림자, inset을 사용하여 내부가 아닌 외부에 적용 */
  transition: box-shadow 0.3s ease-in-out; /* 그림자에 부드러운 전환 */
}

.tournamentMatchContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #000000;
  justify-content: space-around;
}
