.tournamentCardContainer {
  display: flex;
  height: 3.5rem;
  padding: 0 1rem;
  margin: 0.5rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #9134f7, #8921c5);
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);

  .text {
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
