@import 'styles/common.scss';

.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
  width: fit-content;
  padding-bottom: 1rem;
  cursor: pointer;
}

.tournamentCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.tournamentText {
  display: flex;
  flex: 1;
  margin: 1.5rem 0 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  > div {
    margin-bottom: 0rem;
  }
}

.noTournamentText {
  display: flex;
  padding: 2rem;
  font-size: 0.9rem;
  color: rgb(174, 174, 174);
  justify-content: center;
  align-content: center;
}
