// https://dev.to/wgnrd/adding-a-dark-mode-to-your-website-using-scss-4pdc
// @import 'styles/globals.css';

// radius
$small-radius: 1rem; // 컴포넌트 속 요소
$medium-radius: 1.2rem; // 기본 컴포넌트
$big-radius: 1.4rem; // 제목, 웹용 큰 박스용
$circle-radius: 50%; // 원

// coalition
$color-coalition-autumn: #ffac65;
$color-coalition-winter: #d6c5ff;
$color-coalition-spring: #c4ff7f;
$color-coalition-summer: #6fd6c4;
$color-coalition-gon: #79e27e;
$color-coalition-gun: #ffea80;
$color-coalition-gam: #72d3ff;
$color-coalition-lee: #ff8a85;

// color
$color-placeholder: #b4a5b5;
$color-white: #ffffff;
$color-light-gray: #e3e3e3;

// background
$color-deadline-background: rgba(255, 75, 75, 0.8);
$color-agenda-list-background: linear-gradient(
    180deg,
    #fff 65px,
    rgba(0, 0, 0, 0) 100%
  ),
  url('/image/agenda/42.jpg') lightgray 50% / cover no-repeat;

// border
$border-common: 0.1rem solid black;

// box-shadow
$box-bottom-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);

// font-family
$logo-font: 'Overgrow', sans-serif;
$menu-font: 'Simplehae';
$bold-text-font: '11StreetGothicBold';
$regular-text-font: '11StreetGothicRegular';
$light-text-font: '11StreetGothicLight';
$inter-font: 'Inter';
$font-family-menu: 'Simplehae';
$font-default: 'Pretendard', sans-serif; // 예정
$common-font: 'Pretendard', sans-serif;
/ /예정 @mixin container($level) {
  display: flex;
  width: calc(100% - 2rem);
  max-width: 1200px;
  flex-direction: column;
  padding: 0 1rem;
  margin: 1rem;
  border: var(--default-border);
  border-radius: $medium-radius;
  box-shadow: var(--default-box-shadow);
  justify-content: center;
  align-items: center;
  @if $level == 1 {
    background: var(--box-bg-1);
  } @else if $level == 2 {
    background: var(--box-bg-2);
  } @else if $level == 3 {
    background: var(--box-bg-3);
  } @else if $level == 'right' {
    background: var(--box-bg-1);
    border-radius: $medium-radius 0 0 $medium-radius;
  }
}

/* font-size */
$giant-giant-font: 2.4rem;
$giant-big-font: 2.1rem;
$big-giant-font: 1.8rem;
$giant-font: 1.5rem;
$big-font: 1.2rem;
$medium-font: 1rem;
$small-font: 0.8rem;

/* font-size map */
$font-sizes: (
  giant-giant: 2.4rem,
  giant-big: 2.1rem,
  big-giant: 1.8rem,
  giant: 1.5rem,
  big: 1.2rem,
  medium: 1rem,
  small: 0.8rem,
);

@function font-size($size) {
  @return map-get($font-sizes, $size);
}

// 42GG logo
@mixin logoText($size, $color) {
  font-family: $logo-font;
  font-size: $size;
  font-weight: 500;
  color: $color;
  text-align: center;
  letter-spacing: 0.1rem;
}

@mixin titleFont {
  font-family: $font-family-menu;
  font-size: font-size(big-giant);
  font-weight: 400;
}

@mixin subTitleFont {
  font-family: $font-family-menu;
  font-size: font-size(giant);
  font-weight: 300;
}

@mixin lightTextFont($size) {
  font-family: $light-text-font;
  font-size: font-size($size);
}

@mixin regularTextFont($size) {
  font-family: $regular-text-font;
  font-size: font-size($size);
}

@mixin boldTextFont($size) {
  font-family: $bold-text-font;
  font-size: font-size($size);
}

@mixin textButton($type, $style) {
  padding: 1rem;
  font-size: $medium-font;
  color: var(--default-font);
  border: var(--default-border);
  border: none;
  border-radius: $small-radius;
  box-shadow: var(--default-box-shadow);
  @if ($style == 'default') {
    border-color: var(--default-border);
  } @else if ($style == 'highlight') {
    color: white;
    border-color: var(--highlight-violet);
  } @else if ($style == 'mid') {
    border: var(--default-border);
    box-shadow: var(--default-box-shadow);
  }

  @if ($type == 'submit') {
    width: 3rem;
    height: 1.5rem;
  } @else if ($type == 'delete') {
    background: url('/buttons/delete.svg') no-repeat center;
  } @else {
    // default
    width: 3rem;
    height: 1.5rem;
  }
}

@mixin boldTitle {
  margin: 1rem 0;
  font-size: $big-giant-font;
  font-weight: 700;
  color: var(--default-font);
}

@mixin title {
  margin: 1rem 0;
  font-size: $big-giant-font;
  font-weight: 500;
  color: var(--default-font);
}

@mixin description {
  font-size: $small-font;
  font-weight: 300;
}

@mixin text($type) {
  color: var(--color-text);
  @if ($type == 'main-menu') {
    // navbar 메뉴
    font-family: $font-family-menu;
    font-size: font-size(big-giant);
    font-weight: 400;
  } @else if ($type == 'sub-menu') {
    // navbar 서브메뉴
    font-family: $font-family-menu;
    font-size: font-size(giant);
    font-weight: 300;
  } @else if ($type == 'default') {
    // 기본 텍스트
    font-family: $regular-text-font;
    font-size: font-size(medium);
  } @else if ($type == 'description') {
    // 제목 뒤에 붙는 설명
    font-family: $light-text-font;
    font-size: font-size(small);
  } @else if ($type == 'title') {
    // 아젠다,팀 타이틀
    font-family: $bold-text-font;
    font-size: font-size(big-giant);
  } @else if ($type == 'tap') {
    font-family: $bold-text-font;
    font-size: font-size(medium);
  } @else if ($type == 'head-count') {
    // 인원수 표시하는 부분
    font-family: $inter-font;
    font-size: $giant-big-font;
    font-weight: 100;
    text-align: center;
  }
}
