// https://dev.to/wgnrd/adding-a-dark-mode-to-your-website-using-scss-4pdc

// radius
$small-radius: 10px; // 컴포넌트 속 요소
$medium-radius: 20px; // 기본 컴포넌트
$big-radius: 40px; // 제목, 웹용 큰 박스용

// coalition
$color-coalition-autumn: #ffac65;
$color-coalition-winter: #d6c5ff;
$color-coalition-spring: #c4ff7f;
$color-coalition-summer: #6fd6c4;
$color-coalition-gon: #79e27e;
$color-coalition-gun: #ffea80;
$color-coalition-gam: #72d3ff;
$color-coalition-lee: #ff8a85;

// font-family
$font-family-menu: 'Simplehae';

/* font-size */
$giant-giant-font: 2.4rem;
$giant-big-font: 2.1rem;
$big-giant-font: 1.8rem;
$giant-font: 1.5rem;
$big-font: 1.2rem;
$medium-font: 1rem;
$small-font: 0.8rem;

$common-font: 'Pretendard', sans-serif;

$logo-font: 'Overgrow', sans-serif;

@mixin logoText($size, $color) {
  font-family: $logo-font;
  font-size: $size;
  font-weight: 500;
  color: $color;
  text-align: center;
  letter-spacing: 0.1rem;
}

@mixin defaultBorder($radius: $medium-radius) {
  border: 1px solid #000;
  border-radius: $radius;
}
