@import 'styles/common.scss';

.inventoryList {
  display: grid;
  // height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  font-family: 'NanumSquare_acR', sans-serif;
}

.loadIcon {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  color: #d4b8f2;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
}

.emptyMessage {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 1.3rem;
  color: #d4b8f2;
  text-align: center;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  p {
    margin: 0 0 3rem;
  }
}

.inventoryItem {
  position: relative;
  height: fit-content;
  padding: 1rem;
  color: #7a6e7b;
  background-color: #d4b8f2;
  border-radius: 0.5rem;
  align-items: center;
  button {
    padding: 0;
    font-size: 1rem;
    color: #7a6e7b;
    background: none;
    border: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(#fe9cca, 0.7) 0%,
    rgba(#fe6bb1, 0.7) 100%
  );
  border-radius: 0.5rem;
  opacity: 0;
  justify-content: center;
  align-items: center;
  @media (hover: hover) and (pointer: fine) {
    /* when supported */
    &:hover {
      opacity: 1;
    }
  }
  button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 1.5rem;
  }
}

.badgeContainer {
  position: relative;
  display: grid;
  margin-bottom: 1rem;
  grid-template-areas: 'giftBadge usingBadge';
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.giftBadge {
  z-index: 2;
  display: flex;
  grid-area: giftBadge;
  justify-content: flex-start;
}

.usingBadge {
  display: flex;
  grid-area: usingBadge;
  justify-content: flex-end;
  align-items: center;
  &.using svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.3rem;
    fill: #08f458;
  }
  &.before svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.3rem;
    fill: #d3d3d3;
  }
}

.imgContainer {
  position: relative;
  grid-area: itemImage;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.img {
  object-fit: contain;
}

.itemName {
  grid-area: itemName;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
