@import 'styles/common.scss';

.itemCard {
  display: grid;
  width: 100%;
  height: 12.5rem;
  padding: 0.2rem 0 0.2rem 0.2rem;
  margin-bottom: 0.7rem;
  font-family: 'NanumSquare_acR', sans-serif;
  word-break: keep-all;
  background: #ffffff5f;
  border-radius: 0.3rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    'image header header ribbon'
    'image price price price'
    'image mainContent mainContent mainContent'
    'image subContent subContent subContent'
    'image subContent subContent subContent'
    'image footer footer footer';
  column-gap: 0.5rem;

  .preview {
    grid-area: image;
    .img {
      position: relative;
      width: 9.5rem;
      height: 9.5rem;
      margin: 1.25rem 0;
      object-fit: cover;
    }
  }

  .title {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    grid-area: header;
  }
  .priceTag {
    grid-area: price;
    font-size: 0.9rem;
    color: $coin-yellow;
    @include ggCoin;
    .salePrice {
      font-weight: bold;
    }
    .onDiscount {
      margin-right: 0.2rem;
      text-decoration-line: line-through;
      text-decoration-color: #c03434;
      text-decoration-style: solid;
      text-decoration-thickness: 0.15rem;
      -webkit-text-decoration-line: line-through;
      -webkit-text-decoration-color: #c03434;
      -webkit-text-decoration-style: solid;
      -webkit-text-decoration-thickness: 0.15rem;
    }
  }
  .mainContent {
    padding-right: 0.3rem;
    font-size: 0.9rem;
    font-style: italic;
    color: #282828;
    grid-area: mainContent;
  }
  .subContent {
    padding-right: 0.5rem;
    overflow: scroll;
    font-size: 0.8rem;
    color: #343434;
    grid-area: subContent;
  }
  .buttons {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    .gift {
      width: auto;
      min-width: 4rem;
      height: 1.5rem;
      font-family: 'NanumSquare_acR', sans-serif;
      color: white;
      background: linear-gradient(
        180deg,
        #ea80ea 0%,
        rgba(211, 36, 182, 0.72) 100%
      );
      border-style: none;
      border-radius: 0.3rem;
    }
    .buy {
      width: auto;
      min-width: 4rem;
      height: 1.5rem;
      font-family: 'NanumSquare_acR', sans-serif;
      color: white;
      background: $btn-purple;
      border-style: none;
      border-radius: 0.3rem;
    }
  }
}

.badge {
  width: 2.5rem;
  height: 1rem;
  padding-top: 0.05rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  background-color: #c03434;
  border-radius: 1.25rem 0 0 1.25rem;
  grid-area: ribbon;
}
