@import 'styles/common.scss';
@import 'styles/party/PartyCommon.scss';

$detail-btn-weight: bold;
$detailCommonRem: 1rem;

.detailPage {
  @include pageWrap;

  .titleBox {
    position: relative;
    padding: $detailCommonRem * 0.5;
    padding-bottom: 0.3rem;
    background-color: white;
    border-radius: $mini-radius;

    .titleLine {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .titleCategory {
        padding-top: 0.4rem;
        font-size: $small-font;
      }

      .shareBtn {
        position: relative;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0.2 rem;
        text-align: right;
        background-color: inherit;
        border: none;
      }

      .reportRoomBtn {
        position: relative;
        padding-right: 0;
        text-align: right;
        background-color: inherit;
        border: none;
      }
    }
    .titleContent {
      overflow: scroll;
      font-size: $giant-font;
      font-weight: bold;
    }

    .remainTime {
      padding: 0.3rem;
      margin: 0.2rem;
      margin-right: 0rem;
      font-size: $small-font;
      color: aliceblue;
      background-color: $pp-gray;
      border-radius: $medium-radius;
    }
  }

  .profile {
    position: relative;
    width: 100%;
    max-height: 16vh;
    margin-top: $detailCommonRem * 0.6;
    color: white;

    .profileItem {
      text-align: center;

      ul {
        max-width: 100rem;
        margin: 1;
        overflow-x: scroll;
        white-space: nowrap;
      }

      li {
        display: inline-block;
        max-width: 100%;
        margin-top: -0.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }

      .crown {
        position: relative;
        top: 0.4rem;
        left: -0.8rem;
        transform: rotate(-30deg);
      }

      .profileImg {
        text-align: center;
        border-radius: $big-radius;
      }
    }

    .joinBtn {
      width: 50%;
      height: 3rem;
      margin-bottom: $detailCommonRem;
      font-family: $common-font;
      font-size: $big-font;
      font-weight: $detail-btn-weight;
      background: $party-gradient3;
      border-radius: $small-radius;
    }

    .btnContainer {
      text-align: right;

      .leaveBtn {
        width: 50%;
        height: 3rem;
        margin-bottom: $detailCommonRem;
        font-family: $common-font;
        font-size: $big-font;
        font-weight: $detail-btn-weight;
        background: $party-gradient3;
        border-radius: $small-radius;
      }

      .startBtn {
        width: 50%;
        height: 3rem;
        margin-bottom: $detailCommonRem;
        font-family: $common-font;
        font-size: $big-font;
        font-weight: $detail-btn-weight;
        background: $party-gradient3;
        border-radius: $small-radius;
      }
    }

    .line {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .user {
      border: 0.5rem;
    }
  }

  .contentCommentBox {
    position: relative;
    width: 100%;
    padding: $detailCommonRem;
    padding-bottom: 0.3rem;
    background-color: white;
    border-radius: $mini-radius;

    .content {
      min-height: 9rem;
      margin-bottom: $detailCommonRem;
      white-space: pre-wrap;
    }

    .comment {
      margin-top: $detailCommonRem;
      margin-bottom: 0.3rem;
      white-space: pre-wrap;
    }

    .commentBox {
      min-height: 13rem;
      max-height: 13rem;
      overflow: auto;
    }

    .commentHidden {
      margin-top: $detailCommonRem * 2;
      margin-bottom: 0.3rem;
      color: gray;
      opacity: 0.7;
    }

    .commentInfo {
      text-align: right;

      .commentBtn {
        position: relative;
        text-align: right;
        background-color: inherit;
        border: none;
      }
    }
  }

  .commentCreateBar {
    padding: 0.11rem;
    margin-top: $detailCommonRem * 0.5;
    background-color: white;
    border-radius: $big-radius;

    form {
      display: flex;
      align-items: center;
      .textBar {
        width: 100%;
        margin-left: 0.5rem;
        font-size: $medium-font;
        border: none;
      }

      .inputBtn {
        display: flex;
        font-size: $small-font;
        background-color: inherit;
        border: none;
        align-items: center;
      }
    }
  }
}
