/* Modal.css */

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  justify-content: center;
  align-items: center;
}

.button_2 {
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  background: black;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.button_2:hover {
  color: white;
  background: orange;
}

.modal {
  width: 30%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
