@import 'styles/admin/common.scss';

.whole {
  @include admin-modal;

  width: 25rem;
  height: 30rem;

  h2 {
    font-weight: 400;
    color: black;
    text-align: left;
  }

  .hr {
    width: 100%;
    height: 0.5px;
    margin-bottom: 1rem;
    background: black;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;
  }
}
