.whole {
  display: flex;
  width: 510px;
  height: 600px;
  flex-direction: column;
  background: #ffffff;
  border-radius: 9px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 510px;
  height: 130px;
  padding: 0 1rem;
}

.titleText {
  margin-top: 15px;
  margin-left: 1rem;
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #000000;
}

.hr {
  width: 455px;
  height: 0.5px;
  background: #e5e5e5;
}

.body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bodyWrap {
  display: grid;
  width: 80%;
  height: 92%;
  grid-template-rows: 0.8fr 0.8fr 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 1fr;
}

.bodyText {
  display: flex;
  width: 4rem;
  height: 3rem;
  font-family: 'Inter';
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #6b7280;
  justify-content: center;
  align-items: center;
}

.imageWrap {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idNameWrap {
  grid-row: 1/2;
  grid-column: 2/3;

  .idWrap,
  .nameWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .idBlank,
  .nameBlank {
    width: 150px;
    height: 30px;
    text-align: center;
  }
}

.contentWrap {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .mainContentWrap,
  .subContentWrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mainContentBlank {
    width: 300px;
    height: 50px;
    text-align: center;
  }
  .subContentBlank {
    width: 300px;
    height: 130px;
    padding: 20px;
    text-align: center;
  }
}

.priceDiscountWrap {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .priceWrap,
  .discountWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .priceBlank,
  .discountBlank {
    width: 80px;
    height: 30px;
    text-align: center;
  }
}

.buttonWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-row: 4/5;
  grid-column: 1/3;
  justify-content: space-around;
  align-items: center;
}

.editBtn,
.cancelBtn {
  width: 246.45px;
  height: 37.73px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.editBtn {
  background: #2678f3;
}

.cancelBtn {
  background: #6c757d;
}
