@import 'styles/common.scss';

.whole {
  display: flex;
  width: 510px;
  height: 569px;
  flex-direction: column;
  background: #ffffff;
  border-radius: 9px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 510px;
  height: 130px;
  padding: 0 1rem;
}

.titleText {
  margin-top: 15px;
  margin-left: 1rem;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #000000;
}

.hr {
  width: 455px;
  height: 0.5px;
  background: #e5e5e5;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.bodyWrap {
  padding: 0 1rem;
}

.bodyText {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #6b7280;
}

.blank {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 16rem;
  margin: auto;
  resize: none;
  background: #f9fafb;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
}

.intraWrap {
  margin-bottom: 10px;
}

.messageWrap {
  padding: 0;
}

.messageBlank {
  box-sizing: border-box;
  display: flex;
  width: 430px;
  height: 202px;
  font-size: 1rem;
  resize: none;
  background: #f9fafb;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
}

.btns {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  align-content: space-evenly;
}

.btn1 {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
  background: #2678f3;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.btn2 {
  width: 100%;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  background: #6c757d;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
}

.adminSearchBar {
  display: flex;
  width: 275px;
  height: 40px;
  cursor: text;
  background: white;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
  flex-wrap: wrap;

  input {
    all: unset;
    width: calc(100% - 4rem);
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: black;
  }
  .icons {
    span {
      display: flex;
      height: 40px;
      margin-left: 30px;
      font-size: 1.2rem;
      align-items: center;
    }
    .reset {
      height: 40px;
      color: gray;
      cursor: pointer;
    }
  }
  .dropdown {
    z-index: 999;
    width: 100%;
    padding: 0 0.8rem 0.5rem 0.5rem;
    font-size: 0.8rem;
    color: black;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0 0 $small-radius $small-radius;
    div {
      padding: 0.5rem 0;
      cursor: pointer;
    }
    .noneText {
      color: black;
    }
  }
}
