.whole {
  display: flex;
  width: 25rem;
  height: 40rem;
  background: #ffffff;
  border-radius: 8px;
}

.title {
  margin-top: 5px;
  margin-left: 17px;
  width: 162px;
  height: 42px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  text-transform: capitalize;
  color: #000000;
}

.body {
  display: flex;
  margin-bottom: 0.2px;
  justify-content: center;
  padding: 1rem 1rem;
  flex-direction: column;
  font-size: 30px;
}

.blank {
  display: flex;
  margin: auto;
  width: 20rem;
  height: 25rem;
  resize: none;
  box-sizing: border-box;
  background: #f9fafb;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
}

.btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.btn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 20rem;
  height: 40px;
  background: #2678f3;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 20rem;
  height: 40px;
  background: #6c757d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hide {
  display: none;
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}
