.whole {
  text-align: center;
  display: flex;
  justify-content: center;
  display: inline-block;
  align-items: center;
  display: inline-block;
  width: 25rem;
  height: 40rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  margin-top: 20px;
}

.body {
  display: flex;
  margin-bottom: 0.2px;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.blank {
  display: flex;
  margin: auto;
  width: 20rem;
  height: 25rem;
}

.btns {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.btn {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 20rem;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.hide {
  display: none;
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}
