.whole {
  display: flex;
  width: 510px;
  height: 490px;
  flex-direction: column;
  background: #ffffff;
  border-radius: 9px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 510px;
  height: 130px;
  padding: 0 1rem;
}

.titleText {
  margin-top: 15px;
  margin-left: 1rem;
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #000000;
}

.hr {
  width: 455px;
  height: 0.5px;
  background: #e5e5e5;
}

.body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bodyWrap {
  display: flex;
  width: 80%;
  height: 60%;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: flex-start;
  align-items: center;
}

.bodyText {
  display: flex;
  width: 5rem;
  height: 3rem;
  font-family: 'Inter';
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #6b7280;
  justify-content: center;
  align-items: center;
}

.intraWrap,
.contentWrap {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 10px;
  align-items: center;
}

.intraBlank,
.contentBlank {
  box-sizing: border-box;
  display: flex;
  width: 275px;
  height: 60px;
  margin-left: 1rem;
  font-size: 0.8rem;
  text-align: center;
  resize: none;
  background: #f9fafb;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
}

.contentBlank {
  height: 100px;
  padding: 20px;
}

.contentWrap {
  margin-bottom: 30px;
}

.buttonWrap {
  display: flex;
  width: 90%;
  height: 25%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.deleteBtn,
.cancelBtn {
  width: 246.45px;
  height: 37.73px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.deleteBtn {
  background: #2678f3;
}

.cancelBtn {
  background: #6c757d;
}
