@import 'styles/common.scss';

.whole {
  display: flex;
  width: 510px;
  height: 569px;
  flex-direction: column;
  background: #ffffff;
  border-radius: 9px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 510px;
  height: 130px;
  padding: 0 1rem;
}

.titleText {
  margin-top: 15px;
  margin-left: 1rem;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #000000;
}

.hr {
  width: 455px;
  height: 0.5px;
  background: #e5e5e5;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.inputContainer {
  padding: 0 1rem;
}

.bodyText {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #6b7280;
}

.blank {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 16rem;
  margin: auto;
  resize: none;
  background: #f9fafb;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
}

.messageBlank {
  box-sizing: border-box;
  display: flex;
  width: 430px;
  height: 202px;
  resize: none;
  background: #f9fafb;
  border: 0.5px solid #ced4da;
  border-radius: 1px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  align-content: space-evenly;

  button {
    width: 100%;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  :nth-child(1) {
    background: $btn-blue;
  }

  :nth-child(2) {
    background: gray;
  }
}
