@import 'styles/admin/common.scss';

$joinedColor: rgb(255, 86, 86);
$notJoinedColor: grey;

.whole {
  @include admin-modal;

  width: 25rem;
  height: 30rem;
  overflow-y: auto;
  color: black;
  background-color: rgb(255, 246, 234);

  .deleteInputTitle {
    font-size: 0.7rem;
    color: grey;
  }

  .deleteInputWarning {
    font-size: 0.7rem;
    color: red;
  }

  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .searchBarWrapper {
    padding: 0 2rem 1rem;
  }

  h2 {
    font-weight: 400;
    color: black;
    text-align: left;
  }

  .hr {
    width: 100%;
    height: 0.5px;
    background: black;
  }

  .tournamentUserList {
    height: 60%;
    overflow-y: auto;
    border: 1px solid grey;
    border-radius: 1rem;
  }

  li {
    display: flex;
    padding-left: 0.5rem;
    margin: 0.1rem 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
  }

  i {
    margin-right: 0.7rem;
    font-size: 0.8rem;
    color: grey;
  }

  .joined {
    small {
      font-size: 0.7rem;
      color: $joinedColor;
    }
  }

  .notJoined {
    small {
      font-size: 0.7rem;
      color: $notJoinedColor;
    }
  }

  .cancleButton {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}
