@import 'styles/common.scss';

.container {
  display: flex;
  width: 100%;
  height: 28rem;
  flex-direction: row;
  padding: 1.5rem;
  gap: 1.5rem;
}

.announceModal {
  display: flex;
  min-width: 16rem;
  height: min-content;
  max-height: 31rem;
  flex-direction: column;
  font-size: $medium-font;
  color: white;
  background: linear-gradient(
    180deg,
    #301451 23.82%,
    #481570 58.85%,
    #300e4b 98.44%
  );
  border-radius: $small-radius;
  justify-content: space-between;
  align-items: center;
}

.announceModalContainer {
  @include modalContainer('SKYPINK');
  margin: 1.6rem 1.5rem;
}

.modalTitle {
  @include modalTitle;
  font-size: 2rem;
  color: #121725;
}

.quillViewer {
  width: 100%;
  min-width: 10rem;
  max-width: 15rem;
  height: 100%;
  max-height: 19rem;
  margin: 1rem 0;
  overflow-y: scroll;
  color: black;
}

.quillViewer::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.quillViewer::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.checkBox {
  margin-bottom: 0.5rem;

  input {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
  }

  label {
    display: inline-block;
  }
}

.buttons {
  @include select-buttons;
}

.editorBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  button {
    all: unset;
    width: 5rem;
    height: 2rem;
    font-size: $small-font;
    color: white;
    text-align: center;
    cursor: pointer;
    background: gray;
    border-radius: 0.5rem;
  }

  :nth-child(2) {
    background: $btn-blue;
  }

  :nth-child(3) {
    background: red;
  }
}

.noActive {
  @include modalContainer('SKYPINK');
  margin: 1.5rem;
  font-size: $medium-font;
  color: black;
}

.editorContainer {
  display: flex;
  width: 100%;
  max-width: 40rem;
  height: 25rem;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid $gray;
  border-radius: $small-radius;
  justify-content: space-between;
  align-items: flex-end;
}

.quillEditor {
  width: 100%;
  height: 22rem;
}
