@import 'styles/common.scss';
@import 'styles/admin/common/Pagination.module.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;
  max-width: 61.5rem;
  height: 100%;
}

.quillViewer {
  width: 100%;
  max-width: 16rem;
  height: 100%;
  max-height: 19rem;
  margin: 0.5rem;
  padding: 0;
  overflow-y: scroll;
  color: black;
}

.quillViewer::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.quillViewer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $gray;
}

.header {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
}

.title {
  font-weight: 700;
  font-size: $big-font;
  line-height: 150%;
}

.tableContainer {
  .table {
    .tableHeader {
      background-color: lightgray;

      .tableHeaderItem {
        padding: 0.5rem;
        text-align: center;
        font-weight: 600;
        font-size: $small-font;
        line-height: 150%;
      }
    }

    .tableBody {
      .tableBodyItem {
        padding: 0.5rem;
        text-align: center;
        font-size: $small-font;
        line-height: 100%;
      }
    }
  }
}

@include pagination;
