@import 'styles/common.scss';
@import 'styles/admin/common/Pagination.module.scss';

.container {
  display: flex;
  width: 90%;
  max-width: 61.5rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quillViewer {
  width: 100%;
  max-width: 16rem;
  height: 100%;
  max-height: 19rem;
  padding: 0;
  margin: 0.2rem;
  overflow-y: scroll;
  color: black;
}

.quillViewer::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.quillViewer::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 10px;
}

.header {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
}

.title {
  font-size: $big-font;
  font-weight: 700;
  line-height: 150%;
}

.tableContainer {
  .table {
    .tableBody {
      .tableBodyItemQuill {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .tableBodyItem {
        padding: 0.5rem;
        font-size: $small-font;
        line-height: 100%;
        text-align: center;
      }
    }
  }
}

@include pagination;
