@import 'styles/common.scss';

.container {
  @include modal-container;
  width: 80vw;
  max-width: 15rem;
}

.title {
  @include modalTitle;
  font-size: 2rem;
}

.announcementList {
  list-style: none;
  width: 100%;
  max-height: 60vh;
  color: black;
  overflow-y: scroll;
  overflow-x: hidden;

  > li {
    list-style: none;
    margin-block: 1rem;
    > div {
      margin-left: 0.3rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

.content {
  margin-top: 0.8rem;
  font-size: 0.9rem;

  > li {
    list-style: none;
    margin-bottom: 0.3rem;
    white-space: pre-wrap;
  }
}

.announcementList::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.announcementList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
}

.checkBox {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.checkBoxLabel {
  display: inline-block;
}

.buttons {
  @include select-buttons;
  display: inline-block;
  margin-top: 0.5rem;
}
