@import 'styles/common.scss';

.container {
  @include modal-container;
  width: 80vw;
  max-width: 15rem;
}

.title {
  @include modalTitle;
  font-size: 2rem;
}

.announcementList {
  list-style: none;
  width: 100%;
  max-height: 50vh;
  color: black;
  overflow-y: scroll;

  > li {
    list-style: none;
    margin-block: 1rem;
    > div {
      margin-left: 0.3rem;
      font-size: $big-font;
      font-weight: 700;
    }
  }
}

.announcementList::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.announcementList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
}

.contentList {
  margin-top: 0.8rem;
  font-size: $medium-font;

  > li {
    list-style: none;
    margin-bottom: 0.3rem;
    white-space: pre-wrap;
  }
  a {
    color: $pp-blue;
    text-decoration: none;
  }
  a:visited {
    color: $dark-blue;
  }
  a:hover {
    background: $g1-bottom;
  }
  a:active {
    background: $g1-top;
  }
}

.checkBox {
  margin-bottom: 0.5rem;
  input {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
  }
  label {
    display: inline-block;
  }
}

.buttons {
  @include select-buttons;
}
