@import 'styles/common.scss';

.container {
  @include modalContainer('SKYPINK');
  width: 80vw;
  max-width: 22rem;
}

.title {
  @include modalTitle;
  padding-bottom: 1rem;
  color: rgba(18, 23, 37, 1);
}

.quillViewer {
  width: 100%;
  min-width: 10rem;
  max-width: 15rem;
  height: 100%;
  max-height: 19rem;
  padding-bottom: 1rem;
  overflow-y: scroll;
  color: rgba(18, 23, 37, 1);
}

.quillViewer::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.quillViewer::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.checkBox {
  margin-bottom: 0.5rem;
  input {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
  }
  label {
    display: inline-block;
    color: white;
  }
}
