@import 'styles/common.scss';

.container {
  @include modal-container;
  background: linear-gradient(180deg, #ce82c6 0%, #deb8ef 100%);
}

.phrase {
  @include modal-phrase;
  white-space: pre-wrap;
  .title {
    @include modalTitle;
    padding-bottom: 2rem;
  }
  .message {
    font-family: 'NanumSquare_acR';
    line-height: 150%;
  }
  .rose {
    padding-top: 1rem;
    color: $pp-red;
    span:last-child {
      color: green;
    }
  }
}

.buttons {
  @include modalButton;
}
