@import 'styles/admin/common/Pagination.module.scss';
@import 'styles/common.scss';

.notificationWrap {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    min-width: 700px;
    margin: 10px auto;
    .title {
      font-size: $big-font;
      font-weight: 600;
      line-height: 150%;
    }
    .searchWrap {
      display: flex;
      align-items: center;
      :nth-child(2) {
        margin: 0 0 0 20px;
      }
    }
  }

  .tableContainer {
    width: 95%;
    min-width: 700px;
    margin: auto;
    .table {
      .tableBody {
        .tableRow {
          &:nth-child(odd) {
            background-color: #f9fafb;
          }
          &:nth-child(even) {
            background-color: #fff;
          }
          .tableBodyItem {
            padding: 10px;
            font-size: $small-font;
            line-height: 150%;
            text-align: center;
          }
        }
      }
    }
  }
}

@include pagination;
