@import 'styles/common.scss';

.mainContainer {
  position: relative;
  top: 1.5rem;
  display: grid;
  height: 16rem;
  margin-top: 1rem;
  font-size: 1.05rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  &.isMain {
    height: 15.5rem;
    margin-top: 7.5rem;
  }
}

.mainData:nth-child(1) {
  position: relative;
  right: -1.2rem;
  height: 15rem;
  background: linear-gradient(
    180deg,
    #ff67d4 16.67%,
    #d30399 36.24%,
    rgba(49, 18, 79, 0) 83.85%
  );
  border-radius: 3.5rem;
  &.normal {
    background: linear-gradient(
      180deg,
      #ff96e1 16.67%,
      #ff61d3 39.58%,
      #0d3299 83.85%
    );
  }
}

.mainData:nth-child(2) {
  position: relative;
  z-index: 1;
  height: 18rem;
  background: linear-gradient(
    179.91deg,
    #f8e118 21%,
    #fe7a00 44%,
    #884609 78.5%,
    rgba(48, 18, 79, 0) 86.86%
  );
  border-radius: 3.5rem;
  &.normal {
    background: linear-gradient(
      179.91deg,
      #39db7a 34.61%,
      #067741 63.98%,
      #0b2d8e 80.37%
    );
  }
}

.mainData:nth-child(3) {
  position: relative;
  right: 1.2rem;
  height: 15rem;
  background: linear-gradient(
    180deg,
    #57a4ff 9.9%,
    #40798d 36.24%,
    rgba(48, 18, 79, 0) 83.86%
  );
  border-radius: 3.5rem;
  &.normal {
    background: linear-gradient(
      180deg,
      #b6d7ff 9.9%,
      #6aaeff 36.24%,
      #4076b6 65.1%,
      #0e36a3 86.46%
    );
  }
}

.bangContainer {
  display: flex;
  justify-content: space-around;
  margin-top: -7.5rem;
}

.bang {
  position: relative;
  width: 3rem;
  height: 7rem;
  background: linear-gradient(180deg, rgba(44, 16, 74, 0) 0%, #5e3c83 84.38%);
  &.normal {
    background: linear-gradient(180deg, rgba(26, 51, 141, 0) 0%, #5c75da 100%);
  }
}

.bang:nth-child(1) {
  top: 4rem;
  left: 28%;
  transform: rotate(-50deg);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.bang:nth-child(2) {
  top: 2.7rem;
  left: 20%;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.bang:nth-child(3) {
  top: 4rem;
  left: 13%;
  transform: rotate(50deg);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.bang:nth-child(4) {
  top: 7.5rem;
  right: 0%;
  transform: rotate(80deg);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.bang:nth-child(5) {
  top: 7.5rem;
  right: 60%;
  transform: rotate(-80deg);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.leaf {
  height: 9.4rem;
  background: linear-gradient(
    70.48deg,
    #693200 28.73%,
    #ed9b00 38.5%,
    #fede5d 41.72%,
    #fffdd2 60.48%,
    #b5661d 73.6%,
    #5c2f06 76.05%
  );
  &.normal {
    background: linear-gradient(
      70.48deg,
      #21621c 28.73%,
      #279d25 38.5%,
      #bdfba0 41.72%,
      #deffd2 60.48%,
      #33b51d 73.6%,
      #065c09 76.05%
    );
  }
  border-radius: 5rem 5rem 8.5rem 0rem;
}

.leaf1 {
  height: 9rem;
  background: linear-gradient(180deg, #ffcf55 36.24%, #ff823c 73.96%);
  &.normal {
    background: linear-gradient(180deg, #b4ff55 31.48%, #35cd0f 79.34%);
  }
  border-radius: 4rem 4rem 8.5rem 0rem;
}

@mixin rankNumber($txt-color, $txt-normalcolor, $top: -2.1rem, $left: -0.2rem) {
  position: relative;
  top: $top;
  left: $left;
  font-family: $trophy-font;
  font-size: 4.5rem;
  line-height: -10rem;
  text-align: end;
  letter-spacing: 0.04em;
  background: $txt-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &.normal {
    background: $txt-normalcolor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.rankNumber1 {
  @include rankNumber(
    linear-gradient(
      180.89deg,
      rgba(255, 233, 194, 0.552801) 26.68%,
      rgba(202, 165, 69, 0.3) 47.47%,
      rgba(255, 209, 91, 0.51) 65.76%,
      rgba(155, 117, 19, 0) 84.03%
    ),
    linear-gradient(
      180.75deg,
      #9fff72 20.79%,
      #7ecf90 40.34%,
      #12aa61 51.48%,
      #1a9126 64.98%
    ),
    -0.5rem
  );
  font-size: 6rem;
}

.rankNumber2 {
  @include rankNumber(
    linear-gradient(
      180.89deg,
      #cb20a5 28.21%,
      rgba(194, 74, 168, 0.3) 34.24%,
      #930072 51.62%,
      #351050 76.19%
    ),
    linear-gradient(
      180.89deg,
      #ff95e1 28.21%,
      #bf54c3 44.44%,
      #7f48b4 51.62%,
      #5840ab 67.12%
    ),
    -2.1rem,
    -1.3rem
  );
}

.rankNumber3 {
  @include rankNumber(
    linear-gradient(
      179.14deg,
      #6fb1d0 22.37%,
      rgba(80, 123, 137, 0.3) 46.14%,
      #3d3285 56.64%,
      #411868 68.3%
    ),
    linear-gradient(
      179.14deg,
      #add3ff 29.82%,
      #7ab7ff 39.23%,
      #4880c4 51.49%,
      #2d5dae 62.84%
    )
  );
}

.questionCircleRank {
  display: flex;
  justify-content: center;
  background-color: #c7b1ee;
  border-radius: 50%;
  .rank1 {
    width: 6.8rem;
    height: 6.8rem;
    color: #603b88;
  }
  .ranks {
    width: 4.5rem;
    height: 4.5rem;
    color: #603b88;
  }
}

.intraId {
  position: relative;
  top: -2rem;
  display: flex;
  height: 7.5rem;
  flex-direction: column;
  font-weight: 700;
  color: #5b0539;
  text-align: center;
  align-items: center;
  span {
    cursor: pointer;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tierImageId {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.first {
    top: -2.8rem;
    color: #640000;
  }
  &.last {
    color: #001b44;
  }
}

@media (max-width: 440px) {
  .mainData:nth-child(1) {
    right: -0.9rem;
    height: 12rem;
    border-radius: 3rem;
  }

  .mainData:nth-child(2) {
    height: 13.5rem;
    border-radius: 3.5rem;
  }

  .mainData:nth-child(3) {
    right: 0.9rem;
    height: 12rem;
    border-radius: 3rem;
  }

  .mainContainer {
    margin-top: 0rem;
    &.isMain {
      height: 11.5rem;
    }
  }
  .bang {
    width: 2.5rem;
    height: 5rem;
  }

  .bang:nth-child(1) {
    top: 4.5rem;
  }
  .bang:nth-child(2) {
    top: 3.5rem;
  }
  .bang:nth-child(3) {
    top: 4.5rem;
  }
  .bang:nth-child(4) {
    top: 7rem;
  }
  .bang:nth-child(5) {
    top: 7rem;
  }
  .leaf {
    height: 7.4rem;
  }

  .leaf1 {
    height: 7rem;
  }

  .rankNumber1 {
    top: -2rem;
    font-size: 5rem;
  }
  .rankNumber2 {
    top: -2.8rem;
    font-size: 4rem;
  }
  .rankNumber3 {
    top: -3rem;
    font-size: 4rem;
  }
  .intraId {
    top: -2rem;
    &.first {
      top: -2.5rem;
    }
  }
  .questionCircleRank {
    .rank1 {
      width: 5rem;
      height: 5rem;
    }
    .ranks {
      width: 4rem;
      height: 4rem;
    }
  }
}
