@import '../common.scss';

/* Rank */
.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
  &.vip {
    text-shadow: $text-border-black, 0.3rem 0.3rem 0 $norm-lightblue2;
  }
}

/* MyRank */
.myRank {
  width: fit-content;
  height: 1rem;
  margin-bottom: 1.7rem;
  margin-inline: auto;
  color: white;
  font-weight: 600;
  font-size: $medium-font;
  text-shadow: $text-shadow-blue;
  text-align: center;
  span:nth-child(2) {
    color: $g1-top;
  }
  &.rank {
    cursor: pointer;
  }
}

/* RankListFrame */
@mixin rankGrid {
  display: grid;
  grid-template-columns: 12.5% 38% auto 14%;
  justify-items: center;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.2rem;
  margin-top: 0.15rem;
  border-radius: $big-radius;
  color: $dark-gray;
  div:nth-child(2) {
    justify-self: start;
  }
}

.container {
  font-size: $small-font;
}

.division {
  @include rankGrid;
  background: $rank-red;
  color: white;
  font-weight: 700;
  &.normal {
    background: $norm-lightblue2;
  }
}

/* RankListItem */
.rankItemWrap {
  @include rankGrid;
  &.odd {
    background: white;
  }
  &.even {
    background: $gray;
  }
  &.top {
    color: $loser-red;
    font-weight: 700;
  }
  &.standard {
    color: $dark-gray;
  }
  &.myRanking {
    border: 0.07rem solid $rank-red;
    background: $g1-bottom;
  }
  &.myVip {
    border: 0.07rem solid $norm-lightblue2;
    background: $norm-emerald;
  }
  .intraId {
    justify-self: start;
    color: black;
    font-weight: 700;
    word-break: keep-all;
    span {
      cursor: pointer;
    }
  }
  .statusMessage {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    justify-self: left;
    color: $dark-gray;
  }
  .ppp {
    justify-self: center;
    color: $winner-blue;
    font-weight: 600;
  }
}

.level {
  color: $dark-gray;
  font-weight: 500;
  font-size: 0.7rem;
}
