@import '../common.scss';

/* 나의 랭킹 */
.myRank {
  height: 2rem;
  line-height: middle;
  font-weight: 600;
  font-size: $medium-font;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.1rem $pp-blue;
  text-align: center;
  span {
    cursor: pointer;
    color: $g1-top;
  }
}

/* Ranking 타이틀 */
.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
}

.container {
  font-size: $small-font;
}

/* Rank List 구분 */
@mixin rankGrid {
  display: grid;
  grid-template-columns: 12% 22% auto 14%;
  align-items: center;
  justify-items: center;
  border-radius: $big-radius;
  color: $dark-gray;
  height: 2.5rem;
  padding: 0 0.2rem;
  margin-top: 0.15rem;
  div:nth-child(2) {
    justify-self: start;
  }
}

.division {
  @include rankGrid;
  background: $pp-red;
  color: white;
  font-weight: 700;
}

.normal {
  background: $pp-blue;
}

.level {
  font-weight: 500;
  font-size: 0.7rem;
  color: $dark-gray;
}

/* RankList */
.odd {
  @include rankGrid;
  background: white;
}
.even {
  @include rankGrid;
  background: $gray;
}
.myself {
  @include rankGrid;
  background: $g1-bottom;
  border: 0.07rem solid $pp-red;
}

.rankData {
  .topRank {
    justify-self: center;
    font-weight: 700;
    color: $loser-red;
  }
  .rank {
    justify-self: center;
    color: $dark-gray;
  }
  .intraId {
    justify-self: start;
    font-weight: 700;
    color: black;
    span {
      cursor: pointer;
    }
  }
  .statusMessage {
    justify-self: left;
    color: $dark-gray;
  }
  .ppp {
    justify-self: center;
    font-weight: 600;
    color: $winner-blue;
  }
}
