@import 'styles/common.scss';

/* Rank */
.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
}

/* MyRank */
.myRank {
  position: relative;
  z-index: 1;
  width: fit-content;
  margin-bottom: 0.5rem;
  margin-left: auto;
  font-size: $big-font;
  font-weight: 700;
  color: #df98d7;
  opacity: 0.5;
  text-decoration-line: underline;
  > span {
    font-family: $rank-font;
  }
  &.rank {
    cursor: pointer;
  }
  &.normal {
    color: #677abd;
  }
}

/* RankListFrame */
@mixin rankGrid {
  display: grid;
  height: 2.5rem;
  padding: 0 0.2rem;
  margin-top: 0.15rem;
  color: $dark-gray;
  grid-template-columns: 11% 8% 22% auto 14%;
  justify-items: center;
  align-items: center;
}

.container {
  position: relative;
  z-index: 1;
  font-size: $small-font;
}

.division {
  @include rankGrid;
  font-weight: 500;
  color: black;
  background: #c9a5e6;
  border-radius: 0.5rem 0.5rem 0 0;
  &.normal {
    background: #59afdf;
    grid-template-columns: 12% 22% auto 14%;
  }
}

.rankItemWrap {
  @include rankGrid;
  background: #e8d1fc;
  &.Vip {
    grid-template-columns: 12% 22% auto 14%;
    background: #d9e3ff;
  }
  &.colorPreviewLayout {
    grid-template-columns: 1fr 1fr 4fr 1fr;
  }
  &.top {
    font-weight: 700;
    color: $loser-red;
  }
  &.standard {
    color: $dark-gray;
  }
  &.myRanking {
    background: #c9a5e6;
    border: 0.1rem solid #962fea;
  }
  &.myVip {
    background: #60b4e2;
    border: 0.1rem solid #022a40;
  }
  .intraId {
    font-weight: 700;
    color: black;
    span {
      cursor: pointer;
    }
  }
  .statusMessage {
    max-width: 100%;
    overflow: hidden;
    color: $dark-gray;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-self: left;
  }
  .ppp {
    font-weight: 600;
    color: #6c00d9;
  }

  &.Vip .ppp {
    color: #cb0c9f;
  }
}

.level {
  font-size: 0.7rem;
  font-weight: 500;
  color: $dark-gray;
}
