@import '../common.scss';
@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

.mainContainer {
  position: relative;
  top: 1.5rem;
  font-size: 1.05rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  margin-top: 2rem;
  height: 16rem;
  &.isMain {
    height: 15.5rem;
    margin-top: 9.5rem;
  }
  transform: scale(1.1);
}

.mainData:nth-child(1) {
  position: relative;
  right: -1.3rem;
  background: linear-gradient(
    180deg,
    #ff67d4 16.67%,
    #d30399 36.24%,
    rgba(49, 18, 79, 0) 83.85%
  );
  height: 15rem;
  border-radius: 58px;
}
.mainData:nth-child(3) {
  position: relative;
  right: 1.3rem;
  background: linear-gradient(
    180deg,
    #57a4ff 9.9%,
    #40798d 36.24%,
    #30114e 83.85%,
    rgba(48, 18, 79, 0) 83.86%
  );
  height: 15rem;
  border-radius: 58px;
}

.mainData:nth-child(2) {
  position: relative;
  height: 18rem;
  border-radius: 65px;
  z-index: 1;
  background: linear-gradient(
    179.91deg,
    #f8e118 10.95%,
    #fe7a00 34.38%,
    #884609 69.15%,
    rgba(53, 16, 80, 0) 87.56%
  );
}

.bangContainer {
  display: flex;
}
.bangContainer2 {
  margin-top: -7.5rem;
}

.bang {
  position: relative;
  width: 78.92px;
  height: 120.5px;
  background: linear-gradient(
    180deg,
    rgba(44, 16, 74, 0.69) 0%,
    #5e3c83 84.38%
  );
}

.bang:nth-child(1) {
  left: 6rem;
  top: 6.1rem;
  transform: rotate(-47.37deg);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.bang:nth-child(2) {
  left: 6rem;
  top: 5rem;
  height: 60.5px;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.bang:nth-child(3) {
  left: 6rem;
  top: 6.3rem;
  transform: rotate(47.37deg);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 99%);
}

.leaf {
  height: 8.4rem;
  background: linear-gradient(
    70.48deg,
    #693200 28.73%,
    #ed9b00 38.5%,
    #fede5d 41.72%,
    #fffdd2 60.48%,
    #b5661d 73.6%,
    #5c2f06 76.05%
  );
  border-radius: 65px 65px 100px 0px;
}

.leaf1 {
  height: 8rem;
  background: linear-gradient(180deg, #ffcf55 36.24%, #ff823c 73.96%);
  border-radius: 65px 65px 100px 0px;
}

.rankNumber1 {
  position: relative;
  left: -1rem;
  font-family: 'Life Savers';
  font-weight: 400;
  text-align: end;
  font-size: 90px;
  line-height: 10rem;
  line-height: 114px;
  letter-spacing: 0.04em;
  background: linear-gradient(
    180.89deg,
    rgba(255, 233, 194, 0.552801) 26.68%,
    rgba(202, 165, 69, 0.3) 47.47%,
    rgba(255, 209, 91, 0.51) 65.76%,
    rgba(155, 117, 19, 0) 84.03%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  //text-fill-color: transparent;
}

.rankNumber2 {
  position: relative;
  top: -2.6rem;
  left: -1rem;
  font-family: 'Life Savers';
  font-weight: 400;
  text-align: end;
  font-size: 90px;
  line-height: 10rem;
  line-height: 114px;
  letter-spacing: 0.04em;
  background: linear-gradient(
    180.89deg,
    #cb20a5 28.21%,
    rgba(194, 74, 168, 0.3) 34.24%,
    #930072 51.62%,
    #351050 76.19%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  //text-fill-color: transparent;
}
.rankNumber3 {
  position: relative;
  top: -3rem;
  left: -1rem;
  font-family: 'Life Savers';
  font-weight: 400;
  text-align: end;
  font-size: 90px;
  line-height: 10rem;
  line-height: 114px;
  letter-spacing: 0.04em;
  background: linear-gradient(
    179.14deg,
    #6fb1d0 22.37%,
    rgba(80, 123, 137, 0.3) 46.14%,
    #3d3285 56.64%,
    #411868 68.3%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  //text-fill-color: transparent;
}

.intraId {
  position: relative;
  top: -2.5rem;
  height: 7.5rem;
  color: black;
  font-weight: 700;
  text-align: center;
  span {
    cursor: pointer;
  }
}

.statusMessage {
  color: $dark-blue;
  font-size: $medium-font;
  font-weight: 500;
  text-align: center;
}
