@import 'styles/common.scss';

.container {
  @include modal-container;
}

.phrase {
  @include modal-phrase;
  margin-bottom: 1rem;
  font-size: $big-font;
}

.resultContainer {
  border: solid 3px white;
  border-radius: $small-radius;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  height: 16rem;
  width: 18rem;
  margin-bottom: 2rem;
  padding: 0.8rem 0;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: $big-font;
  font-weight: 600;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: $text-shadow;
  .userImage {
    @include userImage(5rem);
    margin-bottom: 1rem;
    box-shadow: 5px 5px 6px $dark-gray;
  }
}

.finalScore {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  padding: auto;
  font-size: $giant-font;
  font-weight: 600;
  text-align: center;
  input {
    font-size: $big-font;
    text-align: center;
    height: 2.5rem;
    width: 5rem;
  }
}

.rules {
  font-size: $midium-font;
  margin-bottom: 1.4rem;
}

.buttons {
  @include select-buttons;
}
