@import 'styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: $big-font;
  height: 15rem;
}

.phrase {
  text-align: center;
  line-height: 150%;
  .emoji {
    font-size: $giant-big-font;
    margin-bottom: 1rem;
  }
}

.buttons {
  .positive {
    @include button($btn-blue, white, 6rem);
  }
  .negative {
    @include button(white, black, 6rem);
    margin-right: 1rem;
  }
  :hover {
    background: $dark-blue;
    color: white;
  }
}
