$anim_duration: 0.65;
$anim_delay: 0.1;

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d28e5d;
  position: absolute;
  display: none;
  z-index: 2;
}

.appear {
  font-size: 2rem;
  text-align: center;
  color: white;
  opacity: 0;
  animation: appear #{$anim_duration}s ease-in forwards 1;
}

@for $i from 1 through 25 {
  .appear:nth-child(#{$i}) {
    animation-delay: #{($i * $anim_delay) * $anim_duration}s;
  }
}

@keyframes appear {
  0% {
    transform: translatey(0px);
    opacity: 0;
  }
  20% {
    transform: translatey(-25px);
    opacity: 0.25;
  }
  40% {
    transform: translatey(-40px);
    opacity: 0.5;
  }
  60% {
    transform: translatey(-60px);
    opacity: 0.7;
  }
  80% {
    transform: translatey(-80px);
    opacity: 1;
  }
  100% {
    transform: translatey(-100px);
    opacity: 1;
  }
}
