$anim_duration: 0.65;
$anim_delay: 0.3;
$fontsize: 50px;

.stageCoins {
  width: 4rem;
  height: 6rem;
  margin: auto;
}

.stage {
  width: 100%;
  height: 100%;
  font-size: $fontsize;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 0;
}

.stack {
  position: relative;
  height: 0.12em;
}

.stackl {
  position: relative;
  height: 0.12em;
  left: -0.1em;
}

.stackr {
  position: relative;
  height: 0.12em;
  left: 0.1em;
}

.fall {
  opacity: 0;
  animation: falling #{$anim_duration}s ease-in forwards 1;
}

.coin {
  padding: 0 0.5em;
  width: 2.1em;
  height: 1.1em;
  transform: translateY(-100%);
}

@for $i from 1 through 15 {
  .fall:nth-child(#{$i}) {
    animation-delay: #{($i * $anim_delay) * $anim_duration}s;
  }
}

.appear {
  font-size: 2rem;
  height: -0.15em;
  color: white;
  opacity: 0;
  animation: appear #{$anim_duration}s ease-in forwards 1;
}

@for $i from 1 through 25 {
  .appear:nth-child(#{$i}) {
    animation-delay: #{($i * 3.5 * $anim_delay) * $anim_duration}s;
  }
}

@keyframes falling {
  0% {
    transform: translatey(-100px);
    opacity: 0;
  }

  80% {
    transform: translatey(0);
    opacity: 1;
  }
  82% {
    transform: translatey(-3px);
    opacity: 1;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
