@import 'styles/common.scss';

$ppp-font: 2.8rem;

.fixedContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &.front {
    z-index: 3;
  }
  &.back {
    z-index: 2;
  }
}

.container {
  @include modalContainer('SKYVIOLET');
  min-width: 21rem;
  min-height: 18.75rem;
  color: black;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
  align-items: stretch;
}

.coinImage {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.guide {
  font-size: $medium-font;
  color: rgba(203, 185, 255, 1);
  text-align: center;
  letter-spacing: 0.04rem;
}

.buttons {
  @include modalButton;
}
