$anim_duration: 0.65;
$anim_delay: 0;

.circle {
  position: fixed;
  z-index: 6 !important;
  display: none;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.appear {
  position: fixed;
  z-index: 6;
  font-size: 2rem;
  color: white;
  text-align: center;
  opacity: 0;
  animation: appear #{$anim_duration}s ease-in forwards 1;
}

@for $i from 1 through 25 {
  .appear:nth-child(#{$i}) {
    animation-delay: #{($i * $anim_delay) * $anim_duration}s;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translatey(0px);
  }
  25% {
    opacity: 0.25;
    transform: translatey(-25px);
  }
  50% {
    opacity: 0.5;
    transform: translatey(-50px);
  }
  75% {
    opacity: 0.75;
    transform: translatey(-75px);
  }
  100% {
    opacity: 1;
    transform: translatey(-100px);
  }
}
