@import 'styles/common.scss';

$ppp-font: 2.8rem;

.fixedContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &.front {
    z-index: 3;
  }
  &.back {
    z-index: 2;
  }
}

.container {
  @include modalContainer('SKYVIOLET');
  min-width: 21rem;
  min-height: 18.75rem;
  color: black;
  border-radius: 0.625rem;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
  align-items: stretch;
}

.appear {
  height: 1rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  opacity: 0;
  animation: appear #{0.65}s ease-in forwards 1;
}

.coinImage {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.coinStat {
  margin-bottom: 1.5rem;
}

.guide {
  font-size: $medium-font;
  color: rgba(203, 185, 255, 1);
  text-align: center;
  letter-spacing: 0.04rem;
}

.buttons {
  @include modalButton;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 440px) {
  .coinStat {
    margin-bottom: 2.5rem;
  }
}
