@import 'styles/common.scss';

.celebratContainer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border-radius: $small-radius;
  color: black;
}

.levelRacketWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .level {
    margin: 0 0 0.2rem 0.2rem;
    color: $pp-blue;
    font-size: $giant-giant-font;
    font-weight: 700;
  }
  .exp {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    .expRate {
      margin: 0 0 0.2rem 0.2rem;
      font-size: $big-font;
    }
    .bar {
      display: flex;
      width: 100%;
      height: 1.5rem;
      border-radius: $mini-radius;
      overflow: hidden;
      .expCurrent {
        background: $g2-top;
      }
      .expLeft {
        background: $dark-gray;
      }
    }
  }
}

.buttons {
  @include select-buttons(12rem);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vh;
  height: 100vh;
}

.confetti {
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  opacity: 0;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

@keyframes scaleCup {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes confettiRain {
  0% {
    margin-top: -100vh;
    opacity: 1;
  }

  100% {
    margin-top: 100vh;
    opacity: 1;
  }
}
