@import 'styles/common.scss';

$text-shadow-red: -0.2rem 0 $pp-red, 0 0rem $pp-red, 0rem 0 $pp-red,
  0 0rem $pp-red;
$text-shadow-blue: -0.2rem 0 $pp-blue, 0 0rem $pp-blue, 0rem 0 $pp-blue,
  0 0rem $pp-blue;
$ppp-font: 3.5rem;

.celebratContainer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border-radius: $small-radius;
  color: black;
}

.pppWordBlue {
  font-size: $giant-giant-font;
  font-weight: 700;
  text-shadow: $text-shadow-red;
  color: $pp-blue;
}

.pppChangeBlue {
  font-size: $ppp-font;
  font-weight: 700;
  text-shadow: $text-shadow-red;
  color: $pp-blue;
}

.pppWordRed {
  font-size: $giant-giant-font;
  font-weight: 700;
  text-shadow: $text-shadow-blue;
  color: $pp-red;
}

.pppChangeRed {
  font-size: $ppp-font;
  font-weight: 700;
  text-shadow: $text-shadow-blue;
  color: $pp-red;
}

.levelRacketWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.3rem;
  .level {
    font-size: $giant-giant-font;
    font-weight: 700;
  }
  .exp {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    .expContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.1rem;
      .expRate {
        font-style: normal;
        font-weight: 700;
        font-size: $big-font;
        line-height: $big-font;
      }
      .expIncrease {
        margin-right: 0.2rem;
        font-style: normal;
        font-weight: 700;
        font-size: $medium-font;
        color: white;
      }
    }
    .bar {
      display: flex;
      width: 100%;
      height: 1.5rem;
      border-radius: $mini-radius;
      overflow: hidden;
      .expCurrent {
        background: $g2-top;
      }
      .expLeft {
        background: $dark-gray;
      }
    }
  }
}

.guideWord {
  margin-left: 2.7rem;
  margin-right: 2.7rem;
  text-align: center;
  font-size: $medium-font;
  font-weight: 700;
}

.buttons {
  @include select-buttons(12rem);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vh;
  height: 100vh;
}

.confetti {
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  opacity: 0;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

@keyframes scaleCup {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes confettiRain {
  0% {
    margin-top: -100vh;
    opacity: 1;
  }

  100% {
    margin-top: 100vh;
    opacity: 1;
  }
}
