@import 'styles/common.scss';

.backDrop {
  @include backdrop;
}

.container {
  @include modal-container;
}

.buttons {
  @include select-buttons;
}
.textWrap {
  overflow-y: scroll;
  height: 40vh;
  max-height: 40vh;
  padding: 0.5rem;
  color: black;
  width: auto;
  margin-bottom: 1.5rem;
}

.textWrap::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.textWrap::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-family: $title-font;
  text-shadow: $text-shadow;
  padding: 1rem;
}

.textPadding {
  margin-left: 1rem;
}
