@import 'styles/common.scss';

.opponentCard {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 17rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.3rem;
  border: solid 0.1rem rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  &.isSelected {
    border: solid 0.1rem $pp-blue;
    background: rgba(100, 100, 100, 0.2);
  }
}

.imageIdWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .userImage {
    @include userImage(3.5rem);
  }
  .intraId {
    margin-top: 0.3rem;
    color: black;
    font-size: $small-font;
    font-weight: 600;
    word-break: keep-all;
    text-align: center;
  }
}

.nickDetailWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.3rem;
  .nick {
    margin-left: 0.5rem;
    color: $pp-blue;
    font-size: $small-font;
  }
  .detail {
    margin: 0.2rem;
    color: black;
    font-size: 0.8rem;
    li {
      list-style: none;
    }
  }
}
