@import 'styles/common.scss';

.container {
  @include modal-container;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-family: $title-font;
  text-shadow: $text-shadow;
  letter-spacing: 0.1rem;
}

.ruleList {
  list-style: none;
  margin: 1.5rem 0.5rem;
  width: auto;
  height: 40vh;
  max-height: 40vh;
  color: black;
  overflow-y: scroll;
  font-weight: 700;

  >li {
    margin-top: 1rem;
  }
}



.ruleDetail {
  margin-left: 0.8rem;
  font-size: 0.9rem;
  font-weight: 400;

  >li {
    list-style: square;
    margin-top: 0.5rem;
    white-space: pre-wrap;
  }
}

.ruleList::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.ruleList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
}

.buttons {
  @include select-buttons;
}