@import 'styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 14rem;
}

.phrase {
  @include modal-phrase;
  .time {
    font-size: $giant-font;
    margin-bottom: 0.5rem;
  }
}

.buttons {
  @include select-buttons(6rem);
}
