@import 'styles/common.scss';

.container {
  @include modal-container;
}

.title {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: $title-font;
  text-shadow: $text-shadow;
}

.ruleList {
  list-style: none;
  overflow-y: scroll;
  height: 40vh;
  max-height: 40vh;
  color: black;
  width: auto;
  margin: 1.5rem 0.5rem;
}
.ruleList > li {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.ruleDetail {
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 0.8rem;
}
.ruleDetail > li {
  list-style: square;
  margin-top: 0.3rem;
}

.ruleList::-webkit-scrollbar {
  display: inherit;
  width: 5px;
  height: 1rem;
}

.ruleList::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.buttons {
  @include select-buttons;
}
