@import 'styles/common.scss';

.backdrop {
  @include backdrop;
  z-index: 3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: $small-radius;
  padding: 2.5rem 1.2rem;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
  color: white;
  font-size: $midium-font;
}
