@import 'styles/common.scss';

.backdrop {
  @include backdrop;
  z-index: 3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 1rem;
  border-radius: $small-radius;
  background: rgba(244, 221, 247, 0.93);
  color: white;
  font-size: $medium-font;
}
