/* dark - light mode */
:root {
  --bg-light: linear-gradient(180deg, #c9c9c9 0%, #6d5b93 100%);
  --bg-dark: linear-gradient(180deg, #38253a 0%, #604ecd 73%, #999772 100%);
  --text-light: #000000;
  --text-dark: #ffffff;
  --border-light: 1px solid black;
  --border-dark: 1px solid white;

  --box-shadow-light: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-dark: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);

  --highlight-yellow-light: #f8df85;
  --highlight-violet-light: #af71ff;
  --highlight-yellow-dark: #ff8534;
  --highlight-violet-dark: #af71ff;

  --box-bg-1-light: #f8f8f8;
  --box-bg-2-light: #c8c8c8;
  --box-bg-3-light: #b0b0b0;
  --box-bg-3-dark: #000000;
  --box-bg-2-dark: #232323;
  --box-bg-1-dark: #3a363b;
}

html[data-theme='light'] {
  --color-bg: var(--bg-light);
  --color-text: var(--text-light);
  --default-border: var(--border-light);
  --default-box-shadow: var(--box-shadow-light);
  --highlight-yellow: var(--highlight-yellow-light);
  --highlight-violet: var(--highlight-violet-light);
  --box-bg-1: var(--box-bg-1-light);
  --box-bg-2: var(--box-bg-2-light);
  --box-bg-3: var(--box-bg-3-light);
}

html[data-theme='dark'] {
  --color-bg: var(--bg-dark);
  --color-text: var(--text-dark);
  --default-border: var(--border-dark);
  --default-box-shadow: var(--box-shadow-dark);
  --highlight-yellow: var(--highlight-yellow-dark);
  --highlight-violet: var(--highlight-violet-dark);
  --box-bg-1: var(--box-bg-1-dark);
  --box-bg-2: var(--box-bg-2-dark);
  --box-bg-3: var(--box-bg-3-dark);
}

:root {
  color: var(--color-text);
}
