@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

/* font-size */
$giant-giant-font: 2.4rem;
$giant-big-font: 2.1rem;
$big-giant-font: 1.8rem;
$giant-font: 1.5rem;
$big-font: 1.2rem;
$medium-font: 1rem;
$small-font: 0.8rem;

/* radius */
$mini-radius: 0.3rem;
$small-radius: 0.5rem;
$medium-radius: 0.6rem;
$big-radius: 5rem;

/* color */
$pp-red: #de1825;
$pp-pink: #ffc5c8;
$pp-blue: #471df0;
$pp-gray: #7a6e7b;

$rank-red: #de1825;
$rank-purple: #b24bf1;
$rank-hotpink: #ff7ac2;
$rank-pink: #ffc5c8;
$rank-pink2: #feede3;
$rank-pink3: #ffc0d3;
$rank-blue: #471df0;

$norm-hotpink: #dc3789;
$norm-lightblue: #5acfe8;
$norm-lightblue2: #1ea1c8;
$norm-purple: #b24bf1;
$norm-emerald: #cef1d0;

$light-gray: #f0f0f0;
$gray: #dadada;
$medium-gray: #cccccc;
$dark-gray: #676767;
$white1: #e3e2e2;
$white2: #f6f6f6;

$btn-blue: #2d80ed;
$btn-purple: linear-gradient(180deg, #c66bf2 0%, rgba(96, 6, 138, 0.52) 100%);
$dark-blue: #24098f;

$g1-top: #8dbbf9;
$g1-bottom: #f0b5f2;
$g2-top: #c4fff8;
$g2-bottom: #b5bbf2;

$loser-red: #ff0303;
$winner-blue: #040eff;

$coin-yellow: #e8e230;

/* background-color */
$main-background: linear-gradient(
  180deg,
  #301451 23.82%,
  #481570 58.85%,
  #300e4b 98.44%
);
$match-background: linear-gradient(
  180deg,
  #500247 0%,
  #480141 21.35%,
  #40013a 98.44%
);

$vip-background: linear-gradient(
  180deg,
  #1f2157 0%,
  #1549cd 42.91%,
  #001049 59.9%
);

/* profile-background color */
$bg-basic: linear-gradient(
  180deg,
  #301451 23.82%,
  #481570 58.85%,
  #300e4b 98.44%
);

/* font */
$logo-font: 'Agonostic Italic', cursive;
$title-font: 'Lexend';
$admin-font: 'Inter', sans-serif;
$text-border-black: 0.1rem 0 black, 0 0.1rem black, -0.1rem 0 black,
  0 -0.1rem black;
$text-shadow-red: 2px 2px 0px $pp-red;
$text-shadow-blue: 2px 2px 0px $pp-blue;

@mixin ggCoin {
  color: $coin-yellow;
  img {
    margin-right: 0.2rem;
    transform: translateY(0.2rem);
  }
}

@mixin menu-noti-Bar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
  align-items: stretch;
}

@mixin match-noti-button {
  all: unset;
  padding: 0.2rem 0.5rem;
  margin: 0.7rem 0;
  font-weight: 700;
  color: $light-gray;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

@mixin reload-button {
  all: unset;
  width: 1.6rem;
  height: 1.6rem;
  font-weight: 700;
  color: $light-gray;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

@mixin pageWrap {
  max-width: 30rem;
  min-height: calc(100vh - 8rem);
  padding: 2rem 1.5rem;
  margin: 0 auto;
}

@mixin logoTitle($shadow) {
  font-family: $logo-font;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.1rem;
}

@mixin pageTitle {
  font-family: $title-font;
  color: white;
}

@mixin modalTitle {
  font-family: 'Lexend', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
}

@mixin backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.5);
}

@mixin button($btn-color, $txt-color, $width: 8rem, $height: 2.8rem) {
  all: unset;
  width: $width;
  height: $height;
  font-size: $medium-font;
  color: $txt-color;
  text-align: center;
  cursor: pointer;
  background: if(
    $btn-color == white,
    linear-gradient(180deg, rgba(44, 41, 46, 0.52) 0%, #454147 100%),
    $btn-color
  );
  border-radius: $small-radius;
}

@mixin select-buttons($width: 8rem, $height: 2.8rem) {
  display: flex;
  justify-content: center;
  align-items: center;
  .negative {
    input {
      @include button(white, white, $width, $height);
    }
    margin-right: 1rem;
    :hover {
      background: linear-gradient(
        180deg,
        rgba(38, 36, 40, 0.52) 0%,
        #1d1b1e 100%
      );
    }
  }
  .positive {
    input {
      background: linear-gradient(
        180deg,
        #c66bf2 0%,
        rgba(96, 6, 138, 0.52) 100%
      );
      @include button($btn-purple, white, $width, $height);
    }
    :hover {
      background: linear-gradient(
        180deg,
        #ac3ce0 0%,
        rgba(65, 4, 94, 0.72) 100%
      );
    }
  }
}

@mixin modal-phrase {
  margin: 1rem 0;
  margin-bottom: 2rem;
  text-align: center;
  .emoji {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }
  .subContent {
    margin-top: 0.5rem;
    line-height: 1.5;
  }
}

@mixin modalContainer($type) {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  justify-content: space-evenly;
  align-items: center;

  @if ($type == 'DARKPURPLE') {
    background: linear-gradient(
      180deg,
      #7f5792 0%,
      #1d0b25 48.44%,
      #775189 95.91%
    );
  } @else if ($type == 'LIGHTPINK') {
    background: rgba(237, 214, 240, 1);
  } @else if ($type == 'MISTYPINK') {
    background: rgba(240, 210, 210, 1);
  } @else if ($type == 'PINKWHITE') {
    background: linear-gradient(180deg, #ce82c6 0%, #deb8ef 100%);
  } @else if ($type == 'PINKVIOLET') {
    background: linear-gradient(180deg, #cd82ce 0%, #ba9aff 100%);
  } @else if ($type == 'SKYVIOLET') {
    background: linear-gradient(180deg, #8ba2d2 0%, #6233af 100%);
  } @else if ($type == 'SKYPINK') {
    background: linear-gradient(180deg, #829ace 0%, #deb8ef 100%);
  } @else if ($type == 'YELLOW') {
    background: linear-gradient(180deg, #f2d210 0%, #f2b210 100%);
  }
}

@mixin spanUpDownAnimation($fontSize, $padding) {
  padding: 0 $padding;
  font-size: $fontSize;
  animation: upDown 0.75s infinite;
}

@mixin userImage($size) {
  position: relative;
  width: $size;
  height: $size;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

@mixin userRankImage($size) {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

@keyframes upDown {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.2rem);
  }
}

@mixin waitAnimation($delay) {
  @include spanUpDownAnimation(0.2rem, 0.2rem);
  position: relative;
  display: inline-block;
  animation-delay: $delay;
}

@mixin modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'NanumSquare_acR', sans-serif;
  .negative > input,
  .positive > input {
    display: flex;
    width: 8rem;
    height: 2.5rem;
    padding: 0.75rem 3.1rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
  }
  .negative {
    input {
      margin-right: 1rem;
      cursor: pointer;
      background: linear-gradient(
        180deg,
        rgba(44, 41, 46, 0.52) 0%,
        #454147 100%
      );
    }
  }
  .positive {
    input {
      cursor: pointer;
      background: linear-gradient(
        180deg,
        #c66bf2 0%,
        rgba(96, 6, 138, 0.52) 100%
      );
    }
  }
}

@mixin txtColor($color: black) {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px $color;
}

@mixin tierNumber() {
  font-family: Jua;
  background: black;
  @include txtColor();
  &.red {
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    @include txtColor(#fe5196);
  }
  &.yellow {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
    @include txtColor(#f6d365);
  }
  &.green {
    background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
    @include txtColor(#28c76f);
  }
  &.blue {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    @include txtColor(#4facfe);
  }
  &.black {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    @include txtColor();
  }
  &.rainbow {
    background: linear-gradient(
      90deg,
      rgba(255, 48, 21, 0.798) 15%,
      #f6d365 38%,
      rgba(60, 238, 60, 0.553) 55.33%,
      rgba(14, 204, 238, 0.867) 70%,
      rgba(4, 4, 235, 0.568) 80.66%,
      rgb(123, 97, 224) 100%
    );
    @include txtColor(rgb(123, 97, 224));
  }
}
