$giant-giant-font: 2.4rem;
$giant-big-font: 2.1rem;
$big-giant-font: 1.8rem;
$giant-font: 1.5rem;
$big-font: 1.2rem;
$midium-font: 1rem;
$small-font: 0.8rem;

$mini-radius: 0.3rem;
$small-radius: 0.5rem;
$midium-radius: 0.6rem;
$big-radius: 5rem;

$title-font: 'Alfa Slab One', cursive;
$text-shadow: 0.1rem 0 #000, 0 0.1rem #000, -0.1rem 0 #000, 0 -0.1rem #000;

$pp-red: #de1825;
$pp-pink: #ffc5c8;
$pp-blue: #471df0;

$light-gray: #f0f0f0;
$gray: #dadada;
$midium-gray: #cccccc;
$dark-gray: #676767;

$btn-blue: #2d80ed;
$dark-blue: #24098f;

$g1-top: #8dbbf9;
$g1-bottom: #f0b5f2;
$g2-top: #c4fff8;
$g2-bottom: #b5bbf2;

$loser-red: #ff0303;
$winner-blue: #040eff;

@mixin menu-noti-Bar {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 16rem;
  height: 100vh;
}

@mixin match-noti-button {
  all: unset;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to bottom, #fff, $gray);
  margin: 0.7rem 0;
  padding: 0.2rem 0.5rem;
  &:hover {
    color: $dark-gray;
    background: linear-gradient(to bottom, $gray, #fff);
  }
}

@mixin pageWrap {
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 8rem);
  max-width: 30rem;
  margin: 0 auto;
}

@mixin logoTitle($shadow) {
  color: #fff;
  letter-spacing: 0.1rem;
  font-family: $title-font;
  text-shadow: $text-shadow, $shadow $shadow 0 $btn-blue;
}

@mixin pageTitle {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: $title-font;
  text-shadow: $text-shadow, 0.3rem 0.3rem 0 $pp-red;
}

@mixin backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

@mixin button($btn-color, $txt-color, $width: 8rem, $height: 2.8rem) {
  all: unset;
  cursor: pointer;
  border-radius: $small-radius;
  width: $width;
  height: $height;
  background: if(
    $btn-color == white,
    linear-gradient(to bottom, $btn-color, $midium-gray),
    linear-gradient(to bottom, $btn-color, $dark-blue)
  );
  color: $txt-color;
  font-size: $midium-font;
  text-align: center;
}

@mixin select-buttons($width: 8rem, $height: 2.8rem) {
  display: flex;
  align-items: center;
  justify-content: center;
  .negative {
    input {
      @include button(white, black, $width, $height);
    }
    margin-right: 1rem;
    :hover {
      background: linear-gradient(to bottom, $midium-gray, white);
    }
  }
  .positive {
    input {
      @include button($btn-blue, white, $width, $height);
    }
    :hover {
      background: linear-gradient(to bottom, $dark-blue, $btn-blue);
    }
  }
}

@mixin modal-phrase {
  text-align: center;
  line-height: 150%;
  font-size: $big-font;
  .emoji {
    font-size: $giant-big-font;
    margin-bottom: 1rem;
  }
  .subContent {
    margin-top: 0.5rem;
    font-size: $small-font;
    line-height: 1.5;
    color: $pp-blue;
  }
  margin-bottom: 2rem;
}

@mixin modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin spanUpDownAnimation($fontSize, $padding) {
  font-size: $fontSize;
  padding: $padding;
  animation: upDown 0.75s infinite;
}

@keyframes upDown {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-0.2rem);
  }
}
