@import './common.scss';

.container {
  @include pageWrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
  margin: auto 0;
  border-radius: $small-radius;
  background: linear-gradient(160deg, #ff0303, #200d6b 67%, #13083e);
}

.title {
  color: white;
  font-size: 3rem;
  font-family: $logo-font;
  letter-spacing: 0.2rem;
}

.errorMessage {
  color: white;
  font-size: $big-font;
  .errorCode {
    margin-top: 0.5rem;
    color: $medium-gray;
    font-size: $medium-font;
    text-align: center;
  }
}

.home {
  @include select-buttons(10rem, 3.5rem);
  .positive {
    input {
      font-size: $big-font;
      font-weight: 500;
      box-shadow: 0.1rem 0.1rem 0.3rem $pp-blue;
    }
  }
}
