@import 'styles/common.scss';

.container {
  @include pageWrap;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.errorContainer {
  display: flex;
  height: 30rem;
  flex-direction: column;
  margin: auto 0;
  background: linear-gradient(
    200deg,
    #660990,
    #742897,
    #823e9f,
    #8f52a6,
    #9b66ae
  );
  border-radius: $small-radius;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  @include logoText(4rem, white);
  letter-spacing: 0.2rem;
}

.error {
  font-size: $big-font;
  color: white;
  letter-spacing: 0.05rem;
  .errorCode {
    margin-top: 0.5rem;
    font-size: $medium-font;
    color: $medium-gray;
    text-align: center;
  }
}

.emojiWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  .threeDotImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-bottom: 1rem;
    div {
      width: 0.75rem;
      height: 0.75rem;
      background-color: rgba(216, 181, 221, 1);
      border-radius: 50%;
    }
  }
}

.home {
  @include select-buttons(10rem, 3.5rem);
  .positive {
    input {
      font-size: $big-font;
      font-weight: 500;
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
