@import './common.scss';

.pageWrap {
  @include pageWrap;
}

@mixin imageCircle($background-color, $width, $height) {
  background: $background-color;
  border-radius: 50%;
  text-align: center;
  width: $width;
  height: $height;
  margin: 0.5rem 0;
}

$text-shadow: 0.1rem 0 black, 0 0.1rem black, -0.1rem 0 black, 0 -0.1rem black;

.title {
  color: white;
  text-align: center;
  text-shadow: $text-shadow, 0.3rem 0.3rem 0 $pp-red;
  font-size: 4rem;
  font-weight: 0.1rem;
}

.bigContainer {
  border-radius: $small-radius;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: linear-gradient(135deg, $pp-red, $pp-blue);
  margin: 0.2rem;
  padding: 0.4rem;
}

.smallContainer {
  border-radius: $small-radius;
  display: grid;
  grid-template-columns: 1.25fr 0.5fr 1.25fr;
  align-items: center;
  background: $gray;
  margin: 0.2rem;
  padding: 0.4rem 0;
}

.smallUserInfo {
  display: flex;
  flex-direction: column;
  .smallLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    .userImage {
      @include imageCircle(white, 2rem, 2rem);
    }
    .user {
      margin-left: 0.2rem;
    }
  }

  .smallRight {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 1rem;
    .userImage {
      @include imageCircle($dark-gray, 2rem, 2rem);
    }
    .user {
      margin-right: 0.2rem;
    }
  }
}

.smallScoreBoard {
  color: black;
  text-align: center;
}

.bigUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .bigLeft {
    .userImage {
      @include imageCircle(white, 4.5rem, 4.5rem);
    }
  }
  .bigRight {
    .userImage {
      @include imageCircle($dark-gray, 4.5rem, 4.5rem);
    }
  }
}

.bigScoreBoard {
  .gameStatus {
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
  }
  .gameScore {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
  }
}

.bigUserWinRate {
  border: 0.1rem white solid;
  border-radius: $small-radius;
  margin: 0.5rem 0;
  text-align: center;
  color: white;
}

.bigUserId {
  margin: 0.5rem 0;
  text-align: center;
  text-shadow: $text-shadow;
  color: white;
}
