html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.matchingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 85vh;
  left: 75vw;
  height: 4rem;
  width: 4rem;
  border: solid 2px #000;
  border-radius: 50%;
  font-size: 2rem;
}

footer {
  text-align: center;
  font-size: 8px;
  background-color: #f5f5f5;
}
