html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-overflow-style: none;
}

@media all and (max-width: 379px) {
  html {
    font-size: 14px;
  }
}

@media all and (min-width: 380px) {
  html {
    font-size: 16px;
  }
}

@media all and (min-width: 480px) {
  html {
    font-size: 17px;
  }
}

@media all and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

@media all and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media all and (min-width: 1280px) {
  html {
    font-size: 21px;
  }
}

@media all and (min-width: 1440px) {
  html {
    font-size: 22px;
  }
}

@font-face {
  font-family: 'Overgrow';
  src: url('../public/font/Overgrow/Overgrow-Demo.woff') format('woff'),
    url('../public/font/Overgrow/Overgrow-Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/font/Montserrat/Montserrat-Regular.woff') format('woff')
    url('../public/font/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/font/Roboto/Roboto-Medium.woff') format('woff'),
    url('../public/font/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('../public/font/Lexend/Lexend-Medium.woff2') format('woff2'),
    url('../public/font/Lexend/Lexend-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Jua';
  src: url('../public/font/Jua/Jua-Regular.woff') format('woff'),
    url('../public/font/Jua/Jua-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../public/font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
    url('../public/font/Pretendard/Pretendard-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('../public/font/Pretendard/Pretendard-Black.woff2') format('woff2'),
    url('../public/font/Pretendard/Pretendard-Black.otf') format('opentype');
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard-Medium', sans-serif;
}

h1 {
  margin: 0;
}

/* admin */

/* 페이지네이션 */
ul {
  list-style: none;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  margin: 0 0.3rem;
  font-size: 1.2rem; /* $big-font */
  font-weight: 600;
  cursor: pointer;
}

ul.pagination li a {
  text-decoration: none;
  color: #f0b5f2; /* $g1-bottom */
  font-size: 1rem;
}

ul.pagination li.active a {
  color: #de1825; /* $pp-red */
}

ul.pagination li a:hover,
ul.pagination li a.active {
  font-weight: 700;
  color: #de1825; /* $pp-red */
}
