html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 페이지네이션 */
ul {
  list-style: none;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.pagination li {
  display: inline-block;
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem; /* $big-font */
  font-weight: 600;
}

ul.pagination li a {
  text-decoration: none;
  color: #f0b5f2; /* $g1-bottom */
  font-size: 1rem;
}

ul.pagination li.active a {
  color: #de1825; /* $pp-red */
}

ul.pagination li a:hover,
ul.pagination li a.active {
  font-weight: 700;
  color: #de1825; /* $pp-red */
}
