@import './common.scss';

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 0.7rem;
  color: white;
  font-size: $giant-font;
  .headerLeft {
    flex: 2;
    display: flex;
    align-items: center;
  }
  #logo {
    @include logoTitle(0.25rem);
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    #notiIcon {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
    #userImg {
      height: 2.2rem;
      width: 2.2rem;
      border: solid 1px white;
      border-radius: 50%;
    }
  }
}
