// .headerWrap {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 3rem;
//   margin: 0 1rem 0;

//   .left {
//     margin-right: 2.2rem;
//     .menuIcon {
//       font-size: 1.5rem;
//       margin-right: 1rem;
//     }
//   }

//   .middleLogo {
//     font-size: 1.1rem;
//   }

//   .right {
//     display: flex;
//     align-items: center;
//     .notiIcon {
//       margin: 0.2rem 0.5rem 0 0.5rem;
//       font-size: 1.5rem;
//     }
//     img {
//       height: 2.2rem;
//       width: 2.2rem;
//       border: solid 2px #000;
//       border-radius: 50%;
//     }
//   }
// }

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0 1rem 0;

  div:first-child {
    .menuIcon {
      font-size: 1.5rem;
      margin-right: 3.2rem;
    }
  }

  div:nth-child(2) {
    font-size: 1.1rem;
  }

  div:last-child {
    display: flex;
    align-items: center;
    .notiIcon {
      margin: 0.2rem 0.5rem 0 0.5rem;
      font-size: 1.5rem;
    }
    img {
      height: 2.2rem;
      width: 2.2rem;
      border: solid 2px #000;
      border-radius: 50%;
    }
  }
}
