.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0 1rem 0;
  #menuIcon {
    font-size: 1.5rem;
    margin-right: 3.2rem;
  }
  #logo {
    font-size: 1.1rem;
  }

  .headerRight {
    display: flex;
    align-items: center;
    #notiIcon {
      margin: 0.2rem 0.5rem 0 0.5rem;
      font-size: 1.5rem;
    }
    #userIcon {
      height: 1.8rem;
      width: 1.8rem;
    }
    img {
      height: 2.2rem;
      width: 2.2rem;
      border: solid 2px #000;
      border-radius: 50%;
    }
  }
}
