@import 'styles/agenda/common.scss';

.layout {
  @include layout;
  max-width: 100%;
  padding-top: 1px;
  grid-template:
    'top top' auto
    'content match' 17rem / 1fr 1fr;
  gap: 1rem;
  pointer-events: none;
}

.title {
  @include text(main-menu);
  display: inline-block;
  margin: 0 0 0 2rem;
  font-size: $font-size-l;
  pointer-events: auto;
  cursor: pointer;
}

.titleWarp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container {
  @include container(1);
  width: calc(100% - 2rem);
  @media screen and (min-width: 961px) {
    width: auto;
    height: calc(100% - 4.7rem);
  }
  pointer-events: auto;
  cursor: pointer;
}

.flex {
  display: flex;
  grid-area: content;
}

.content {
  @media screen and (max-width: 960px) {
    margin: 1rem;
  }
}

.match {
  grid-area: match;
  width: calc(100% - 2rem);
  .container {
    width: 100%;
    height: calc(100% - 4.7rem);
  }
}

// grid-template-areas:
.top,
.ticket,
.pingpong {
  width: 100%;
}
.top {
  grid-area: top;
}
.ticket {
  grid-area: ticket;
}
.pingpong {
  grid-area: pingpong;
}

.arrowIcon {
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: auto;
  cursor: pointer;
}
