@import './common.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-index);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  background: white;
  border: solid 1px black;
  border-radius: 2%;
  position: aboslute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30rem;
}

.resultContainer {
  border: solid 1px black;
  border-radius: 2%;
  background: lightgray;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 20rem;
  height: 20rem;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
  .userImage {
    background: white;
    border-radius: 50%;
    border: solid 1px black;
    width: 5rem;
    height: 5rem;
    margin: 1rem 0;
  }
  .userId {
    font-size: 1rem;
  }
}

.finalScore {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  padding: auto;
  div {
    font-size: 1.2rem;
    text-align: center;
  }
  input {
    font-size: 1.2rem;
    text-align: center;
    height: 2rem;
    width: 5rem;
  }
}

.submitButton {
  input {
    border-radius: 2%;
    font-size: 1rem;
    background: black;
    color: white;
    width: 8rem;
    height: 3rem;
    margin: 0 0.2rem;
  }
}
