@import './common.scss';

.backdrop {
  @include backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  @include modalContainer(30rem);
  font-size: $midium-font;
}

.resultContainer {
  border: solid 3px white;
  border-radius: $small-radius;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 20rem;
  height: 17rem;
}

.players {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: $big-font;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userImage {
    background: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 6px $dark-gray;
  }
}

.finalScore {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  padding: auto;
  font-size: $big-font;
  text-align: center;
  input {
    font-size: $big-font;
    text-align: center;
    height: 2.5rem;
    width: 5rem;
  }
}

.submitButton {
  cursor: pointer;
  input {
    @include button($btn-blue, white);
    margin: 0 0.8rem;
  }
  :hover {
    background: $dark-blue;
  }
}
