@import './common.scss';

.container {
  background-image: url('../public/background_img.png');
  background-size: contain;
  background-attachment: fixed;
}

.matchingButton {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2.3rem;
  background: white;
  box-shadow: 3px 3px 10px black;
}
