@import './common.scss';

.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    padding-bottom: 5rem;
  }

  .title {
    @include logoTitle(0.4rem);
    font-size: 5rem;
  }

  .button {
    @include button($btn-blue, white);
    box-shadow: 0.1rem 0.1rem 0.3rem $pp-blue;
    width: 13rem;
    height: 3.5rem;
    font-size: $big-font;
    font-weight: 500;
    margin: 0;
  }
}
