@import 'styles/common.scss';

.loginContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url('../public/image/takgu/login_background_img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  .innerContainer {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .logoContainer {
      position: relative;
      display: flex;
      width: 18rem;
      height: 7rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo1 {
      position: absolute;
      width: 12rem;
      min-width: 110px;
      height: 1.8rem;
      min-height: 45px;
    }

    .logo2 {
      position: absolute;
      width: 20rem;
      height: 7.5rem;
      margin-top: 7rem;
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7rem;
    }

    .kakaoBtn {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 15rem;
      cursor: pointer;
      background: linear-gradient(180deg, #f2d210 0%, #f2b210 100%);
      border-radius: 10%;
    }
  }
}
