@import 'styles/common.scss';

.pageWrap {
  @include pageWrap;
}

.container {
  border-radius: $small-radius;
  padding: 2.5rem 1.2rem;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
