@import 'styles/common.scss';

.pageWrap {
  @include pageWrap;
  height: calc(100vh - 8rem);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  padding: 2.5rem 1.2rem;
  border-radius: $small-radius;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
}
