.shadow {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.menubarWrap {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 16rem;
  height: 100vh;
  background-color: #ffff;
  nav {
    margin: 1rem 0.5rem 0 0;
    font-size: 1.1rem;
  }
  li {
    list-style: none;
    margin: 1rem 0 1rem 0;
  }
  #subMenu {
    font-size: 0.8rem;
  }
}
