@import './common.scss';

.shadow {
  @include shadow;
}

.menubarWrap {
  @include menu-noti-bar;
  nav {
    margin: 1rem 0.5rem 0 0;
    font-size: $big-font;
  }
  li {
    list-style: none;
    margin: 1rem 0 1rem 0;
  }
  #subMenu {
    font-size: $small-font;
  }
}
