@import './common.scss';

.backdrop {
  @include backdrop;
}

.menuContainer {
  @include menu-noti-Bar;
  background: linear-gradient(to right bottom, $g1-top, $g1-bottom);
  padding: 5rem 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  .menu {
    margin-bottom: 4rem;
    font-size: $giant-font;
    div {
      margin-bottom: 1.5rem;
    }
  }
  .subMenu {
    font-size: $midium-font;
    div {
      margin-bottom: 0.8rem;
    }
  }
}
