@import './common.scss';

.backdrop {
  @include backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  @include modalContainer(30rem);
  font-size: $midium-font;
}
