@import './common.scss';

.backdrop {
  @include backdrop;
}

.container {
  @include menu-noti-Bar;
  background: linear-gradient(to right bottom, $g2-top, $g2-bottom);
  margin-left: auto;
  padding: 1.15rem 0.7rem;
  button:nth-child(1) {
    all: unset;
    color: $dark-gray;
    font-size: 1.5rem;
  }
  button:nth-child(2) {
    all: unset;
    text-align: center;
    border-radius: $small-radius;
    background: linear-gradient(to bottom, #fff, $gray);
    margin: 2.5rem 0 0.7rem auto;
    padding: 0.2rem 0.5rem;
    &:hover {
      color: #fff;
      background: linear-gradient(to bottom, $btn-blue, $dark-blue);
    }
  }
}
