@import './common.scss';

.backdrop {
  @include backdrop;
}

.notiContainer {
  @include menu-noti-Bar;
  background: linear-gradient(to right bottom, $g2-top, $g2-bottom);
  margin-left: auto;
  padding: 0.7rem;
  button {
    all: unset;
    text-align: center;
    border-radius: $small-radius;
    background: linear-gradient(to bottom, white, $gray);
    margin-bottom: 0.7rem;
    padding: 0.2rem 0;
  }
}
