@import 'styles/common.scss';
@import 'styles/ProfileColor.scss';

@mixin imageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gameResultImage($size) {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.header {
  @include imageWrap;
  div {
    @include userImage(2.2rem);
    cursor: pointer;
  }
}

.gameResultBig {
  @include imageWrap;
  div {
    @include gameResultImage(2.8rem);
    cursor: pointer;
  }
}

.gameResultSmall {
  @include imageWrap;
  div {
    @include gameResultImage(2rem);
  }
}

.mainPageProfile {
  @include imageWrap;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
  // 이미지띠 색상
  background: $profile-edge1;
  div {
    @include userImage(4rem);
    cursor: pointer;
    border: 0;
  }
}

.menuProfile {
  @include imageWrap;
  height: 4.3rem;
  width: 4.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
  background: $profile-edge0;
  div {
    @include userImage(3.9rem);
    cursor: pointer;
    border: 0;
  }
}

.afterGameModal {
  @include imageWrap;
  div {
    @include userImage(4.375rem);
    margin-bottom: 1rem;
  }
}

.mainProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 50%;
  width: 8.8rem;
  height: 8.8rem;
  // 이미지띠 색상
  background: $profile-edge0;
  div {
    @include userImage(8rem);
  }
}

// TODO: 지우기!!
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    #0030ac 0%,
    #90a5ff 50%,
    #cb8fff 100%
  );
  div {
    @include userImage(4.7rem);
  }
}

.ranktropybig {
  @include imageWrap;
  height: 7.2rem;
  width: 7.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
  background: $profile-edge2;
  div {
    @include userRankImage(6.5rem);
    cursor: pointer;
  }
}

.ranktropy {
  @include imageWrap;
  height: 5rem;
  width: 5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
  background: $profile-edge3;
  div {
    @include userRankImage(4.5rem);
    cursor: pointer;
  }
}
.ranktier {
  @include imageWrap;
  div {
    @include userRankImage(1.5rem);
  }
}

@media (max-width: 457px) {
  .ranktropy {
    height: 4.4rem;
    width: 4.4rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 50%;
    background: $profile-edge0;
    div {
      @include userRankImage(4rem);
    }
  }
  .ranktropybig {
    height: 5.5rem;
    width: 5.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 50%;
    background: $profile-edge0;
    div {
      @include userRankImage(5rem);
    }
  }
}
