@import 'styles/common.scss';
@import 'styles/ProfileColor.scss';

@mixin imageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gameResultImage($size) {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.header {
  @include imageWrap;
  div {
    @include userImage(2.2rem);
    cursor: pointer;
  }
}

.gameResultBig {
  @include imageWrap;
  div {
    @include gameResultImage(2.8rem);
    cursor: pointer;
  }
}

.gameResultSmall {
  @include imageWrap;
  div {
    @include gameResultImage(2rem);
  }
}

.mainPageProfile {
  @include imageWrap;
  @include profileEdge(4.4rem);
  background-color: white;
  div {
    @include userImage(4rem);
    cursor: pointer;
    border: 0;
  }
}

.menuProfile {
  @include imageWrap;
  @include profileEdge(4.3rem);
  div {
    @include userImage(3.9rem);
    cursor: pointer;
    border: 0;
  }
}

.afterGameModal {
  @include imageWrap;
  div {
    @include userImage(4.375rem);
    margin-bottom: 1rem;
  }
}

.mainProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  @include profileEdge(8.8rem);
  div {
    @include userImage(8rem);
  }
}

.ranktropybig {
  @include imageWrap;
  @include profileEdge(7.2rem);
  div {
    @include userRankImage(6.5rem);
    cursor: pointer;
  }
}

.ranktropy {
  @include imageWrap;
  @include profileEdge(5rem);
  div {
    @include userRankImage(4.5rem);
    cursor: pointer;
  }
}
.ranktier {
  @include imageWrap;
  div {
    position: relative;
    width: 1.4rem;
    height: 1.5rem;
  }
}

.profiletier {
  @include imageWrap;
  div {
    position: relative;
    width: 1.7rem;
    height: 2rem;
  }
}

@media (max-width: 457px) {
  .ranktropy {
    @include profileEdge(4.4rem);
    div {
      @include userRankImage(4rem);
    }
  }
  .ranktropybig {
    @include profileEdge(5.5rem);
    div {
      @include userRankImage(5rem);
    }
  }
}
