/* profile-edge color */
// TODO: 16가지 색상 추가 -> (9 /16)
$profile-edge0: #666666;
$profile-edge1: linear-gradient(to right bottom, #a8ff78 30%, #78ffd6 70%);
$profile-edge2: linear-gradient(to right bottom, #4ba2f9 30%, #ce85ff 70%);
$profile-edge3: linear-gradient(to right bottom, #005aa7 30%, #fffde4 70%);
$profile-edge4: linear-gradient(to right bottom, #b20a2c 30%, #fffbd5 70%);
$profile-edge5: linear-gradient(to right bottom, #74ebd5 30%, #acb6e5 70%);
$profile-edge6: linear-gradient(to right bottom, #000c40 30%, #f0f2f0 70%);
$profile-edge7: linear-gradient(
  to right bottom,
  #0052d4 0%,
  #65c7f7 50%,
  #9cecfb 100%
);
$profile-edge8: linear-gradient(
  to right bottom,
  #ffffff 0%,
  #d9ff4e 50%,
  #fffc68 100%
);
$profile-edge9: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge10: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge11: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge12: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge13: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge14: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge15: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);
$profile-edge16: linear-gradient(
  to right bottom,
  #0030ac 0%,
  #90a5ff 50%,
  #8fffa4 100%
);

@mixin profileEdge($size) {
  height: $size;
  width: $size;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
  &.basic {
    background: $profile-edge0;
  }
  &.edge1 {
    background: $profile-edge1;
  }
  &.edge2 {
    background: $profile-edge2;
  }
  &.edge3 {
    background: $profile-edge3;
  }
  &.edge4 {
    background: $profile-edge4;
  }
  &.edge5 {
    background: $profile-edge5;
  }
  &.edge6 {
    background: $profile-edge6;
  }
  &.edge7 {
    background: $profile-edge7;
  }
  &.edge8 {
    background: $profile-edge8;
  }
  &.edge9 {
    background: $profile-edge9;
  }
  &.edge10 {
    background: $profile-edge10;
  }
  &.edge11 {
    background: $profile-edge11;
  }
  &.edge12 {
    background: $profile-edge12;
  }
  &.edge13 {
    background: $profile-edge13;
  }
  &.edge14 {
    background: $profile-edge14;
  }
  &.edge15 {
    background: $profile-edge15;
  }
  &.edge16 {
    background: $profile-edge16;
  }
}
