@import './common.scss';

/* 나의 랭킹 */

.myRank {
  height: 2rem;
  line-height: middle;
  font-weight: 600;
  font-size: $midium-font;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.1rem $pp-blue;
  text-align: center;
  span {
    cursor: pointer;
    color: $g1-top;
  }
}

/* Ranking 타이틀 */
.pageWrap {
  @include pageWrap;
}

.title {
  @include pageTitle;
}

.container {
  font-size: $small-font;
}

@mixin rankGrid {
  display: grid;
  grid-template-columns: 12% 30% auto 12%;
  align-items: center;
  justify-items: center;
  border-radius: $big-radius;
  color: $dark-gray;
  height: 2.5rem;
  padding: 0 0.2rem;
  margin-top: 0.15rem;
  div:nth-child(2) {
    justify-self: start;
  }
}

/* Rank List 구분 */
.division {
  @include rankGrid;
  background: $pp-red;
  color: white;
  font-weight: 700;
}

/* RankList */
.odd {
  @include rankGrid;
  background: white;
}
.even {
  @include rankGrid;
  background: $gray;
}
.myself {
  @include rankGrid;
  background: $g1-bottom;
  border: 0.07rem solid $pp-red;
}

.rankData {
  .topRank {
    justify-self: center;
    font-weight: 700;
    color: $loser-red;
  }
  .rank {
    justify-self: center;
    color: $dark-gray;
  }
  .userId {
    justify-self: start;
    font-weight: 700;
    color: black;
    .ppp {
      font-weight: 400;
      font-size: 0.7rem;
      color: $dark-gray;
    }
  }
  .statusMessage {
    justify-self: center;
    color: $dark-gray;
  }
  .winRate {
    justify-self: center;
    font-weight: 600;
    color: $winner-blue;
  }
}

/* Main */

.mainContainer {
  font-size: 1.05rem;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $big-radius;
  background: $pp-red;
  height: 2.9rem;
  font-size: 1.5rem;
  color: white;
  font-family: $title-font;
  text-shadow: $text-shadow;
  letter-spacing: 0.1rem;
}

.mainData {
  display: grid;
  grid-template-columns: 1.5fr 4fr 2fr;
  align-items: center;
  background: $pp-pink;
  margin-top: 0.2rem;
  height: 2.9rem;
  border-radius: $big-radius;
  .rank {
    text-align: center;
    font-weight: 700;
    color: $pp-red;
  }
  .userId {
    text-align: left;
    font-weight: 700;
    color: black;
    .ppp {
      font-weight: 500;
      font-size: 0.9rem;
      color: $dark-gray;
    }
  }
  .winRate {
    text-align: center;
    color: $winner-blue;
  }
}
