.myRank {
  width: flex;
  font-size: 2rem;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #eeeeee;
  text-align: center;
}

.container {
  width: flex;
  font-size: smaller;
  height: flex;
  padding: 5px;
  align-items: center;
  background-color: #ffffff;
}

.title {
  width: flex;
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
}

.division {
  display: flex;
  background-color: #a4d1dd;
  width: flex;
  height: 45px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}

.person {
  display: flex;
  background-color: #d3f2f8;
  width: flex;
  height: 45px;
  padding: 5px;
  border-radius: 10px;
}

.rank {
  width: 10%;
  display: flex;
  height: 50px;
  margin: 10px;
  float: left;
}

.userId {
  width: 30%;
  display: flex;
  height: 50px;
  margin: 10px;
  float: left;
}

.statusMessage {
  width: 50%;
  display: flex;
  height: 50px;
  margin: 10px;
}

.winRate {
  width: 10%;
  display: flex;
  height: 50px;
  margin: 10px;
  float: right;
}

.mainRank {
  width: 20%;
  display: flex;
  height: 50px;
  margin: 10px;
  float: left;
}

.mainUserId {
  width: 50%;
  display: flex;
  height: 50px;
  margin: 10px;
  float: left;
}

.mainPpp {
  width: 30%;
  display: flex;
  height: 50px;
  margin: 10px;
  float: left;
}
