@import './common.scss';

.searchBar {
  font-size: $midium-font;
  background: white;
  border-radius: $small-radius;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-top: 1rem;
  input {
    all: unset;
    width: 15rem;
  }
  .buttons {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    span {
      display: flex;
      align-items: center;
      margin: 0 0.2rem;
      text-align: center;
    }
  }
}

.dropdown {
  background: $light-gray;
  border-radius: $small-radius;
  padding: 0.5rem 0.7rem;
  div {
    padding: 0.5rem 0;
  }
}
