@import './common.scss';

.sectionWrap {
  margin: 2rem 0;
  text-align: right;
  a {
    display: block;
    margin: 0.2rem;
    font-size: $small-font;
  }
  section {
    // text-align: left;
    border: solid 2px #000;
    padding: 0.5rem;
    #title {
      font-size: $big-font;
    }
  }
}
