@import 'styles/common.scss';

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    #0030ac 0%,
    #90a5ff 50%,
    #cb8fff 100%
  );
  border-radius: 3rem;
  padding: 0.3rem;
  .button {
    border-width: 0;
    border-radius: 3rem;
    background-color: black;
    font-size: $big-giant-font;
    cursor: pointer;
    color: white;
    height: 4rem;
  }
}
