@import 'styles/common.scss';

.container {
  @include modalContainer('PINKWHITE');
}

.phrase {
  @include modal-phrase;
  color: rgba(49, 47, 49, 1);
  white-space: pre-wrap;
  .message {
    padding: 1rem;
    font-size: 1.125rem;
  }
  .subContent {
    padding-bottom: 1rem;
    font-size: 0.9rem;
  }
}
