@import 'styles/common.scss';

.container {
  @include modal-container;
  background: linear-gradient(180deg, #ce82c6 0%, #deb8ef 100%);
}

.phrase {
  @include modal-phrase;
  white-space: pre-wrap;
  color: rgba(49, 47, 49, 1);
  .message {
    font-size: 1.125rem;
    font-family: 'NanumSqaure_acEB', sans-serif;
    padding: 1rem;
  }
  .subContent {
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }
}

.buttons {
  @include modalButton;
}
