@import 'styles/common.scss';

.container {
  @include modalContainer('SKYPINK');
}

.phrase {
  @include modal-phrase;
  color: rgba(49, 47, 49, 1);
  .time {
    margin-bottom: 0.5rem;
    font-family: 'NanumSquare_acEB', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.06rem;
  }
  .message {
    font-family: 'NanumSquare_acR', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.04rem;
  }
}
