@import 'styles/common.scss';

.container {
  @include modalContainer('DARKPURPLE');
  width: 80vw;
  max-width: 20rem;
}

.title {
  margin: 2.75rem 0;
  font-family: 'Lexend';
  font-size: 2.25rem;
  color: #f8f8ff;
  text-shadow: 0px 0px 12px #ffffff;
}

.matchRadioBoxWrap {
  box-sizing: border-box;
  width: 100%;
}

.ruleList {
  width: 100%;
  height: 60vh;
  max-height: 285px;
  padding: 1rem;
  margin: 0 0.6rem 1.75rem;
  overflow-y: scroll;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  list-style: none;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;

  > li {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }
}

.ruleTitle {
  display: flex;
  align-items: center;
  vertical-align: middle;
  &.withIcon {
    :first-child {
      min-width: 1.5rem;
      max-width: 1.5rem;
      min-height: 1.5rem;
      max-height: 1.5rem;
    }
    :last-child {
      margin-left: 0.5rem;
    }
  }
  &.withoutIcon {
    margin-left: 0.5rem;
  }
}

.ruleDetail {
  padding: 0.5rem 0.5em 0.5rem 1.5rem;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  font-weight: 400;

  > li {
    margin: 0.4rem 0;
    white-space: pre-wrap;
    list-style: square;
  }
}

.ruleList::-webkit-scrollbar {
  display: inherit;
  width: 6px;
  height: 1rem;
}

.ruleList::-webkit-scrollbar-thumb {
  background: #c6c4c4;
  border-radius: 6px;
}

@mixin modalButton($color) {
  padding: 0.75rem 2.25rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  @if ($color == 'DARKPURPLE') {
    background: linear-gradient(
      180deg,
      #c66bf2 0%,
      rgba(96, 6, 138, 0.52) 100%
    );
  }
}
