@import 'styles/common.scss';

.container {
  @include modalContainer('YELLOW');
}

.resultContainer {
  display: flex;
  width: 18rem;
  height: 3rem;
  flex-direction: column;
  font-family: $common-en-font;
  font-size: 1.2rem;
  color: black;
  border-radius: 0.625rem;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  button {
    display: flex;
    width: 15rem;
    height: 2.5rem;
    padding: 0.75rem 3.1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: black;
    cursor: pointer;
    border: 0;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
  }
}
