@import 'styles/common.scss';

.container {
  @include modalContainer('PINKWHITE');
}

.phrase {
  @include modal-phrase;
  .message {
    padding: 1rem;
    font-family: 'NanumSqaure_acEB', sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.04rem;
  }
}
