@import 'styles/common.scss';

.container {
  @include modalContainer('MISTYPINK');
  align-items: stretch;
}

.title {
  display: flex;
  padding-bottom: 1rem;
  font-family: 'Overgrow', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(122, 110, 123, 1);
  justify-content: center;
  align-items: center;
}

.phrase {
  display: flex;
  padding-bottom: 1.5rem;
  font-family: 'NanumSquare_acEB';
  font-size: 1.5rem;
  font-weight: 800;
  color: rgba(122, 110, 123, 1);
  letter-spacing: 0.04rem;
  justify-content: center;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    flex-direction: row;
    margin-bottom: 0.5rem;
    label {
      margin-left: 0.5rem;
      color: rgba(18, 23, 37, 1);
    }
  }
}

.contentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.3rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid rgba(221, 200, 224, 1);
  border-radius: 0.625rem;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  textarea {
    height: 3rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    resize: none;
    border: 0;
  }
  :focus {
    outline: none;
  }
  div {
    display: flex;
    font-size: $small-font;
    color: $dark-gray;
    justify-content: flex-end;
  }
}
