@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import '~react-big-calendar/lib/sass/styles';

.calendarBody {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  background: linear-gradient(#f4f5fb, #e8ebfc);
}

.calendarView {
  position: relative;
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  background-color: #f9f9fc;
  border-radius: 0.5rem;
}

.calendarBox {
  position: relative;
  display: flex;
  width: 100%;
  margin: 4rem 2rem 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #ebedf6;
  justify-content: center;
  align-items: center;
}
