.sidebarOpen {
  position: relative;
  min-width: 250px;
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  border-bottom-left-radius: 0.5rem;
}

.profile {
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  border-bottom: 1px solid #b4bdee;
}

.accordianMenu {
  display: flex;
  padding: 0 40px;
  color: #c1c8f0;
  align-items: center;
  justify-content: flex-start;
  p {
    width: 100%;
    padding-left: 15px;
    font-size: 15px;
    color: #785ad2;
  }
}

.accordianContent {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 65px;
}

.groupInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupField {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

@media (max-width: 768px) {
  .sidebarClose {
    position: absolute;
    top: 0;
    left: -16rem;
    transition: transform 0.3s ease;
  }

  .sidebarOpen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 13rem;
    height: 100%;
  }
}
